@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/amatic-sc/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/amatic-sc/AmaticSC-Bold.ttf') format('truetype');
}
