@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/atkinson/AtkinsonHyperlegible-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/atkinson/AtkinsonHyperlegible-Italic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/atkinson/AtkinsonHyperlegible-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/atkinson/AtkinsonHyperlegible-BoldItalic.ttf')
    format('truetype');
}
