@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/cinzel/Cinzel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/cinzel/Cinzel-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/cinzel/Cinzel-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/cinzel/Cinzel-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/cinzel/Cinzel-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/cinzel/Cinzel-Black.ttf') format('truetype');
}
