@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/eczar/Eczar-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/eczar/Eczar-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/eczar/Eczar-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/eczar/Eczar-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/eczar/Eczar-ExtraBold.ttf') format('truetype');
}
