@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 100;
  src: url('assets/fonts/kanit/Kanit-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 100;
  src: url('assets/fonts/kanit/Kanit-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/kanit/Kanit-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 200;
  src: url('assets/fonts/kanit/Kanit-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/kanit/Kanit-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/kanit/Kanit-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/kanit/Kanit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/kanit/Kanit-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/kanit/Kanit-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 500;
  src: url('assets/fonts/kanit/Kanit-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/kanit/Kanit-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/kanit/Kanit-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/kanit/Kanit-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/kanit/Kanit-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/kanit/Kanit-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 800;
  src: url('assets/fonts/kanit/Kanit-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/kanit/Kanit-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-weight: 900;
  src: url('assets/fonts/kanit/Kanit-BlackItalic.ttf') format('truetype');
}
