@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/orbitron/Orbitron-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/orbitron/Orbitron-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/orbitron/Orbitron-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/orbitron/Orbitron-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/orbitron/Orbitron-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/orbitron/Orbitron-Black.ttf') format('truetype');
}
