@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/quicksand/Quicksand-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/quicksand/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/quicksand/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/quicksand/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
}
