@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/saira/Saira-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 200;
  src: url('assets/fonts/saira/Saira-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/saira/Saira-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/saira/Saira-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/saira/Saira-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/saira/Saira-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/saira/Saira-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 500;
  src: url('assets/fonts/saira/Saira-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/saira/Saira-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/saira/Saira-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/saira/Saira-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Saira';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/saira/Saira-BoldItalic.ttf') format('truetype');
}
