@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/source-sans-3/SourceSans3-ExtraLight.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 200;
  src: url('assets/fonts/source-sans-3/SourceSans3-ExtraLightItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/source-sans-3/SourceSans3-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/source-sans-3/SourceSans3-LightItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/source-sans-3/SourceSans3-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/source-sans-3/SourceSans3-Italic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/source-sans-3/SourceSans3-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 500;
  src: url('assets/fonts/source-sans-3/SourceSans3-MediumItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/source-sans-3/SourceSans3-SemiBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/source-sans-3/SourceSans3-SemiBoldItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/source-sans-3/SourceSans3-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/source-sans-3/SourceSans3-BoldItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/source-sans-3/SourceSans3-ExtraBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 800;
  src: url('assets/fonts/source-sans-3/SourceSans3-ExtraBoldItalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/source-sans-3/SourceSans3-Black.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 900;
  src: url('assets/fonts/source-sans-3/SourceSans3-BlackItalic.ttf')
    format('truetype');
}
