<template>
  <q-form class="row col">
    <div
      class="col-12 col-md-auto column q-col-gutter-sm"
      :style="isSmall ? '' : 'min-width: 420px'"
    >
      <q-scroll-area class="col q-my-sm q-pr-md">
        <p class="text-h6 text-primary">{{ t('ui.basicSettings') }}</p>
        <q-select
          v-model="model"
          :options="DiffusionModels"
          :label="t('images.generationModel')"
          emit-value
          map-options
        />
        <q-select
          v-model="negativePrompt"
          :options="NegativePromptPresets"
          @update:model-value="syncUcPreset"
          :label="t('images.negativePromptPreset')"
          emit-value
          map-options
        />
        <div class="row full-width">
          <q-input
            type="text"
            :label="t('images.width')"
            :readonly="!editable && width !== undefined"
            v-model="params.width"
            class="col"
          />
          <q-btn
            icon="close"
            class="col-auto q-pa-sm q-ma-sm"
            :disable="
              !editable && (width !== undefined || height !== undefined)
            "
            @click="flipDimensions"
          />
          <q-input
            type="text"
            :label="t('images.height')"
            :readonly="!editable && height !== undefined"
            v-model="params.height"
            class="col"
          />
        </div>
        <q-select
          :disable="!editable && (width !== undefined || height !== undefined)"
          :options="DefaultImageDimensions"
          v-model="currentDimensionPreset"
          @update:model-value="resetDimensionPreset"
          map-options
          emit-value
          :label="t('images.dimensionPreset')"
        />
        <q-input
          type="textarea"
          v-model="inputPrompt"
          :label="t('images.prompt')"
          autogrow
        />
        <q-input
          type="textarea"
          :label="t('images.undesiredContent')"
          v-model="params.negativePrompt"
        />
        <q-separator class="q-my-md" />
        <p class="text-h6 text-primary">{{ t('ui.advancedSettings') }}</p>
        <p class="text-body1">{{ t('images.steps') }}: {{ params.steps }}</p>
        <q-slider v-model="params.steps" :min="1" :max="50" :step="1" />
        <p class="text-body1">
          {{ t('images.promptGuidance') }}: {{ params.scale }}
        </p>
        <q-slider v-model="params.scale" :min="0" :max="10" :step="0.1" />
        <q-input v-model="params.seed" :label="t('images.seed')" />
        <q-select
          v-model="params.sampler"
          :options="ImageSamplers"
          :label="t('images.sampler')"
          emit-value
          map-options
        />
        <p class="text-body1">
          {{ t('images.undesiredContentStrength') }}:
          {{ parseInt(params.uncondScale * 100) }}%
        </p>
        <q-slider
          v-model="params.uncondScale"
          :min="0"
          :max="1.5"
          :step="0.01"
        />
        <p class="text-body1">
          {{ t('images.promptGuidanceRescale') }}:
          {{ params.cfgRescale }}
        </p>
        <q-slider v-model="params.cfgRescale" :min="0" :max="1" :step="0.01" />
        <q-select
          v-model="params.noiseSchedule"
          :options="NoiseSchedules"
          :label="t('images.noiseSchedule')"
          emit-value
          map-options
        />
      </q-scroll-area>
      <div class="col-auto">
        <q-btn
          class="full-width"
          :label="t('ai.headers.generate')"
          color="primary"
          icon-right="send"
          @click="generateImage"
          :disable="apiBusy"
        />
      </div>
      <div class="col-auto" v-if="prompt !== undefined">
        <q-btn
          class="full-width"
          :label="t('images.imageGallery')"
          color="secondary"
          icon-right="gallery_thumbnail"
          @click="dialogImageSelector = true"
        />
      </div>
      <div class="col-auto" v-if="prompt !== undefined">
        <q-btn
          class="full-width"
          :label="t('images.useImage')"
          color="secondary"
          icon-right="image"
          @click="useImage"
          :disable="apiBusy || currentImage === null"
        />
      </div>
    </div>
    <div class="col-12 col-md q-pa-md">
      <div class="fit text-primary q-pa-md" style="border: 1px solid">
        <div class="fit" v-if="!apiBusy">
          <q-img
            v-if="currentImage !== null"
            fit="contain"
            class="fit"
            :src="currentImage.content"
          />
        </div>
        <div class="col-12 col-md fit text-center" v-else>
          <q-spinner-puff class="q-mt-xl" color="primary" size="50%" />
        </div>
      </div>
    </div>
  </q-form>
  <q-dialog
    persistent
    maximized
    v-model="dialogImageSelector"
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="column fit">
      <q-card-section class="col column">
        <image-selector @image-selected="selectImage" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { defineComponent, ref, Ref, reactive, onMounted, computed } from 'vue';
import { ImageParameters, GeneratedImage } from 'stores/types';
import { useI18n } from 'vue-i18n';
import { useNaiStore } from 'stores/nai';
import { useImageStore } from 'stores/image';
import { storeToRefs } from 'pinia';
import {
  DiffusionModels,
  NegativePromptPresets,
  ImageSamplers,
  NoiseSchedules,
  deepClone,
} from 'stores/helpers';
import ImageSelector from './ImageSelector.vue';
import DefaultImageDimensions from 'stores/default-image-dimensions.json';

export default defineComponent({
  name: 'ImageGenerator',
  props: {
    prompt: String,
    height: Number,
    width: Number,
    editable: Boolean,
  },
  components: {
    ImageSelector,
  },
  setup(props, { emit }) {
    const $q = useQuasar();
    const naiStore = useNaiStore();
    const imageStore = useImageStore();
    const { apiBusy } = storeToRefs(imageStore);
    const currentDimensionPreset = ref('');
    const params = reactive({
      addOriginalImage: false,
      cfgRescale: 0,
      controlnetStrength: 1,
      dynamicThresholding: false,
      height: 1024,
      legacy: false,
      nSamples: 1,
      negativePrompt: '',
      noiseSchedule: 'native',
      qualityToggle: true,
      sampler: 'k_euler',
      scale: 5,
      seed: Math.floor(Math.random() * (999999999 - 100000000 + 1)) + 100000000,
      sm: false,
      smDyn: false,
      steps: 28,
      ucPreset: 0,
      uncondScale: 1,
      width: 1024,
    } as ImageParameters);
    const { t } = useI18n({ useScope: 'global' });
    const model = ref('nai-diffusion-3');
    const negativePrompt = ref(NegativePromptPresets[0].value);
    const inputPrompt = ref('');
    const currentImage: Ref<GeneratedImage | null> = ref(null);
    const dialogImageSelector: Ref<boolean> = ref(false);

    onMounted(() => {
      inputPrompt.value = props.prompt || inputPrompt.value;
      params.height = props.height || params.height;
      params.width = props.width || params.width;
    });

    const isSmall = computed(() => {
      return $q.screen.xs || $q.screen.sm;
    });

    const generateImage = async (): Promise<void> => {
      const imageParams: ImageParameters = deepClone(params);
      if (imageParams.negativePrompt === '') {
        imageParams.negativePrompt = negativePrompt.value;
      }
      params.seed =
        Math.floor(Math.random() * (999999999 - 100000000 + 1)) + 100000000;
      const imageId = (await imageStore.generateImage(
        inputPrompt.value,
        model.value,
        imageParams
      )) as string;
      naiStore.updateUserData();
      currentImage.value = (await imageStore.getImageById(
        imageId
      )) as GeneratedImage;
    };

    const useImage = (): void => {
      if (currentImage.value !== null)
        emit('imageGenerated', currentImage.value.id);
    };

    const flipDimensions = () => {
      const width = params.width;
      params.width = params.height;
      params.height = width;
    };

    const syncUcPreset = (value) => {
      params.ucPreset = NegativePromptPresets.indexOf(value);
    };

    const resetDimensionPreset = (newValue: string) => {
      if (newValue !== '') {
        const dimensions = newValue.split(':');
        if (dimensions.length === 2) {
          const width = parseInt(dimensions[0], 10);
          const height = parseInt(dimensions[1], 10);

          params.width = width;
          params.height = height;
        }
      }
    };

    const selectImage = async (imageId: string) => {
      currentImage.value = (await imageStore.getImageById(
        imageId
      )) as GeneratedImage;
      dialogImageSelector.value = false;
    };

    return {
      flipDimensions,
      params,
      inputPrompt,
      t,
      DiffusionModels,
      NegativePromptPresets,
      model,
      negativePrompt,
      ImageSamplers,
      NoiseSchedules,
      syncUcPreset,
      generateImage,
      apiBusy,
      currentImage,
      useImage,
      currentDimensionPreset,
      DefaultImageDimensions,
      resetDimensionPreset,
      dialogImageSelector,
      selectImage,
      isSmall,
    };
  },
});
</script>
