<template>
  <div class="fit text-center q-pa-lg" v-if="!loaded">
    <q-spinner-puff color="primary" size="50%" />
  </div>
  <div class="column fit" v-else>
    <q-scroll-area class="col q-pr-md">
      <div class="col row">
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3 q-pa-md"
          v-for="k in imageKeys"
          :key="k"
        >
          <q-img
            v-if="imageContents[k]"
            style="cursor: pointer"
            :src="imageContents[k].content"
            fit="contain"
            loading="lazy"
            @click="selectImage(k)"
          />
        </div>
      </div>
    </q-scroll-area>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, Ref, onMounted } from 'vue';
import { useImageStore } from 'stores/image';
import { storeToRefs } from 'pinia';
import { GeneratedImage } from 'src/stores/types';

export default defineComponent({
  name: 'ImageSelect',
  setup(props, { emit }) {
    const imageStore = useImageStore();
    const { imageKeys } = storeToRefs(imageStore);
    const imageContents: Ref<Record<string, GeneratedImage>> = ref({});
    const loaded: Ref<boolean> = ref(false);

    const loadImageContents = async () => {
      const newContents: Record<string, GeneratedImage> = {};

      for (const k of imageKeys.value) {
        const image: GeneratedImage = (await imageStore.getImageById(
          k
        )) as GeneratedImage;
        newContents[k] = image;
      }

      imageContents.value = newContents;
    };

    onMounted(async () => {
      await imageStore.setImageKeys();
      await loadImageContents();
      loaded.value = true;
    });

    const selectImage = (imageId: string) => {
      emit('imageSelected', imageId);
    };

    return {
      imageKeys,
      imageContents,
      selectImage,
      loaded,
    };
  },
});
</script>
