<template>
  <div class="row q-gutter-sm">
    <div class="col-auto" style="">
      <q-btn
        color="accent"
        :disable="loading"
        icon="casino"
        class="q-mr-sm"
        @click="dialogDiceroller = true"
      />
      <q-btn
        color="accent"
        icon="directions_run"
        v-if="ActionOrSpeech === 'action'"
        @click="ActionOrSpeech = 'speech'"
      />
      <q-btn
        color="accent"
        icon="record_voice_over"
        v-if="ActionOrSpeech === 'speech'"
        @click="ActionOrSpeech = 'action'"
      />
    </div>
    <div v-if="currentSession" class="col-auto">
      <q-input
        dense
        filled
        type="text"
        v-model="characterName"
        :label="t('dungeonMasters.characterName')"
      />
    </div>
    <div class="col">
      <q-input
        dense
        filled
        type="text"
        v-model="input"
        autofocus
        :disable="loading"
        @keypress.enter.prevent="DoOrSay"
        ref="inputRef"
        :label="
          ActionOrSpeech === 'action' ? t('ui.yourAction') : t('ui.youSay')
        "
      />
    </div>
    <div class="col-auto">
      <q-btn
        color="secondary"
        :disable="loading"
        icon="send"
        @click="DoOrSay"
      />
    </div>
  </div>
  <q-dialog persistent v-model="dialogDiceroller">
    <q-card style="min-width: 360px">
      <q-card-section>
        <DiceWidget @dice-roll="processDiceRoll" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, Ref, ref, watch, nextTick } from 'vue';
import { useI18n } from 'vue-i18n';
import { useNaiStore } from 'stores/nai';
import { useDmStore } from 'stores/dm';
import { useStoriesStore } from 'stores/stories';
import { storeToRefs } from 'pinia';
import { StoryParagraph } from 'stores/types';
import { v4 as uuidv4 } from 'uuid';
import { useMutation } from '@vue/apollo-composable';
import SendSessionEventMutation from 'src/mutations/send_session_event';
import DiceWidget from './DiceWidget.vue';

export default defineComponent({
  name: 'AdventureWidget',
  props: ['id'],
  components: {
    DiceWidget,
  },
  setup(props) {
    const naiStore = useNaiStore();
    const dmStore = useDmStore();
    const storiesStore = useStoriesStore();
    const ActionOrSpeech = ref('action');
    const input = ref('');
    const inputRef = ref(null);
    const characterName: Ref<string> = ref('');
    const { t } = useI18n();
    const { loading } = storeToRefs(naiStore);
    const { stories } = storeToRefs(storiesStore);
    const { currentSession, currentUser, allUsersSubmittedCommands } =
      storeToRefs(dmStore);

    const dialogDiceroller: Ref<boolean> = ref(false);

    watch(
      () => loading.value,
      () => {
        if (!loading.value) {
          if (inputRef.value !== null) {
            nextTick(() => {
              inputRef.value.focus();
            });
          }
        }
      }
    );

    watch(
      () => inputRef.value?.disable,
      () => {
        nextTick(() => {
          if (!inputRef.value?.disable) inputRef.value?.focus();
        });
      }
    );

    const { mutate: mutateSendSessionEvent } = useMutation(
      SendSessionEventMutation
    );

    const processDiceRoll = (prompt: string) => {
      if (!loading.value) {
        submitPrompt(prompt);
        dialogDiceroller.value = false;
      }
    };

    const DoOrSay = () => {
      if (!loading.value && input.value.trim() !== '') {
        const inputValue = input.value.trim();
        let prompt = '';

        // Check if it's a multiplayer session
        if (currentSession.value) {
          // In a multiplayer session, use the characterName for the prompt
          const actionText =
            inputValue.charAt(0).toLowerCase() + inputValue.slice(1);
          prompt =
            characterName.value +
            (ActionOrSpeech.value === 'action' ? ' ' : ' says, "') +
            actionText +
            (ActionOrSpeech.value === 'action' ? '.' : '"');

          if (currentSession.value.user.uuid === currentUser.value.uuid) {
            dmStore.addUserCommand(currentUser.value?.uuid as string, prompt);
          } else {
            mutateSendSessionEvent({
              sessionId: currentSession.value.uuid,
              message: 'user_command',
              arguments: JSON.stringify({
                userId: currentUser.value?.uuid,
                command: prompt,
              }),
            });
          }
        } else {
          // In a single-player session, proceed as usual
          switch (ActionOrSpeech.value) {
            case 'action':
              prompt = ` > You ${inputValue}`;
              break;
            case 'speech':
              prompt = ` > You say, "${inputValue}"`;
              break;
          }
          submitPrompt(prompt);
        }

        input.value = ''; // Clear the input field
      }
    };

    const submitPrompt = (prompt: string) => {
      const newParagraph1: StoryParagraph = {
        id: uuidv4(),
        class: 'paragraph',
        source: 2,
        image: '',
        spans: [
          {
            class: 'userText',
            content: prompt,
          },
        ],
      };
      const newParagraph2: StoryParagraph = {
        id: uuidv4(),
        class: 'paragraph',
        source: 0,
        image: '',
        spans: [
          {
            class: 'aiText',
            content: '',
          },
        ],
      };
      stories.value[props.id].paragraphs.push(newParagraph1);
      stories.value[props.id].paragraphs.push(newParagraph2);
      input.value = '';
      storiesStore.saveHistoryMilestone(props.id);
      storiesStore.promptAndAppendStory(props.id);
    };

    watch(
      () => dmStore.userCommands,
      (commands) => {
        if (allUsersSubmittedCommands.value) {
          const combinedPrompt = Object.values(commands).join(' ');
          // Submit the combined prompt as a new paragraph
          submitPrompt(combinedPrompt);

          dmStore.clearUserCommands(); // Clear the command list after submission
        }
      },
      { deep: true }
    );

    return {
      ActionOrSpeech,
      input,
      t,
      loading,
      DoOrSay,
      inputRef,
      dialogDiceroller,
      processDiceRoll,
      currentSession,
      characterName,
    };
  },
});
</script>
