<template>
  <q-form class="q-gutter-md">
    <q-input
      type="text"
      :label="t('dice.diceSides')"
      v-model="diceSettings.diceSides"
    />
    <q-input
      type="text"
      :label="t('dice.diceNumber')"
      v-model="diceSettings.diceNumber"
    />
    <q-input
      type="text"
      :label="t('dice.difficulty')"
      v-model="diceSettings.difficulty"
    />
    <q-input
      type="text"
      :label="t('dice.successesNeeded')"
      v-model="diceSettings.successesNeeded"
    />
    <q-input
      type="text"
      :label="t('dice.rollDescription')"
      v-model="diceSettings.rollDescription"
    />
    <div>
      <q-btn
        color="primary"
        class="full-width"
        :label="t('dice.rollDice')"
        @click="performRoll"
      />
    </div>
  </q-form>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'DiceWidget',
  setup(props, { emit }) {
    const { t } = useI18n({ useScope: 'global' });
    const diceSettings = reactive({
      diceSides: 6,
      diceNumber: 1,
      difficulty: 7,
      successesNeeded: 1,
      rollDescription: '',
    });

    const performRoll = (): void => {
      let successes = 0;
      const rollResults = [];

      for (let i = 0; i < diceSettings.diceNumber; i++) {
        const roll = Math.floor(Math.random() * diceSettings.diceSides) + 1;
        rollResults.push(roll);
        if (roll >= diceSettings.difficulty) {
          successes++;
        }
      }

      const resultStatus: string =
        successes >= diceSettings.successesNeeded ? 'SUCCESS' : 'FAIL';
      const resultString = `> You roll ${diceSettings.diceNumber} D${
        diceSettings.diceSides
      }, for "${diceSettings.rollDescription}" difficulty ${
        diceSettings.difficulty
      }, successes needed: ${
        diceSettings.successesNeeded
      }. Result: ${rollResults.join(' ')}, ${resultStatus}\n`;

      emit('diceRoll', resultString);
    };

    return {
      diceSettings,
      performRoll,
      t,
    };
  },
});
</script>
