<template>
  <q-carousel
    v-model="slide"
    transition-prev="fade"
    transition-next="fade"
    swipeable
    animated
    control-color="primary"
    padding
    infinite
    arrows
    @transition="setBackgroundImage"
    class="bg-grey-9 shadow-2 rounded-borders col"
    :style="`background-size: cover; background-position: center; ${
      backgroundImage !== null
        ? `background-image: url('${backgroundImage.content}') !important`
        : ''
    }`"
  >
    <q-carousel-slide
      :name="k + 1"
      :key="s.id"
      class="column no-wrap"
      v-for="(s, k) in scenarioArray"
    >
      <div
        class="row fit justify-start items-center q-gutter-xs q-col-gutter no-wrap"
      >
        <div class="col-12 full-height column scenario-header q-pa-md">
          <div class="col-auto row">
            <p class="text-h6 col-12 col-lg text-primary">
              {{ s.title }}
            </p>
            <div
              class="col-12 col-lg-auto q-gutter-sm q-pr-sm"
              v-if="
                isPublished &&
                !loadingScenarioPresetRatingCreate &&
                !loadingScenarioPreset
              "
            >
              <q-rating
                @click="submitScenarioRating"
                no-reset
                v-model="scenarioRating"
                :size="$q.screen.lt.lg ? '2.0em' : '2.5em'"
                class="q-mb-sm"
                color="yellow"
                icon="star_border"
                icon-selected="star"
              />
            </div>
            <div
              class="col-12 col-lg-auto q-gutter-sm q-pr-sm"
              v-if="
                isPublished &&
                (loadingScenarioPresetRatingCreate || loadingScenarioPreset)
              "
            >
              <q-spinner-puff size="3em" color="primary" />
            </div>
            <div class="col-12 col-lg-auto q-gutter-sm">
              <q-btn
                color="primary"
                icon="rocket"
                @click="startScenario(s.id)"
              />
              <q-btn
                color="secondary"
                icon="image"
                @click="openImageDialog(s)"
              />
              <q-btn
                color="secondary"
                icon="upload"
                @click="uploadScenarioDialog = true"
                :disable="isPublished"
              />
              <q-btn
                color="secondary"
                icon="download"
                @click="downloadScenarioAsSchema"
              />
              <q-btn color="negative" @click="deleteScenario" icon="delete" />
            </div>
          </div>
          <p v-if="s.author" class="text-subscript col-auto text-accent">
            By {{ s.author }}
          </p>
          <p class="text-subtitle1 col">
            {{ s.description }}
          </p>
          <p
            v-if="s.tags.length > 0"
            class="text-subtitle2 col-auto text-accent"
          >
            Tags: {{ s.tags.join(', ') }}
          </p>
        </div>
      </div>
    </q-carousel-slide>
  </q-carousel>
  <q-dialog
    v-model="generateImageDialog"
    persistent
    maximized
    transition-show="fade"
    transition-hide="fade"
    class="row"
  >
    <q-card class="column fit">
      <q-card-section class="col column">
        <ImageGenerator
          :prompt="imageParams.prompt"
          :width="imageParams.width"
          :height="imageParams.height"
          @image-generated="imageGenerated"
        />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="uploadScenarioDialog"
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Publish Scenario</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-card-section>
        <scenario-uploader
          @uploaded="uploadComplete"
          :scenario="selectedScenario.id"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  onMounted,
  computed,
  Ref,
  watch,
} from 'vue';
import { useQuasar } from 'quasar';
import { storeToRefs } from 'pinia';
import { useStoriesStore } from 'stores/stories';
import { useImageStore } from 'stores/image';
import { ScenarioPreset, GeneratedImage } from 'stores/types';
import { useMutation, useLazyQuery } from '@vue/apollo-composable';
import { GlueWords } from 'stores/helpers';
import { useI18n } from 'vue-i18n';
import ImageGenerator from 'components/images/ImageGenerator.vue';
import ScenarioUploader from 'components/ScenarioUploader.vue';
import ScenarioPresetRatingCreateMutation from 'src/mutations/scenario_preset_rating_create';
import ScenarioPresetNCQuery from 'src/queries/scenario_preset_no_content';

export default defineComponent({
  name: 'ScenarioSelector',
  components: {
    ImageGenerator,
    ScenarioUploader,
  },
  setup(props, { emit }) {
    const $q = useQuasar();
    const imageParams = reactive({
      height: 768,
      width: 1152,
      prompt: '',
    });
    const imageStore = useImageStore();
    const backgroundImage: Ref<null | GeneratedImage> = ref(null);
    const { t } = useI18n();
    const slide = ref(1);
    const generateImageDialog: Ref<boolean> = ref(false);
    const uploadScenarioDialog: Ref<boolean> = ref(false);
    const storiesStore = useStoriesStore();
    const isPublished: Ref<boolean> = ref(false);
    const { scenarios } = storeToRefs(storiesStore);

    const {
      loading: loadingScenarioPreset,
      load: loadScenarioPreset,
      onResult: updateRating,
    } = useLazyQuery(
      ScenarioPresetNCQuery,
      {},
      {
        fetchPolicy: 'cache-and-network',
      }
    );

    const {
      loading: loadingScenarioPresetRatingCreate,
      mutate: mutateScenarioPresetRatingCreate,
    } = useMutation(ScenarioPresetRatingCreateMutation);

    const scenarioArray = computed(() => {
      let result: ScenarioPreset[] = [];
      for (const s in scenarios.value) {
        result.push(scenarios.value[s]);
      }
      return result;
    });

    const openImageDialog = (s: ScenarioPreset): void => {
      let text = `${s.tags.join(' ')} ${s.title} ${s.description}`;
      text = text.toLowerCase();
      text = text.replace(/[^\w\s]|_/g, '').replace(/\s+/g, ' ');
      const words = Array.from(new Set(text.split(' ')));
      const glueWords = new Set(GlueWords);
      const filteredWords = words.filter(
        (word) => !glueWords.has(word.toLowerCase())
      );
      let finalText = '';
      for (const word of filteredWords) {
        if ((finalText + word).length > 400) break;
        finalText += (finalText ? ', ' : '') + word;
      }

      imageParams.prompt = finalText;
      generateImageDialog.value = true;
    };

    onMounted(() => setBackgroundImage());

    const selectedScenario = computed((): ScenarioPreset => {
      return scenarioArray.value[slide.value - 1];
    });

    const selectedScenarioId = computed((): string => {
      return selectedScenario.value.id;
    });

    onMounted(() => {
      if (selectedScenario.value) {
        scenarioRating.value = selectedScenario.value.rating || 0;
        isPublished.value = selectedScenario.value.isPublished || false;
        loadScenarioPreset(null, {
          externalId: selectedScenario.value.id,
        });
      }
    });

    watch(
      () => selectedScenario.value,
      () => {
        if (selectedScenario.value) {
          scenarioRating.value = selectedScenario.value
            ? selectedScenario.value.rating || 0
            : null;
          isPublished.value = selectedScenario.value.isPublished || false;
          loadScenarioPreset(null, {
            externalId: selectedScenario.value.id,
          });
        }
        setBackgroundImage();
      }
    );

    const imageGenerated = (value: string): void => {
      scenarios.value[selectedScenarioId.value].cardImage = value;
      setBackgroundImage();
      generateImageDialog.value = false;
    };

    const setBackgroundImage = async () => {
      if (
        selectedScenario.value !== undefined &&
        selectedScenario.value.cardImage
      ) {
        backgroundImage.value = await imageStore.getImageById(
          selectedScenario.value.cardImage
        );
      } else {
        backgroundImage.value = null;
      }
    };

    const startScenario = (scenarioId: string): void => {
      emit('openScenario', scenarioId);
    };

    const deleteScenario = (): void => {
      const scenarioToDelete: string = (' ' + selectedScenario.value.id).slice(
        1
      );
      if (slide.value > 1) {
        slide.value--;
      }
      storiesStore.deleteScenarioPreset(scenarioToDelete);
    };

    const scenarioRating: Ref<number | null> = ref(null);

    const submitScenarioRating = () => {
      const newRating: number | null = scenarioRating.value;
      mutateScenarioPresetRatingCreate({
        scenarioPresetRatingInput: {
          scenarioPresetId: selectedScenario.value.id,
          score: newRating,
        },
      });
    };

    const uploadComplete = () => {
      uploadScenarioDialog.value = false;
      isPublished.value = true;
    };

    updateRating((result) => {
      if (result.data?.scenarioPreset) {
        selectedScenario.value.isPublished = true;
        isPublished.value = true;
        scenarios.value[selectedScenario.value.id].isPublished = true;
        scenarioRating.value = result.data.scenarioPreset.rating;
      } else {
        isPublished.value = false;
        scenarios.value[selectedScenario.value.id].isPublished = false;
      }
    });

    const downloadScenarioAsSchema = () => {
      storiesStore.downloadScenario(selectedScenario.value);
    };

    return {
      scenarioArray,
      loadingScenarioPreset,
      loadingScenarioPresetRatingCreate,
      slide,
      startScenario,
      generateImageDialog,
      uploadScenarioDialog,
      openImageDialog,
      imageParams,
      imageGenerated,
      backgroundImage,
      setBackgroundImage,
      selectedScenario,
      scenarioRating,
      submitScenarioRating,
      isPublished,
      uploadComplete,
      deleteScenario,
      downloadScenarioAsSchema,
      t,
    };
  },
});
</script>
