<template>
  <q-form class="col row">
    <div class="col-12 col-md-6 column q-px-sm">
      <q-input
        class="col-auto"
        v-model="form.title"
        :label="t('stories.headers.title')"
      />
      <q-input
        class="col-auto"
        v-model="form.author"
        :label="t('stories.headers.author')"
      />
      <q-scroll-area class="col">
        <q-input
          autogrow
          v-model="form.description"
          :label="t('stories.headers.description')"
        />
      </q-scroll-area>
    </div>
    <div class="col-12 col-md-6 column q-px-sm">
      <q-select
        class="col-auto"
        :label="t('lorebooks.headers.lorebooks')"
        :options="filteredLorebooks"
        option-label="title"
        option-value="id"
        map-options
        emit-value
        use-input
        @filter="filterLorebooks"
        v-model="selectedLorebook"
        @update:model-value="selectLorebook"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-select>
      <div class="q-my-md q-gutter-sm">
        <q-chip
          v-for="l in form.lorebooks.values()"
          :key="lorebooks[l].id"
          :label="lorebooks[l].title"
          color="secondary"
          clickable
          @click="removeLorebook(l)"
        />
      </div>
      <p v-if="form.placeholders.length > 0" class="col-auto text-body1">
        {{ t('stories.headers.placeholders') }}
      </p>
      <q-scroll-area
        class="col col-gutter-md"
        v-if="form.placeholders.length > 0"
      >
        <div v-for="p in form.placeholders" :key="p.key">
          <q-input :label="p.description" v-model="p.defaultValue" />
          <p class="text-subtitle2">
            {{ p.longDescription }}
          </p>
        </div>
      </q-scroll-area>
      <div class="col-auto">
        <q-btn
          @click="createStory"
          color="primary"
          :label="t('menus.stories.createANewStory')"
        />
      </div>
    </div>
  </q-form>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, Ref, computed } from 'vue';
import { useStoriesStore } from 'stores/stories';
import { useNaiStore } from 'stores/nai';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import DefaultNewStory from 'stores/default-new-story.json';
import { ScenarioPreset, Story, StoryParagraph } from 'stores/types';
import { deepClone } from 'stores/helpers';
import { useRouter } from 'vue-router';
import { v4 as uuidv4 } from 'uuid';

export default defineComponent({
  name: 'StoryCreator',
  setup() {
    const naiStore = useNaiStore();
    const storiesStore = useStoriesStore();
    const lorebooksStore = useLorebooksStore();
    const router = useRouter();
    const lorebookFilter: Ref<string> = ref('');
    const { defaultSettings, defaultParameters } = storeToRefs(naiStore);
    const { scenarios, currentStoryCategory } = storeToRefs(storiesStore);
    const { lorebooks } = storeToRefs(lorebooksStore);
    const { t } = useI18n({ useScope: 'global' });
    const selectedLorebook: Ref<string | null> = ref(null);
    const form: Story = reactive(
      Object.assign({}, deepClone(DefaultNewStory), {
        settings: defaultSettings,
        parameters: defaultParameters,
        category: currentStoryCategory.value,
      })
    );

    const loadScenario = (scenarioId: string): void => {
      const scenario: ScenarioPreset = deepClone(scenarios.value[scenarioId]);

      Object.assign(form, scenario, {
        category: currentStoryCategory.value,
      });
    };

    const createStory = (): void => {
      const storyId: string = storiesStore.createStory(form);
      router.push(`/${storyId}`);
    };

    const filterLorebooks = (val: string, update: CallableFunction) => {
      update(() => {
        lorebookFilter.value = val;
      });
    };

    const filteredLorebooks = computed(() => {
      const storyLorebookIds = form.lorebooks;

      const lorebookFilterPhrase = lorebookFilter.value.toLowerCase();

      return Object.values(lorebooksStore.lorebooks)
        .filter((lorebook) => {
          const isInStory = !storyLorebookIds.includes(lorebook.id);
          const titleIncludesPhrase = lorebook.title
            .toLowerCase()
            .includes(lorebookFilterPhrase);

          return isInStory && titleIncludesPhrase;
        })
        .sort((a, b) => a.title.localeCompare(b.title));
    });

    const selectLorebook = (): void => {
      if (selectedLorebook.value !== null) {
        form.lorebooks.push(selectedLorebook.value);
        selectedLorebook.value = null;
      }
    };

    const removeLorebook = (lorebook: string): void => {
      const lorebookIndex = form.lorebooks.indexOf(lorebook);

      if (lorebookIndex !== -1) {
        form.lorebooks.splice(lorebookIndex, 1);
      }
    };

    return {
      filterLorebooks,
      filteredLorebooks,
      loadScenario,
      lorebooks,
      createStory,
      selectedLorebook,
      selectLorebook,
      removeLorebook,
      t,
      form,
    };
  },
});
</script>
