<template>
  <div class="col column">
    <q-scroll-area ref="scrollAreaRef" class="col q-my-md column">
      <div ref="messagesContainer" class="col q-px-md">
        <q-chat-message
          v-for="m in processedMessages"
          :key="m.id"
          :text="m.messages"
          :sent="m.persona === threads[id].postingAs"
          :name="personas[m.persona].name"
          :avatar="
            personas[m.persona].avatar &&
            imageContents[personas[m.persona].avatar]
              ? `${imageContents[personas[m.persona].avatar]}`
              : ''
          "
        />
      </div>
    </q-scroll-area>
    <div class="col-auto q-col-gutter-sm row">
      <q-input
        :class="isSmall ? 'col-12' : 'col'"
        filled
        type="text"
        v-model="newMessage"
        :label="t('personas.newMessage')"
        :disable="threads[id].postingAs === '' || loading"
        ref="inputMessageRef"
        autofocus
        @keydown.enter.prevent="submitMessage"
      />
      <div :class="isSmall ? 'col' : 'col-auto'">
        <q-btn
          color="accent"
          class="full-height full-width q-mr-sm"
          :disable="threads[id].postingAs === '' || loading"
          icon="send"
          @click="submitMessage"
        />
      </div>
      <div class="col-auto">
        <q-btn
          color="accent"
          class="full-height"
          :disable="loading || isAtRootMilestone"
          :label="isSmall ? '' : t('ui.redo')"
          icon-right="replay"
          @click="redoLast"
        />
      </div>
      <div class="col-auto">
        <q-select
          filled
          :options="personaOptions"
          :label="t('personas.postingAs')"
          v-model="threads[id].postingAs"
          map-options
          emit-value
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  Ref,
  onMounted,
  onUnmounted,
  computed,
  nextTick,
  watch,
} from 'vue';
import { useQuasar } from 'quasar';
import { useI18n } from 'vue-i18n';
import { useChatStore } from 'stores/chat';
import { useNaiStore } from 'stores/nai';
import { useImageStore } from 'stores/image';
import { storeToRefs } from 'pinia';
import { QuasarSelectOption } from 'types/helpers';

export default defineComponent({
  name: 'ChatInterface',
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const $q = useQuasar();
    const { t } = useI18n({ useScope: 'global' });
    const naiStore = useNaiStore();
    const newMessage: Ref<string> = ref('');
    const chatStore = useChatStore();
    const imageStore = useImageStore();
    const messagesContainer: Ref<object | null> = ref(null);
    const scrollAreaRef: Ref<object | null> = ref(null);
    const imageContents: Ref<Record<string, string>> = ref({});
    const inputMessageRef: Ref<object | null> = ref(null);
    const previousMessage: Ref<string> = ref('');

    const { personas, threads, threadMilestones } = storeToRefs(chatStore);
    const { loading } = storeToRefs(naiStore);

    let resizeObserver = null;

    onMounted(() => {
      updateScroll();
      if (messagesContainer.value) {
        resizeObserver = new ResizeObserver(updateScroll);
        resizeObserver.observe(messagesContainer.value);
      }
      loadImages();
    });

    onUnmounted(() => {
      if (resizeObserver && messagesContainer.value) {
        resizeObserver.unobserve(messagesContainer.value);
      }
    });

    const updateScroll = () => {
      if (scrollAreaRef.value) {
        scrollAreaRef.value.setScrollPercentage('vertical', 1.0);
      }
    };

    const personaOptions = computed(() => {
      const returnValue: QuasarSelectOption[] = [];
      if (personas.value) {
        for (const personaId in personas.value) {
          if (threads.value[props.id].personas.includes(personaId)) {
            returnValue.push({
              label: personas.value[personaId].name,
              value: personas.value[personaId].id,
            });
          }
        }
      }
      return returnValue;
    });

    const processedMessages = computed(() => {
      const threadMessages = threads.value[props.id]?.messages || [];
      const groupedMessages = [];

      let currentGroup = null;

      threadMessages.forEach((message) => {
        // If the current group is null or the persona changes, start a new group
        if (!currentGroup || currentGroup.persona !== message.persona) {
          if (currentGroup) {
            // Push the completed group to the array
            groupedMessages.push(currentGroup);
          }
          // Start a new group
          currentGroup = {
            persona: message.persona,
            messages: [message.content],
          };
        } else {
          // Add the message to the current group
          currentGroup.messages.push(message.content);
        }
      });

      // Add the last group if it exists
      if (currentGroup) {
        groupedMessages.push(currentGroup);
      }

      return groupedMessages;
    });

    const submitMessage = () => {
      if (newMessage.value !== '' && !loading.value) {
        chatStore.submitMessage(props.id, newMessage.value);
        previousMessage.value = newMessage.value;
        newMessage.value = '';
      }
    };

    watch(
      () => inputMessageRef.value?.disable,
      () => {
        nextTick(() => {
          if (!inputMessageRef.value?.disable) inputMessageRef.value?.focus();
        });
      }
    );

    watch(
      () => personas.value,
      () => {
        loadImages();
      },
      {
        deep: true,
      }
    );

    const loadImages = async (): Promise<void> => {
      const newImageContents: Record<string, string> = {};

      threads.value[props.id].personas.forEach(async (personaId) => {
        console.log(personaId);
        const persona = personas.value[personaId];
        if (persona.avatar) {
          const image = await imageStore.getImageById(persona.avatar);
          if (image && image.content && image.id) {
            newImageContents[image.id] = image.content;
          }
        }
      });

      imageContents.value = newImageContents;
    };

    const isSmall = computed(() => {
      return $q.screen.xs || $q.screen.sm;
    });

    const redoLast = () => {
      const currentPersona: string = threads.value[props.id].postingAs;
      chatStore.threadGoBack(props.id);
      if (threads.value[props.id].postingAs !== '' || currentPersona !== '') {
        if (threads.value[props.id].postingAs === '' && currentPersona !== '') {
          threads.value[props.id].postingAs = currentPersona;
        }
        chatStore.submitMessage(props.id, previousMessage.value);
      }
    };

    const isAtRootMilestone = computed(() => {
      return (
        threads.value[props.id].currentMilestone &&
        threadMilestones.value[threads.value[props.id].currentMilestone]
          .parentMilestone === ''
      );
    });

    return {
      redoLast,
      newMessage,
      imageContents,
      isSmall,
      loading,
      isAtRootMilestone,
      submitMessage,
      messagesContainer,
      scrollAreaRef,
      processedMessages,
      personas,
      inputMessageRef,
      personaOptions,
      threads,
      t,
    };
  },
});
</script>
<style>
.q-scrollarea__container {
  flex-basis: 0% !important;
  flex-grow: 10000 !important;
  flex-shrink: 1 !important;
}
</style>
