<template>
  <q-form class="q-gutter-md">
    <div>
      <q-btn
        color="primary"
        class="full-width"
        :label="t('personas.generateAvatar')"
        @click="openAvatarGenerator"
      />
    </div>
    <div v-if="personas[id].avatar !== null">
      <q-btn
        color="negative"
        class="full-width"
        :label="t('personas.deleteAvatar')"
        @click="personas[id].avatar = null"
      />
    </div>
    <q-input
      type="text"
      :label="t('personas.name')"
      v-model="personas[id].name"
    />
    <q-input
      type="text"
      :label="t('personas.handle')"
      v-model="personas[id].handle"
    />
    <q-input
      type="text"
      :label="t('personas.statusMessage')"
      v-model="personas[id].statusMessage"
    />
    <q-select
      filled
      style="min-width: 320px"
      :options="lorebookOptions"
      :label="t('lorebooks.headers.lorebooks')"
      v-model="personas[id].lorebooks"
      map-options
      multiple
      emit-value
    />
  </q-form>
  <q-dialog
    v-model="generateAvatarDialog"
    persistent
    maximized
    transition-show="fade"
    transition-hide="fade"
    class="row"
  >
    <q-card class="column fit">
      <q-card-section class="col column">
        <image-generator
          :prompt="imageParams.prompt"
          :width="imageParams.width"
          :height="imageParams.height"
          @image-generated="imageGenerated"
        />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, Ref, computed } from 'vue';
import { useChatStore } from 'stores/chat';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import ImageGenerator from 'components/images/ImageGenerator.vue';
import { QuasarSelectOption } from 'stores/helpers';

export default defineComponent({
  name: 'PersonaEditForm',
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  components: {
    ImageGenerator,
  },
  setup(props) {
    const { t } = useI18n({ useScope: 'global' });
    const lorebooksStore = useLorebooksStore();
    const chatStore = useChatStore();
    const { personas } = storeToRefs(chatStore);
    const { lorebooks } = storeToRefs(lorebooksStore);
    const generateAvatarDialog: Ref<boolean> = ref(false);
    const imageParams = reactive({
      height: 64,
      width: 64,
      prompt: `pfp, profile, avatar, ${personas.value[props.id].name}`,
    });

    const imageGenerated = (imageId: string): void => {
      personas.value[props.id].avatar = imageId;
      generateAvatarDialog.value = false;
    };

    const lorebookOptions = computed(() => {
      const result: QuasarSelectOption[] = [];
      for (const lorebookId in lorebooks.value) {
        result.push({
          label: lorebooks.value[lorebookId].title,
          value: lorebookId,
        });
      }
      return result;
    });

    const openAvatarGenerator = () => {
      generateAvatarDialog.value = true;
    };

    return {
      personas,
      generateAvatarDialog,
      imageParams,
      lorebookOptions,
      openAvatarGenerator,
      imageGenerated,
      t,
    };
  },
});
</script>
