<template>
  <div class="row col">
    <div class="col-auto text-subtitle1">
      {{ t('context.headers.tokenCount') }}: {{ tokenCount }},
      {{ t('context.headers.limit') }}:
      {{ accountLength }}
    </div>
    <div class="col-auto q-mb-sm">
      <q-linear-progress
        dark
        size="10px"
        :value="percentageOfLimit"
        color="secondary"
      />
    </div>
    <div class="column col">
      <q-scroll-area class="column col">
        <pre class="q-pr-sm context-sample">{{ currentPrompt }}</pre>
      </q-scroll-area>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useNaiStore } from 'stores/nai';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { useStoriesStore } from 'stores/stories';
import { getTokenCount } from 'stores/helpers';

export default defineComponent({
  name: 'CurrentContextView',
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const naiStore = useNaiStore();
    const storiesStore = useStoriesStore();
    const { accountLength } = storeToRefs(naiStore);
    const { currentStory } = storeToRefs(storiesStore);
    const currentPrompt = computed((): string => {
      return storiesStore.contextualizePrompt(currentStory.value);
    });

    const tokenCount = computed(() => {
      return currentPrompt.value !== undefined
        ? getTokenCount(currentPrompt.value)
        : 0;
    });

    const percentageOfLimit = computed(() => {
      return naiStore.accountLength > 0
        ? (1 / naiStore.accountLength) * tokenCount.value
        : 0;
    });

    return {
      t,
      naiStore,
      currentPrompt,
      tokenCount,
      accountLength,
      percentageOfLimit,
    };
  },
});
</script>
<style scoped>
.context-sample {
  word-wrap: break-word;
  white-space: pre-wrap;
}
</style>
