<template>
  <div class="column col">
    <q-scroll-area class="column col q-pr-md">
      <div class="row col">
        <div class="col-12">
          <p class="text-body1">
            {{ t('context.headers.memoryContextSettings') }}
          </p>
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="memoryPrefix"
            :label="t('context.headers.prefix')"
            @update:model-value="saveContextAppendages"
          />
          <q-input
            type="text"
            v-model="stories[currentStory].memory.contextConfig.reservedTokens"
            :label="t('context.headers.reservedTokens')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="memorySuffix"
            :label="t('context.headers.suffix')"
            @update:model-value="saveContextAppendages"
          />
          <q-input
            type="text"
            v-model="stories[currentStory].memory.contextConfig.budgetPriority"
            :label="t('context.headers.insertionOrder')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="stories[currentStory].memory.contextConfig.tokenBudget"
            :label="t('context.headers.tokenBudget')"
          />
          <q-input
            type="text"
            v-model="
              stories[currentStory].memory.contextConfig.insertionPosition
            "
            :label="t('context.headers.insertionPosition')"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.trimDirection') }}</p>
          <q-btn-toggle
            v-model="stories[currentStory].memory.contextConfig.trimDirection"
            :options="TrimDirections"
          />
          <p class="text-body1 q-mt-md">
            {{ t('context.headers.insertionType') }}
          </p>
          <q-btn-toggle
            v-model="stories[currentStory].memory.contextConfig.insertionType"
            :options="InsertionTypes"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.maximumTrimType') }}</p>
          <q-btn-toggle
            v-model="stories[currentStory].memory.contextConfig.maximumTrimType"
            :options="TrimTypes"
          />
        </div>
        <q-separator />
        <div class="col-12">
          <p class="text-body1 q-mt-md">
            {{ t('context.headers.authorsNoteSetting') }}
          </p>
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="authorsNotePrefix"
            :label="t('context.headers.prefix')"
            @update:model-value="saveContextAppendages"
          />
          <q-input
            type="text"
            v-model="
              stories[currentStory].authorsNote.contextConfig.reservedTokens
            "
            :label="t('context.headers.reservedTokens')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="authorsNoteSuffix"
            :label="t('context.headers.suffix')"
            @update:model-value="saveContextAppendages"
          />
          <q-input
            type="text"
            v-model="
              stories[currentStory].authorsNote.contextConfig.budgetPriority
            "
            :label="t('context.headers.insertionOrder')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="
              stories[currentStory].authorsNote.contextConfig.tokenBudget
            "
            :label="t('context.headers.tokenBudget')"
          />
          <q-input
            type="text"
            v-model="
              stories[currentStory].authorsNote.contextConfig.insertionPosition
            "
            :label="t('context.headers.insertionPosition')"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.trimDirection') }}</p>
          <q-btn-toggle
            v-model="
              stories[currentStory].authorsNote.contextConfig.trimDirection
            "
            :options="TrimDirections"
          />
          <p class="text-body1 q-mt-md">
            {{ t('context.headers.insertionType') }}
          </p>
          <q-btn-toggle
            v-model="
              stories[currentStory].authorsNote.contextConfig.insertionType
            "
            :options="InsertionTypes"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.maximumTrimType') }}</p>
          <q-btn-toggle
            v-model="
              stories[currentStory].authorsNote.contextConfig.maximumTrimType
            "
            :options="TrimTypes"
          />
        </div>
        <q-separator />
        <div class="col-12">
          <p class="text-body1 q-mt-md">
            {{ t('context.headers.storyContextSettings') }}
          </p>
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="storyPrefix"
            :label="t('context.headers.prefix')"
            @update:model-value="saveContextAppendages"
          />
          <q-input
            type="text"
            v-model="stories[currentStory].storyContextConfig.reservedTokens"
            :label="t('context.headers.reservedTokens')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="storySuffix"
            :label="t('context.headers.suffix')"
            @update:model-value="saveContextAppendages"
          />
          <q-input
            type="text"
            v-model="stories[currentStory].storyContextConfig.budgetPriority"
            :label="t('context.headers.insertionOrder')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="stories[currentStory].storyContextConfig.tokenBudget"
            :label="t('context.headers.tokenBudget')"
          />
          <q-input
            type="text"
            v-model="stories[currentStory].storyContextConfig.insertionPosition"
            :label="t('context.headers.insertionPosition')"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.trimDirection') }}</p>
          <q-btn-toggle
            v-model="stories[currentStory].storyContextConfig.trimDirection"
            :options="TrimDirections"
          />
          <p class="text-body1 q-mt-md">
            {{ t('context.headers.insertionType') }}
          </p>
          <q-btn-toggle
            v-model="stories[currentStory].storyContextConfig.insertionType"
            :options="InsertionTypes"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.maximumTrimType') }}</p>
          <q-btn-toggle
            v-model="stories[currentStory].storyContextConfig.maximumTrimType"
            :options="TrimTypes"
          />
        </div>
      </div>
    </q-scroll-area>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue';
import { useStoriesStore } from 'stores/stories';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { InsertionTypes, TrimDirections, TrimTypes } from 'stores/helpers';

export default defineComponent({
  name: 'StoryContextView',
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const authorsNotePrefix = ref('');
    const authorsNoteSuffix = ref('');
    const memoryPrefix = ref('');
    const memorySuffix = ref('');
    const storyPrefix = ref('');
    const storySuffix = ref('');

    const storiesStore = useStoriesStore();
    const { stories, currentStory } = storeToRefs(storiesStore);

    const saveContextAppendages = () => {
      storiesStore.saveStoryContextAppendages(currentStory.value, {
        authorsNotePrefix: authorsNotePrefix.value,
        authorsNoteSuffix: authorsNoteSuffix.value,
        memoryPrefix: memoryPrefix.value,
        memorySuffix: memorySuffix.value,
        storyPrefix: storyPrefix.value,
        storySuffix: storySuffix.value,
      });
    };

    onMounted(() => {
      const appendages = storiesStore.getStoryContextAppendages(currentStory.value);
      authorsNotePrefix.value = appendages.authorsNotePrefix;
      authorsNoteSuffix.value = appendages.authorsNoteSuffix;
      memoryPrefix.value = appendages.memoryPrefix;
      memorySuffix.value = appendages.memorySuffix;
      storyPrefix.value = appendages.storyPrefix;
      storySuffix.value = appendages.storySuffix;
    });

    return {
      t,
      stories,
      currentStory,
      TrimDirections,
      TrimTypes,
      InsertionTypes,
      authorsNotePrefix,
      authorsNoteSuffix,
      memoryPrefix,
      memorySuffix,
      storyPrefix,
      storySuffix,
      saveContextAppendages,
    };
  },
});
</script>
