<template>
  <div class="column col">
    <div class="col-auto row">
      <div class="col">
        <q-input
          :label="t('entries.headers.name')"
          label-color="primary"
          v-model="lorebooks[lorebook].entries[id].displayName"
        />
      </div>
      <div class="col-auto q-pl-sm text-subtitle1">
        {{ t('ui.tokens') }}: {{ tokenCount }}
      </div>
      <div class="col-auto q-pl-sm">
        <q-btn
          flat
          :label="t('context.headers.alwaysOn')"
          :icon="
            lorebooks[lorebook].entries[id].forceActivation ? 'check' : 'close'
          "
          @click="
            lorebooks[lorebook].entries[id].forceActivation =
              !lorebooks[lorebook].entries[id].forceActivation
          "
          :color="
            lorebooks[lorebook].entries[id].forceActivation
              ? 'primary'
              : 'secondary'
          "
        />
      </div>
      <div class="col-auto q-pl-sm">
        <q-btn
          color="negative"
          flat
          dense
          round
          icon="delete"
          @click="dialogDeleteEntry = true"
        />
      </div>
    </div>
    <div class="col column">
      <q-scroll-area
        class="col column q-pr-md"
        content-style="flex: 10000 1 0%;"
        ref="entryTextScrollArea"
      >
        <div>
          <q-input
            v-if="selectedKey === -1"
            type="text"
            :label="t('entries.headers.newActivationKeys')"
            v-model="newKey"
            class="full-width"
            @keypress.enter.prevent="addKey"
          >
            <template v-slot:append>
              <q-icon name="add" class="cursor-pointer" @click="addKey" />
            </template>
          </q-input>
          <q-input
            v-else
            type="text"
            :label="t('entries.headers.adjustActivationKey')"
            v-model="lorebooks[lorebook].entries[id].keys[selectedKey]"
            class="full-width"
          >
            <template v-slot:append>
              <q-icon name="remove" class="cursor-pointer" @click="deleteKey" />
            </template>
          </q-input>
        </div>
        <div class="q-pt-sm">
          <q-chip
            outline
            @click="selectedKey = selectedKey === k ? -1 : k"
            :selected="selectedKey == k"
            color="primary"
            :label="phrase"
            v-for="(phrase, k) in lorebooks[lorebook].entries[id].keys"
            :key="k"
          />
        </div>
        <q-input
          autogrow
          :label="t('entries.headers.text')"
          v-model="lorebooks[lorebook].entries[id].text"
          @keydown.ctrl.enter.prevent="GenerateLorebookEntry"
        />
      </q-scroll-area>
    </div>
    <div class="q-my-sm col-auto row">
      <div class="col q-pr-md">
        <q-input
          type="text"
          dense
          :label="t('entries.headers.activationKeys')"
          v-model="activationKeys"
        />
      </div>
      <div class="col-auto">
        <q-btn
          :disable="loading"
          color="secondary"
          :label="t('ai.headers.generate')"
          class="full-width"
          icon-right="send"
          @click="GenerateLorebookEntry"
        />
      </div>
    </div>
    <q-dialog
      v-model="dialogDeleteEntry"
      persistent
      transition-show="fade"
      transition-hide="fade"
    >
      <q-card class="bg-dark text-white" style="width: 300px">
        <q-card-section class="bg-primary">
          <div class="text-h6">{{ t('entries.headers.deleteEntry') }}</div>
        </q-card-section>

        <q-card-section
          >{{ t('entries.headers.deleteEntry') }}
          {{ lorebooks[lorebook].entries[id].displayName }}?</q-card-section
        >

        <q-card-actions>
          <q-btn flat label="Cancel" v-close-popup />
          <q-space />
          <q-btn
            class="bg-negative"
            flat
            :label="t('ui.ok')"
            @click="deleteEntry(id)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch, onMounted } from 'vue';
import { useNaiStore } from 'stores/nai';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { QScrollArea } from 'quasar';
import { getTokenCount } from 'stores/helpers';

export default defineComponent({
  name: 'EntryForm',
  props: ['lorebook', 'id'],
  emits: ['openEntry'],
  setup(props, { emit }) {
    const { t } = useI18n({ useScope: 'global' });
    const activationKeys = ref('');
    const tokenCount = ref(0);
    let debounceTimer: NodeJS.Timeout | null = null;
    const selectedKey = ref(-1);
    const naiStore = useNaiStore();
    const lorebooksStore = useLorebooksStore();
    const { loading } = storeToRefs(naiStore);
    const { lorebooks } = storeToRefs(lorebooksStore);

    const entryTextScrollArea = ref(QScrollArea);
    const dialogDeleteEntry = ref(false);
    const newKey = ref('');
    const deleteKey = (): void => {
      lorebooks.value[props.lorebook].entries[props.id].keys.splice(
        selectedKey.value,
        selectedKey.value
      );
    };

    onMounted(() => {
      tokenCount.value = getTokenCount(
        lorebooks.value[props.lorebook].entries[props.id].text
      );
    });

    watch(
      () => lorebooks.value[props.lorebook]?.entries[props.id]?.text,
      () => {
        if (loading.value) {
          entryTextScrollArea.value.setScrollPercentage('vertical', 1.0);
        }

        // Clear existing timer
        if (debounceTimer) {
          clearTimeout(debounceTimer);
        }

        // Start a new timer for 3 seconds
        debounceTimer = setTimeout(() => {
          // Calculate the token count after the debounce period
          if (lorebooks.value[props.lorebook].entries[props.id] !== undefined) {
            tokenCount.value = getTokenCount(
              lorebooks.value[props.lorebook].entries[props.id].text
            );
          }
        }, 1000);
      }
    );

    const GenerateLorebookEntry = () => {
      if (!loading.value) {
        lorebooksStore.generateEntryText(
          props.lorebook,
          props.id,
          activationKeys.value
        );
      }
    };

    const deleteEntry = (entryId: string) => {
      dialogDeleteEntry.value = false;
      lorebooksStore.deleteEntry(props.lorebook, entryId);
      emit('openEntry', '');
    };

    const addKey = () => {
      if (newKey.value !== '') {
        console.log('trip');
        lorebooks.value[props.lorebook].entries[props.id].keys.push(
          newKey.value
        );
        newKey.value = '';
      }
    };

    return {
      tokenCount,
      naiStore,
      lorebooks,
      loading,
      GenerateLorebookEntry,
      deleteEntry,
      entryTextScrollArea,
      dialogDeleteEntry,
      newKey,
      selectedKey,
      addKey,
      deleteKey,
      activationKeys,
      t,
    };
  },
});
</script>
