<template>
  <div class="col column">
    <q-scroll-area class="col column">
      <div class="row col">
        <div class="col-12 q-pa-sm">
          <p class="text-subtitle2"></p>
          <p class="text-body1">{{ t('context.headers.searchRange') }}</p>
          <q-slider
            v-model="lorebooks[lorebook].entries[id].searchRange"
            class="q-mt-md"
            label-always
            :min="0"
            :max="50000"
            :step="100"
            color="primary"
          />
        </div>
        <div class="col-6 q-pa-sm">
          <p>
            <q-toggle
              v-model="lorebooks[lorebook].entries[id].keyRelative"
              :label="t('context.headers.keyRelativeInsertion')"
            />
          </p>
        </div>
        <div class="col-6 q-pa-sm">
          <p>
            <q-toggle
              v-model="lorebooks[lorebook].entries[id].nonStoryActivatable"
              :label="t('context.headers.cascadingActivation')"
            />
          </p>
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="prefix"
            :label="t('context.headers.prefix')"
            @update:model-value="saveAppendages"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].entries[id].contextConfig.reservedTokens
            "
            :label="t('context.headers.reservedTokens')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="suffix"
            :label="t('context.headers.suffix')"
            @update:model-value="saveAppendages"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].entries[id].contextConfig.budgetPriority
            "
            :label="t('context.headers.insertionOrder')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="lorebooks[lorebook].entries[id].contextConfig.tokenBudget"
            :label="t('context.headers.tokenBudget')"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].entries[id].contextConfig.insertionPosition
            "
            :label="t('context.headers.insertionPosition')"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.trimDirection') }}</p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].entries[id].contextConfig.trimDirection
            "
            :options="TrimDirections"
          />
          <p class="text-body1 q-mt-md">
            {{ t('context.headers.insertionType') }}
          </p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].entries[id].contextConfig.insertionType
            "
            :options="InsertionTypes"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.maximumTrimType') }}</p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].entries[id].contextConfig.maximumTrimType
            "
            :options="TrimTypes"
          />
        </div>
      </div>
    </q-scroll-area>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, onMounted } from 'vue';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { InsertionTypes, TrimDirections, TrimTypes } from 'stores/helpers';

export default defineComponent({
  name: 'PlacementForm',
  props: ['id', 'lorebook'],
  setup(props) {
    const { t } = useI18n({ useScope: 'global' });
    const prefix = ref('');
    const suffix = ref('');

    const lorebooksStore = useLorebooksStore();
    const { lorebooks } = storeToRefs(lorebooksStore);

    onMounted(() => {
      const appendages = lorebooksStore.getEntryAppendages(
        props.lorebook,
        props.id
      );
      prefix.value = appendages.prefix;
      suffix.value = appendages.suffix;
    });

    const saveAppendages = (): void => {
      lorebooksStore.saveEntryContextAppendages(props.lorebook, props.id, {
        prefix: prefix.value,
        suffix: suffix.value,
      });
    };

    return {
      lorebooks,
      InsertionTypes,
      TrimDirections,
      TrimTypes,
      t,
      prefix,
      suffix,
      saveAppendages,
    };
  },
});
</script>
