<template>
  <q-page padding class="column col">
    <q-card
      class="column col"
      v-if="threadId"
      :style="
        imageContent
          ? `background-size: cover; background-position: center; background-image: url('${imageContent.content}')`
          : ''
      "
    >
      <q-card-section class="q-pa-md col-auto row q-gutter-sm">
        <div class="col-auto">
          <q-btn
            class="full-width"
            color="accent"
            :disable="loading || isAtRootMilestone"
            :label="isSmall ? '' : t('ui.back')"
            icon-right="undo"
            @click="undoLast"
          />
        </div>
        <div class="col-auto">
          <q-btn
            class="full-width"
            color="accent"
            :disable="loading || !hasChildMilestones"
            icon-right="redo"
            @click="skipForward"
          />
        </div>
        <div class="col-auto">
          <q-btn
            class="full-width"
            color="accent"
            :disable="loading || !hasSiblings || isFirstInSeries"
            icon-right="skip_previous"
            @click="skipPrevious"
          />
        </div>
        <div class="col-auto">
          <q-btn
            class="full-width"
            color="accent"
            :disable="loading || !hasSiblings || isLastInSeries"
            icon-right="skip_next"
            @click="skipNext"
          />
        </div>
        <div class="col-auto">
          <q-btn
            color="secondary"
            icon-right="image"
            @click="generateChatBackgroundDialog = true"
          />
        </div>
        <div class="col-auto">
          <q-btn
            color="negative"
            icon="delete"
            @click="threads[threadId].backgroundImage = null"
            v-if="threads[threadId].backgroundImage !== null"
          />
        </div>
        <div class="col">
          <q-space />
        </div>
        <div class="col-auto">
          <q-select
            filled
            style="min-width: 320px"
            :options="personaOptions"
            :label="t('personas.personas')"
            v-model="threads[threadId].personas"
            map-options
            multiple
            emit-value
          />
        </div>
      </q-card-section>
      <q-card-section class="q-pa-md col column">
        <chat-interface :id="threadId" />
      </q-card-section>
    </q-card>
    <q-card class="column col" v-else>
      <q-card-section class="col column">
        <p class="text-h5 col-auto">
          {{ t('personas.threads') }}
        </p>
        <q-list>
          <q-item
            v-for="thread in threads"
            :key="thread.id"
            clickable
            v-ripple
            class="row"
          >
            <q-item-section
              class="col"
              @click="router.push(`/chat/${thread.id}`)"
            >
              <q-item-label class="text-primary"
                ><q-chip
                  v-for="p in thread.personas"
                  :key="p"
                  :label="personas[p].name"
              /></q-item-label>
            </q-item-section>
            <q-item-section class="col-auto" @click="deleteThread(thread.id)">
              <q-btn color="negative" icon-right="delete" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </q-page>
  <q-dialog
    v-model="generateChatBackgroundDialog"
    persistent
    maximized
    transition-show="fade"
    transition-hide="fade"
    class="row"
  >
    <q-card class="column fit">
      <q-card-section class="col column">
        <image-generator
          :prompt="imageParams.prompt"
          :width="imageParams.width"
          :height="imageParams.height"
          @image-generated="imageGenerated"
        />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import {
  defineComponent,
  reactive,
  ref,
  Ref,
  onMounted,
  watch,
  computed,
} from 'vue';
import { useQuasar } from 'quasar';
import { useI18n } from 'vue-i18n';
import { useRoute, useRouter } from 'vue-router';
import { useChatStore } from 'stores/chat';
import { useNaiStore } from 'stores/nai';
import { useImageStore } from 'stores/image';
import { storeToRefs } from 'pinia';
import ChatInterface from 'components/chat/ChatInterface.vue';
import ImageGenerator from 'components/images/ImageGenerator.vue';
import { GeneratedImage } from 'stores/types';
import { QuasarSelectOption } from 'stores/helpers';

export default defineComponent({
  name: 'ChatPage',
  components: {
    ChatInterface,
    ImageGenerator,
  },
  setup() {
    const $q = useQuasar();
    const router = useRouter();
    const imageStore = useImageStore();
    const naiStore = useNaiStore();
    const { loading } = storeToRefs(naiStore);
    const { t } = useI18n({ useScope: 'global' });
    const chatStore = useChatStore();
    const { threads, threadMilestones, personas } = storeToRefs(chatStore);
    const generateChatBackgroundDialog: Ref<boolean> = ref(false);
    const imageContent: Ref<GeneratedImage | null> = ref(null);
    const imageParams = reactive({
      height: 896,
      width: 1216,
      prompt: 'application background',
    });

    const route = useRoute();

    const threadId = route.params.id;

    const deleteThread = (thread: string): void => {
      chatStore.deleteThread(thread);
    };

    const imageGenerated = (imageId: string): void => {
      threads.value[threadId].backgroundImage = imageId;
      generateChatBackgroundDialog.value = false;
    };

    const loadImage = async (): Promise<void> => {
      if (
        threadId &&
        threads.value[threadId] &&
        threads.value[threadId].backgroundImage
      ) {
        imageContent.value = await imageStore.getImageById(
          threads.value[threadId].backgroundImage
        );
      } else {
        imageContent.value = null;
      }
    };

    const personaOptions = computed(() => {
      const returnValue: QuasarSelectOption[] = [];
      if (personas.value) {
        for (const personaId in personas.value) {
          returnValue.push({
            label: personas.value[personaId].name,
            value: personas.value[personaId].id,
          });
        }
      }
      return returnValue;
    });

    onMounted(() => {
      loadImage();
    });

    watch(
      () => threads.value[threadId]?.backgroundImage,
      () => {
        loadImage();
      }
    );

    const isSmall = computed(() => {
      return $q.screen.xs || $q.screen.sm;
    });

    const isAtRootMilestone = computed(() => {
      return (
        threads.value[threadId].currentMilestone &&
        threadMilestones.value[threads.value[threadId].currentMilestone]
          .parentMilestone === ''
      );
    });

    const hasChildMilestones = computed(() => {
      return chatStore.threadPeekForward(threadId) !== null;
    });

    const isFirstInSeries = computed(() => {
      return chatStore.threadPeekPrevious(threadId) === null;
    });

    const isLastInSeries = computed(() => {
      return chatStore.threadPeekNext(threadId) === null;
    });

    const hasSiblings = computed(() => {
      return !isFirstInSeries.value || !isLastInSeries.value;
    });

    const undoLast = (): void => {
      chatStore.threadGoBack(threadId);
    };

    const skipForward = (): void => {
      chatStore.threadGoForward(threadId);
    };

    const skipPrevious = (): void => {
      chatStore.threadGoPrevious(threadId);
    };

    const skipNext = (): void => {
      chatStore.threadGoNext(threadId);
    };

    return {
      threadId,
      threads,
      isSmall,
      personaOptions,
      personas,
      router,
      deleteThread,
      imageGenerated,
      imageParams,
      loading,
      isAtRootMilestone,
      hasChildMilestones,
      hasSiblings,
      isFirstInSeries,
      isLastInSeries,
      generateChatBackgroundDialog,
      imageContent,
      undoLast,
      skipForward,
      skipPrevious,
      skipNext,
      t,
    };
  },
});
</script>
