<template>
  <q-page padding>
    <!-- content -->
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useStoriesStore } from 'stores/stories';
import { useRoute, useRouter } from 'vue-router';

export default defineComponent({
  name: 'DeleteStoryPage',
  setup() {
    const storiesStore = useStoriesStore();
    const route = useRoute();
    const router = useRouter();
    const id = route.params.id.toString();
    storiesStore.deleteStory(id);
    router.push('/');
  },
});
</script>
