<template>
  <q-page padding class="column">
    <q-card class="col column">
      <q-card-section class="col-auto row">
        <div class="col-auto text-body2">
          {{ t('images.totalImages') }}: {{ numberImages }}
        </div>
        <div class="col text-right">
          <q-btn
            color="primary"
            :label="t('images.imageGenerator')"
            @click="openGenerator"
          />
        </div>
      </q-card-section>
      <q-card-section class="col row">
        <div
          v-for="i in currentImages"
          :key="i.id"
          :class="`column col-${Math.floor(12 / imagesPerPage)}`"
        >
          <q-img
            :src="i.content"
            fit="contain"
            class="fit col"
            :style="
              isSmall
                ? 'max-height: 70vh; max-width: 90vw'
                : 'max-height: 70vh; max-width: 40vw'
            "
          />
          <div class="col-auto flex flex-center q-gutter-sm">
            <q-btn
              color="secondary"
              icon="download"
              @click="downloadImage(i.id)"
            />
            <q-btn color="negative" icon="delete" @click="deleteImage(i.id)" />
          </div>
        </div>
      </q-card-section>
      <q-card-section class="col-auto flex flex-center">
        <q-pagination
          v-model="currentPage"
          color="primary"
          :max="numberPages"
          :max-pages="6"
          boundary-numbers
          @update:model-value="loadImages"
        />
      </q-card-section>
    </q-card>
  </q-page>
  <q-dialog
    v-model="dialogGenerator"
    persistent
    maximized
    transition-show="fade"
    transition-hide="fade"
    class="row"
  >
    <q-card class="column fit">
      <q-card-section class="col column">
        <ImageGenerator />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { defineComponent, onMounted, ref, computed } from 'vue';
import { useImageStore } from 'stores/image';
import { storeToRefs } from 'pinia';
import { GeneratedImage } from 'stores/types';
import { useI18n } from 'vue-i18n';
import ImageGenerator from 'components/images/ImageGenerator.vue';

export default defineComponent({
  name: 'ImagesPage',
  components: {
    ImageGenerator,
  },
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const $q = useQuasar();
    const imageStore = useImageStore();
    const dialogGenerator = ref(false);

    const { imageKeys } = storeToRefs(imageStore);
    const currentImages = ref([]);
    const currentPage = ref(1);

    const isSmall = computed(() => {
      return $q.screen.xs || $q.screen.sm;
    });

    const imagesPerPage = computed(() => {
      return isSmall.value ? 1 : 2;
    });

    const numberImages = computed(() => imageKeys.value.length);
    const numberPages = computed(() =>
      Math.ceil(numberImages.value / imagesPerPage.value)
    );

    const loadImages = async (): Promise<void> => {
      const newImages: GeneratedImage[] = [];
      const offset: number =
        imagesPerPage.value * currentPage.value - imagesPerPage.value;
      for (let i = offset; i < offset + imagesPerPage.value; i++) {
        if (imageKeys.value[i]) {
          const newImage = await imageStore.getImageById(imageKeys.value[i]);
          if (newImage !== null) {
            newImages.push(newImage);
          }
        }
      }
      currentImages.value = newImages;
    };

    const openGenerator = () => {
      dialogGenerator.value = true;
    };

    const downloadImage = (imageId: string) => {
      imageStore.downloadImage(imageId);
    };

    const deleteImage = async (imageId: string) => {
      await imageStore.deleteImage(imageId);
      await imageStore.setImageKeys();
      loadImages();
    };

    onMounted(async () => {
      await imageStore.setImageKeys();
      loadImages();
    });

    return {
      downloadImage,
      dialogGenerator,
      currentPage,
      numberPages,
      numberImages,
      currentImages,
      imagesPerPage,
      loadImages,
      t,
      openGenerator,
      deleteImage,
      isSmall,
    };
  },
});
</script>
