<template>
  <q-page class="column" padding>
    <q-card v-if="id === '' || lorebooks[id] === undefined">
      <q-card-section>
        <p class="text-body1">
          {{ t('pages.lorebookDash.leadIn') }}
        </p>
      </q-card-section>
    </q-card>
    <q-card class="column col" v-else>
      <q-card-section class="column col">
        <LorebookEditor :id="id" />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useRoute } from 'vue-router';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import LorebookEditor from 'components/LorebookEditor.vue';

export default defineComponent({
  name: 'LorebookPage',
  components: {
    LorebookEditor,
  },
  setup() {
    const route = useRoute();
    const { t } = useI18n({ useScope: 'global' });

    const id = ref(route.params.id);
    const lorebooksStore = useLorebooksStore();

    const { lorebooks } = storeToRefs(lorebooksStore);

    return {
      id,
      lorebooks,
      t,
    };
  },
});
</script>
