<template>
  <q-page padding class="column">
    <q-card class="column col">
      <q-card-section class="q-pa-md col column">
        <div class="col-auto row q-col-gutter-md">
          <div class="col-12">
            <p class="text-h5">{{ t('stories.getScenarios') }}</p>
          </div>
          <div class="col-12 col-lg-6">
            <q-input
              type="text"
              filled
              label="Search Phrase"
              v-model="searchPhrase"
              @update:model-value="prepareSearch"
            />
          </div>
          <div class="col-4 col-lg-2">
            <q-input
              type="text"
              filled
              label="Included Tags (comma-separated)"
              v-model="includedTags"
              @update:model-value="prepareSearch"
            />
          </div>
          <div class="col-4 col-lg-2">
            <q-input
              type="text"
              filled
              label="Excluded Tags (comma-separated)"
              v-model="excludedTags"
              @update:model-value="prepareSearch"
            />
          </div>
          <div class="col-4 col-lg-2">
            <q-select
              filled
              label="Sorting"
              emit-value
              map-options
              :options="orderOptions"
              v-model="orderOption"
              @update:model-value="prepareSearch"
            />
          </div>
        </div>
        <div class="column col q-py-md" v-if="loading">
          <q-spinner-puff color="primary" size="50%" class="q-mx-auto" />
        </div>
        <div class="column col q-py-md" v-if="results">
          <q-scroll-area class="column col">
            <q-list>
              <q-item v-for="r in results" :key="r.externalId">
                <q-item-section>
                  <q-item-label>
                    {{ r.title }}
                  </q-item-label>
                  <q-item-label caption lines="2">
                    {{ r.description }}
                  </q-item-label>
                </q-item-section>
                <q-item-section top side>
                  <div class="q-gutter-xs">
                    <q-rating
                      v-model="r.rating"
                      size="1.5em"
                      color="yellow"
                      icon="star_border"
                      icon-selected="star"
                      readonly
                    />
                    <q-btn
                      class="gt-xs"
                      flat
                      dense
                      round
                      icon="close"
                      @click="deleteScenarioPreset(r.externalId)"
                      v-if="currentUser?.admin"
                    />
                    <q-btn
                      class="gt-xs"
                      flat
                      dense
                      round
                      icon="done"
                      @click="approveScenarioPreset(r.externalId)"
                      v-if="currentUser?.admin && r.aasmState !== 'approved'"
                    />
                    <q-btn
                      flat
                      dense
                      round
                      icon="download"
                      @click="installScenario(r.externalId)"
                      v-if="!loadingSC"
                    />
                    <q-spinner-puff
                      color="primary"
                      class="q-ml-sm"
                      size="2em"
                      v-else
                    />
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-scroll-area>
        </div>
        <div class="col-auto text-center">
          <q-pagination
            v-model="currentPage"
            @update:model-value="submitSearch"
            :max="maxPage"
            direction-links
            flat
            color="secondary"
            active-color="primary"
          />
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  Ref,
  onMounted,
  computed,
  ComputedRef,
  reactive,
} from 'vue';
import { useQuasar } from 'quasar';
import { useI18n } from 'vue-i18n';
import { useLazyQuery, useMutation } from '@vue/apollo-composable';
import { useStoriesStore } from 'stores/stories';
import { useDmStore } from 'stores/dm';
import { ScenarioSchema } from 'stores/types';
import { storeToRefs } from 'pinia';
import ScenarioPresetsNCQuery from 'src/queries/scenario_presets_no_content';
import ScenarioPresetQuery from 'src/queries/scenario_preset';
import ScenarioPresetUpdateMutation from 'src/mutations/scenario_preset_update';
import ScenarioPresetDeleteMutation from 'src/mutations/scenario_preset_delete';

export default defineComponent({
  name: 'ScenarioSearchPage',
  setup() {
    const $q = useQuasar();
    const { t } = useI18n({ useScope: 'global' });
    const storiesStore = useStoriesStore();
    const dmStore = useDmStore();
    const { currentUser } = storeToRefs(dmStore);
    const searchPhrase: Ref<string> = ref('');
    const includedTags: Ref<string> = ref('');
    const excludedTags: Ref<string> = ref('');
    const debounceTimer: Ref<ReturnType<typeof setTimeout> | null> = ref(null);
    const resultsPerPage: Ref<number> = ref(10);
    const currentPage: Ref<number> = ref(1);
    const orderOptions: { label: string; value: string }[] = reactive([
      {
        label: 'Latest to oldest',
        value: 'created_at desc',
      },
      {
        label: 'Oldest to latest',
        value: 'created_at asc',
      },
      {
        label: 'Rated high to low',
        value: 'rating desc',
      },
      {
        label: 'Rated low to high',
        value: 'rating asc',
      },
      {
        label: 'Title a-z',
        value: 'title asc',
      },
      {
        label: 'Title z-a',
        value: 'title desc',
      },
    ]);
    const orderOption: Ref<string> = ref('created_at desc');
    const results: Ref<
      {
        externalId: string;
        title: string;
        description: string;
        author: string;
        rating: number;
        aasmState: string;
      }[]
    > = ref([]);
    const totalResults: Ref<number> = ref(0);

    const { load, refetch, loading } = useLazyQuery(
      ScenarioPresetsNCQuery,
      {},
      { fetchPolicy: 'cache-and-network' }
    );

    const {
      load: loadSC,
      refetch: refetchSC,
      loading: loadingSC,
    } = useLazyQuery(
      ScenarioPresetQuery,
      {},
      { fetchPolicy: 'cache-and-network' }
    );

    const { mutate: mutateScenarioPresetUpdate } = useMutation(
      ScenarioPresetUpdateMutation
    );

    const { mutate: mutateScenarioPresetDelete } = useMutation(
      ScenarioPresetDeleteMutation
    );

    const prepareSearch = (): void => {
      // Clear the existing timer if it exists
      if (debounceTimer.value) {
        clearTimeout(debounceTimer.value);
        debounceTimer.value = null;
      }

      // Set a new debounce timer for 1 second
      debounceTimer.value = setTimeout(() => {
        submitSearch();
      }, 500); // Delay for 1 second
    };

    const initialSearch = async (): Promise<void> => {
      const queryResult = await load(null, {
        searchPhrase: searchPhrase.value,
        includedTags: '[]',
        excludedTags: '[]',
        limit: resultsPerPage.value,
        offset: (currentPage.value - 1) * resultsPerPage.value,
        sortOrder: 'created_at desc',
      });

      if (queryResult.scenarioPresets) {
        parseResult(queryResult.scenarioPresets);
      }
    };

    const submitSearch = async (): Promise<void> => {
      const includedTagsArray = includedTags.value
        .split(',')
        .map((tag) => tag.trim());
      const excludedTagsArray = excludedTags.value
        .split(',')
        .map((tag) => tag.trim());

      // Remove any empty strings from the arrays
      const filteredIncludedTagsArray = includedTagsArray.filter(
        (tag) => tag.length > 0
      );
      const filteredExcludedTagsArray = excludedTagsArray.filter(
        (tag) => tag.length > 0
      );

      // Call the GraphQL query with the processed tags and search phrase
      const queryResult = await refetch({
        searchPhrase: searchPhrase.value,
        includedTags: JSON.stringify(filteredIncludedTagsArray),
        excludedTags: JSON.stringify(filteredExcludedTagsArray),
        limit: resultsPerPage.value,
        offset: (currentPage.value - 1) * resultsPerPage.value,
        sortOrder: orderOption.value,
      });

      if (queryResult?.data) {
        parseResult(queryResult.data.scenarioPresets);
      }
    };

    const parseResult = (queryResultData): void => {
      results.value = [];
      totalResults.value = queryResultData.total;
      queryResultData.result.forEach(
        (r: {
          externalId: string;
          title: string;
          description: string;
          author: string;
          rating: number;
          aasmState: string;
        }) => {
          results.value.push({
            title: r.title,
            author: r.author,
            description: r.description,
            externalId: r.externalId,
            aasmState: r.aasmState,
            rating: r.rating,
          });
        }
      );
    };

    const maxPage: ComputedRef<number> = computed((): number =>
      Math.ceil(totalResults.value / resultsPerPage.value)
    );

    const installScenario = async (scenarioId: string) => {
      let fetchedScenarioSchema: string | null = null;
      let externalId: string;
      const lResult = await loadSC(null, {
        externalId: scenarioId,
      });
      if (lResult === false) {
        const rResult = await refetchSC({
          externalId: scenarioId,
        });
        if (rResult?.data) {
          fetchedScenarioSchema = rResult.data.scenarioPreset.presetJson;
          externalId = rResult.data.scenarioPreset.externalId;
        }
      } else {
        if (lResult.scenarioPreset) {
          fetchedScenarioSchema = lResult.scenarioPreset.presetJson;
          externalId = lResult.scenarioPreset.externalId;
        }
      }
      if (fetchedScenarioSchema !== null) {
        const parsedScenarioSchema: ScenarioSchema = JSON.parse(
          fetchedScenarioSchema
        );
        parsedScenarioSchema.isPublished = true;
        await storiesStore.importScenario(parsedScenarioSchema, externalId);
        $q.notify({
          type: 'positive',
          message: 'Scenario has been downloaded and installed.',
        });
      }
    };

    onMounted(() => {
      initialSearch();
    });

    const approveScenarioPreset = async (externalId: string): Promise<void> => {
      const result = await mutateScenarioPresetUpdate({
        externalId: externalId,
        scenarioPresetInput: {
          aasmState: 'approved',
        },
      });
      if (
        result?.data.scenarioPresetUpdate.scenarioPreset.aasmState ===
        'approved'
      ) {
        submitSearch();
      }
    };

    const deleteScenarioPreset = async (externalId: string): Promise<void> => {
      const result = await mutateScenarioPresetDelete({
        externalId: externalId,
      });

      if (result?.data.scenarioPresetDelete.scenarioPreset.externalId) {
        submitSearch();
      }
    };

    return {
      t,
      searchPhrase,
      includedTags,
      excludedTags,
      prepareSearch,
      loading,
      results,
      maxPage,
      currentPage,
      submitSearch,
      loadingSC,
      installScenario,
      currentUser,
      orderOptions,
      orderOption,
      approveScenarioPreset,
      deleteScenarioPreset,
    };
  },
});
</script>
