<template>
  <q-page class="column" padding>
    <q-card class="col column">
      <q-card-section class="text-h5 q-pa-md col-auto">
        {{ t('dungeonMasters.sessionsListed') }}
      </q-card-section>
      <session-browser />
    </q-card>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useI18n } from 'vue-i18n';
import SessionBrowser from 'components/online/SessionBrowser.vue';

export default defineComponent({
  name: 'SessionsPage',
  components: {
    SessionBrowser,
  },
  setup() {
    const { t } = useI18n({ useScope: 'global' });

    return {
      t,
    };
  },
});
</script>
