<template>
  <q-page padding class="column">
    <q-card class="column col" v-if="id === ''">
      <q-card-section class="q-pa-md col-auto row">
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-h5">{{ t('stories.texts.getStarted') }}</p>
          <div class="row q-gutter-sm">
            <q-btn
              color="primary"
              :label="t('menus.stories.createANewStory')"
              @click="createStory"
              class="col"
            />
            <q-btn
              color="secondary"
              class="col"
              size="md"
              :label="t('stories.getScenarios')"
              to="/scenarios"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-h5">Import a scenario</p>
          <q-file
            icon="file"
            :label="t('stories.headers.importScenario')"
            multiple
            v-model="scenarioImportFiles"
            @rejected="noticeRejected"
          >
            <template v-slot:append>
              <q-icon name="attach_file" />
            </template>
          </q-file>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-md col column">
        <scenario-selector @open-scenario="openStoryCreator" />
      </q-card-section>
    </q-card>
    <div class="column col" v-else>
      <story-editor :id="id" />
    </div>
  </q-page>
  <q-dialog
    v-model="storyCreatorDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
    full-width
    class="row"
  >
    <q-card
      style="width: 60vw; max-width: 90vw; max-height: 90vh; height: 90vh"
      class="column"
    >
      <q-card-section class="col column">
        <story-creator ref="storyCreatorRef" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import {
  defineComponent,
  ref,
  onBeforeUnmount,
  watch,
  Ref,
  nextTick,
} from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useStoriesStore } from 'stores/stories';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import ScenarioSelector from 'components/stories/ScenarioSelector.vue';
import StoryEditor from 'components/StoryEditor.vue';
import { readFileContents } from 'stores/helpers';
import StoryCreator from 'components/stories/StoryCreator.vue';

export default defineComponent({
  name: 'StoryPage',
  components: {
    StoryEditor,
    ScenarioSelector,
    StoryCreator,
  },
  setup() {
    const $q = useQuasar();
    const { t } = useI18n({ useScope: 'global' });
    const route = useRoute();
    const storiesStore = useStoriesStore();
    const scenarioImportFiles = ref(null);
    const storyImportFiles = ref(null);
    const storyCreatorRef: Ref<object | null> = ref(null);
    const storyCreatorDialog: Ref<boolean> = ref(false);

    const { currentStory } = storeToRefs(storiesStore);

    const id = ref(route.params.id.toString());

    currentStory.value = id.value;

    onBeforeUnmount(() => {
      currentStory.value = '';
    });

    const noticeRejected = () => {
      $q.notify({ message: 'File rejected', color: 'negative' });
    };

    watch(
      () => scenarioImportFiles,
      async (newValue) => {
        if (newValue.value !== null) {
          for (const file of newValue.value) {
            const fileContent = await readFileContents(file);

            try {
              const jsonContent = JSON.parse(fileContent);

              // Check for "lorebookVersion" key
              if ('scenarioVersion' in jsonContent) {
                storiesStore.importScenario(jsonContent);
              } else {
                $q.notify({
                  message: 'Valid JSON but incorrectly formatted Scenario',
                  color: 'negative',
                });
              }
            } catch (error) {
              $q.notify({
                message: 'Incorrectly formatted JSON file',
                color: 'negative',
              });
            }
          }

          // Reset files to null
          scenarioImportFiles.value = null;
        }
      },
      { deep: true }
    );

    const createStory = (): void => {
      openStoryCreator(null);
    };

    const openStoryCreator = async (scenarioId: string | null = null): void => {
      storyCreatorDialog.value = true;
      await nextTick();
      if (storyCreatorRef.value != null && scenarioId != null)
        storyCreatorRef.value.loadScenario(scenarioId);
    };

    return {
      id,
      noticeRejected,
      createStory,
      scenarioImportFiles,
      storyImportFiles,
      storyCreatorRef,
      openStoryCreator,
      storyCreatorDialog,
      t,
    };
  },
});
</script>
