<template>
  <div>
    <div class="chat-area flex-1 full-height q-pb-sm">
      <q-spinner
        class="q-ma-lg"
        color="primary"
        size="80%"
        :thickness="2"
        v-if="messagesLoading"
      />
      <q-scroll-area
        class="scroll-area"
        @scroll="scrollUpdate"
        ref="scrollArea"
        v-if="!messagesLoading"
      >
        <q-chat-message
          v-for="chatMessage in messages"
          :key="chatMessage.uuid"
          :text="[chatMessage.content]"
          :sent="chatMessage.receiver.uuid == userUuid"
          :stamp="chatMessage.createdAt"
        />
      </q-scroll-area>
      <q-input
        autofocus
        :readonly="sendMessageLoading"
        class="q-mt-md"
        @keyup.enter="sendMessage"
        @keydown.esc="closeChatDialog"
        v-model="message"
        outlined
        placeholder="Message here"
      />
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useMutation, useSubscription } from '@vue/apollo-composable';
import { useGuiStore } from 'stores/gui';
import PrivateMessagesSubscription from '../subscriptions/private_messages';
import SendPrivateMessageMutation from '../mutations/send_private_message';

export default {
  name: 'ChatWindow',
  props: ['uuid'],
  setup(props) {
    const guiStore = useGuiStore();
    const message = ref('');
    const scrollArea = ref(null);
    const messages = ref([]);
    const userUuid = ref(props.uuid);
    const shouldScroll = ref(true);

    const { onResult: handleMessage, loading: messagesLoading } =
      useSubscription(
        PrivateMessagesSubscription,
        {
          uuid: props.uuid,
        },
        {
          fetchPolicy: 'cache-and-network',
        }
      );

    handleMessage((result) => {
      const newMessages = result.data.privateMessages.messages;
      if (newMessages && newMessages.length) {
        addMessages(newMessages);
        if (
          scrollArea.value &&
          scrollArea.value.getScrollPercentage().top >= 0.9
        ) {
          // near the bottom, with a small margin
          shouldScroll.value = true;
        }
      }
    });

    const { mutate: sendMessageMutation, loading: sendMessageLoading } =
      useMutation(SendPrivateMessageMutation);

    const sendMessage = () => {
      sendMessageMutation({
        receiver: props.uuid,
        content: message.value,
      });
      message.value = '';
    };

    const addMessages = (newMessages, prepend = false) => {
      // Filter out duplicates based on the uuid property
      const filteredMessages = newMessages.filter(
        (newMsg) =>
          !messages.value.some(
            (existingMsg) => existingMsg.uuid === newMsg.uuid
          )
      );

      // If prepend is true, add new messages to the beginning
      if (prepend) {
        messages.value = filteredMessages.concat(messages.value);
      } else {
        messages.value = messages.value.concat(filteredMessages);
      }

      // Sort by createdAt
      messages.value.sort(
        (a, b) => new Date(a.createdAt) - new Date(b.createdAt)
      );
    };

    const scrollUpdate = (info) => {
      if (shouldScroll.value) {
        scrollArea.value.setScrollPercentage('vertical', 1.0);
        shouldScroll.value = false;
      }
    };

    const closeChatDialog = () => {
      guiStore.closeChatDialog(props.uuid);
    };

    return {
      message,
      sendMessage,
      scrollUpdate,
      scrollArea,
      messagesLoading,
      messages,
      userUuid,
      sendMessageLoading,
      closeChatDialog,
    };
  },
};
</script>
<style scoped>
.chat-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.scroll-area {
  overflow-y: auto;
  flex: 1;
}
</style>
