<template>
  <div
    class="fixed-bottom-right z-top flex"
    :style="`right: ${rightDrawerOpen ? 300 : 4}px;`"
  >
    <div class="column" v-if="hiddenDialogsCount">
      <q-space />
      <q-btn
        dense
        color="accent"
        round
        :label="hiddenDialogsCount"
        class="q-ma-sm"
      >
        <q-tooltip v-model="showingHidden">Hidden Dialogs</q-tooltip>
      </q-btn>
    </div>
    <chat-dialog
      v-for="chatDialog in visibleChatDialogs"
      :key="chatDialog"
      :uuid="chatDialog"
    />
  </div>
</template>

<script lang="ts">
import { ref, Ref, computed } from 'vue';
import { useGuiStore } from 'stores/gui';
import { useDmStore } from 'stores/dm';
import { storeToRefs } from 'pinia';
import ChatDialog from './ChatDialog.vue';

export default {
  name: 'ChatRoot',
  components: {
    ChatDialog,
  },
  setup() {
    const showingHidden: Ref<boolean> = ref(false);
    const guiStore = useGuiStore();
    const { chatDialogs, rightDrawerOpen, leftDrawerOpen } =
      storeToRefs(guiStore);

    const cutoff = computed(() => {
      let w_Width =
        window.innerWidth -
        (rightDrawerOpen.value ? 300 : 4) -
        (leftDrawerOpen.value ? 300 : 4);
      return Math.floor(w_Width / 336);
    });

    const visibleChatDialogs = computed(() => {
      return chatDialogs.value.slice(0, cutoff.value);
    });

    const hiddenDialogsCount = computed(() => {
      return Math.max(chatDialogs.value.length - cutoff.value, 0);
    });

    return {
      chatDialogs,
      visibleChatDialogs,
      hiddenDialogsCount,
      rightDrawerOpen,
      showingHidden,
    };
  },
};
</script>
