<template>
  <q-list>
    <q-item clickable v-ripple @click="openCreatePersonaDialog">
      <q-item-section>
        <q-item-label class="text-primary">{{
          t('personas.createPersona')
        }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-item clickable v-ripple to="/chat">
      <q-item-section>
        <q-item-label class="text-primary">{{
          t('personas.threadsOverview')
        }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-item clickable v-ripple @click="openCreateThreadDialog">
      <q-item-section>
        <q-item-label class="text-primary">{{
          t('personas.createThread')
        }}</q-item-label>
      </q-item-section>
    </q-item>

    <q-item-label v-if="Object.entries(personas).length > 0" header>{{
      t('personas.personas')
    }}</q-item-label>

    <q-item
      clickable
      v-ripple
      v-for="p in personas"
      :key="p.id"
      @click="openPersonaEditDialog(p.id)"
    >
      <q-item-section avatar>
        <q-avatar>
          <q-img
            :src="imageContents[p.avatar]"
            v-if="p.avatar !== null && imageContents[p.avatar]"
          />
        </q-avatar>
      </q-item-section>

      <q-item-section>
        <q-item-label lines="1">{{ p.name }}</q-item-label>
        <q-item-label caption>{{ p.statusMessage }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
  <q-dialog
    v-model="dialogCreatePersona"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white">
      <q-card-section class="bg-primary">
        <div class="text-h6">{{ t('personas.createPersona') }}</div>
      </q-card-section>

      <q-card-section>
        <q-form class="q-gutter-md">
          <q-input
            v-model="newPersonaForm.name"
            type="text"
            :label="t('personas.name')"
          />
          <q-input
            v-model="newPersonaForm.handle"
            type="text"
            :label="t('personas.handle')"
          />
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          color="primary"
          :label="t('personas.createPersona')"
          @click="createPersona"
        />
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="dialogCreateThread"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white">
      <q-card-section class="bg-primary">
        <div class="text-h6">{{ t('personas.createThread') }}</div>
      </q-card-section>

      <q-card-section>
        <q-form class="q-gutter-md">
          <q-select
            filled
            v-model="newThreadPersonas"
            multiple
            map-options
            emit-value
            :options="personaOptions"
            :label="t('personas.threadParticipants')"
            style="width: 250px"
          />
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          color="primary"
          :label="t('personas.createThread')"
          @click="createThread"
          :disable="newThreadPersonas.length === 0"
        />
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="dialogEditPersona"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white" style="min-width: 40%">
      <q-card-section>
        <persona-edit-form :id="selectedPersona" />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  Ref,
  reactive,
  onMounted,
  watch,
  computed,
} from 'vue';
import { useI18n } from 'vue-i18n';
import { useChatStore } from 'stores/chat';
import { storeToRefs } from 'pinia';
import { QuasarSelectOption } from 'stores/helpers';
import { useRouter } from 'vue-router';
import { useImageStore } from 'stores/image';
import PersonaEditForm from 'components/chat/PersonaEditForm.vue';

export default defineComponent({
  name: 'ChatMenu',
  components: {
    PersonaEditForm,
  },
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const router = useRouter();
    const chatStore = useChatStore();
    const imageStore = useImageStore();
    const { personas, threads } = storeToRefs(chatStore);
    const dialogCreatePersona: Ref<boolean> = ref(false);
    const dialogCreateThread: Ref<boolean> = ref(false);
    const dialogEditPersona: Ref<boolean> = ref(false);
    const selectedPersona: Ref<string> = ref('');
    const imageContents: Ref<Record<string, string>> = ref({});
    const newPersonaForm: { name: string; handle: string } = reactive({
      name: '',
      handle: '',
    });
    const newThreadPersonas: Ref<string[]> = ref([]);

    const openCreatePersonaDialog = () => {
      dialogCreatePersona.value = true;
    };

    const openCreateThreadDialog = () => {
      dialogCreateThread.value = true;
    };

    const createPersona = (): void => {
      chatStore.createPersona(newPersonaForm.name, newPersonaForm.handle);
      dialogCreatePersona.value = false;
    };

    const createThread = (): void => {
      const threadId: string = chatStore.createThread(newThreadPersonas.value);
      dialogCreateThread.value = false;
      router.push(`/chat/${threadId}`);
    };

    const personaOptions = computed(() => {
      const returnValue: QuasarSelectOption[] = [];
      for (const personaId in personas.value) {
        returnValue.push({
          label: personas.value[personaId].name,
          value: personas.value[personaId].id,
        });
      }
      return returnValue;
    });

    const openPersonaEditDialog = (personaId: string): void => {
      selectedPersona.value = personaId;
      dialogEditPersona.value = true;
    };

    const loadImages = async (): Promise<void> => {
      const newImageContents: Record<string, string> = {};

      for (const [, persona] of Object.entries(personas.value)) {
        if (persona.avatar) {
          const image = await imageStore.getImageById(persona.avatar);
          if (image && image.content && image.id) {
            newImageContents[image.id] = image.content;
          }
        }
      }

      imageContents.value = newImageContents;
    };

    onMounted(() => {
      loadImages();
    });

    watch(
      () => personas.value,
      () => {
        loadImages();
      },
      {
        deep: true,
      }
    );

    return {
      openCreatePersonaDialog,
      openCreateThreadDialog,
      dialogCreatePersona,
      dialogCreateThread,
      createPersona,
      createThread,
      personas,
      personaOptions,
      threads,
      newPersonaForm,
      newThreadPersonas,
      dialogEditPersona,
      imageContents,
      openPersonaEditDialog,
      selectedPersona,
      t,
    };
  },
});
</script>
