<template>
  <q-card style="width: 320px; height: 480px" class="q-mr-sm">
    <q-card-section v-if="!result">
      <q-spinner-puff
        class="q-ma-lg"
        color="primary"
        size="80%"
        :thickness="2"
      />
    </q-card-section>
    <q-card-section v-else>
      <q-toolbar>
        <q-toolbar-title class="text-body1">
          {{ result.user.displayName }}
        </q-toolbar-title>
        <q-btn
          tabindex="-1"
          flat
          round
          dense
          @click="inviteToSession"
          v-if="currentSession"
          icon="group"
        />
        <q-btn
          tabindex="-1"
          flat
          round
          dense
          icon="close"
          @click="closeDialog"
        />
      </q-toolbar>
    </q-card-section>
    <q-card-section class="q-ma-none q-py-none" v-if="!loading">
      <chat-window :uuid="userUuid" style="height: 398px" />
    </q-card-section>
  </q-card>
</template>

<script>
import { ref } from 'vue';
import { useGuiStore } from 'stores/gui';
import { useQuery } from '@vue/apollo-composable';
import { useDmStore } from 'stores/dm';
import { useMutation } from '@vue/apollo-composable';
import { storeToRefs } from 'pinia';
import SendSessionInviteMutation from 'src/mutations/send_session_invite';
import ChatWindow from 'components/ChatWindow.vue';
import UserQuery from 'src/queries/user';

export default {
  name: 'ChatDialog',
  props: ['uuid'],
  components: {
    ChatWindow,
  },
  setup(props) {
    const dmStore = useDmStore();
    const guiStore = useGuiStore();
    const userUuid = ref(props.uuid);
    const { currentSession } = storeToRefs(dmStore);

    const { result, loading } = useQuery(UserQuery, {
      uuid: props.uuid,
    });

    const { mutate: mutateSendSessionInvite } = useMutation(
      SendSessionInviteMutation
    );

    const closeDialog = () => {
      guiStore.closeChatDialog(props.uuid);
    };

    const inviteToSession = () => {
      mutateSendSessionInvite({
        userId: props.uuid,
        sessionId: currentSession.value.uuid,
      });
    };

    return {
      inviteToSession,
      userUuid,
      result,
      loading,
      closeDialog,
      currentSession,
    };
  },
};
</script>
