<template>
  <div class="column col">
    <div
      v-if="lorebooks[id] !== null"
      class="col column-xs column-sm row-md row-lg row-xl"
    >
      <div class="column col col-md-3" v-if="!isSmall || editorView.id === ''">
        <lorebook-menu
          :id="id"
          :active-entry="editorView.id"
          @open-entry="openEntry"
        />
      </div>
      <div
        class="col col-md-9 column"
        v-if="
          editorView.view === 'entry' &&
          editorView.id !== '' &&
          lorebooks[id].entries[editorView.id] !== undefined &&
          lorebooks[id].entries[editorView.id] !== null
        "
      >
        <lorebook-entry-edit-view
          :lorebook="id"
          :id="editorView.id"
          @open-entry="openEntry"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { defineComponent, reactive, computed } from 'vue';
import { useLorebooksStore } from 'stores/lorebooks'
import { storeToRefs } from 'pinia';
import LorebookEntryEditView from 'components/lorebook/LorebookEntryEditView.vue';
import LorebookMenu from 'components/lorebook/LorebookMenu.vue';

export default defineComponent({
  name: 'LorebookEditor',
  components: {
    LorebookEntryEditView,
    LorebookMenu,
  },
  props: ['id'],
  setup() {
    const $q = useQuasar();
    const lorebooksStore = useLorebooksStore();
    const { lorebooks } = storeToRefs(lorebooksStore)
    const editorView = reactive({ view: '', id: '' });

    const openEditorView = (view: string, id: string) => {
      editorView.id = id;
      editorView.view = view;
    };

    const openEntry = (id: string) => {
      openEditorView('entry', id);
    };

    const isSmall = computed(() => {
      return $q.screen.xs || $q.screen.sm;
    });

    return {
      lorebooks,
      openEditorView,
      editorView,
      openEntry,
      isSmall,
    };
  },
});
</script>
