<template>
  <q-list>
    <q-item-label header>{{ t('lorebooks.headers.lorebooks') }}</q-item-label>
    <q-item>
      <q-item-section>
        <q-file
          accept=".lorebook"
          v-model="files"
          multiple
          :label="t('lorebooks.headers.upload')"
          @rejected="noticeRejected"
        >
          <template v-slot:append>
            <q-icon name="attach_file" />
          </template>
        </q-file>
      </q-item-section>
    </q-item>
    <q-item clickable v-ripple @click="createLorebook">
      <q-item-section>
        <q-item-label class="text-primary">{{
          t('lorebooks.headers.create')
        }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      clickable
      v-ripple
      v-for="l in sortedLorebooks"
      :key="l.id"
      :to="`/lorebooks/${l.id}`"
    >
      <q-item-section>
        <q-item-label class="row">
          <div class="col">{{ l.title }}</div>
          <div class="col-auto">
            <q-btn
              size="sm"
              color="secondary"
              flat
              dense
              round
              icon="download"
              @click="downloadLorebook(l.id)"
            />
            <q-btn
              size="sm"
              color="secondary"
              flat
              dense
              round
              icon="edit"
              @click="openEditLorebookDialog(l.id)"
            />
            <q-btn
              color="negative"
              size="sm"
              flat
              dense
              round
              icon="delete"
              @click="openDeleteLorebookDialog(l.id)"
            />
          </div>
        </q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
  <q-dialog
    v-model="deleteLorebookDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white" style="width: 300px">
      <q-card-section class="bg-primary">
        <div class="text-h6">{{ t('lorebooks.headers.delete') }}</div>
      </q-card-section>

      <q-card-section
        >{{ t('lorebooks.headers.delete') }}
        {{
          lorebooksStore.lorebooks[selectedLorebookForDeletion].title
        }}?</q-card-section
      >
      <q-card-section class="text-caption">
        {{ t('lorebooks.texts.deletionNotice') }}
      </q-card-section>

      <q-card-actions>
        <q-btn flat :label="t('ui.cancel')" v-close-popup />
        <q-space />
        <q-btn
          class="bg-negative"
          flat
          :label="t('ui.ok')"
          @click="deleteLorebook"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="editLorebookDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white" style="min-width: 300px">
      <q-card-section class="bg-primary">
        <div class="text-h6">{{ t('lorebooks.headers.edit') }}</div>
      </q-card-section>

      <q-card-section>
        <lorebook-edit-view :id="selectedLorebookForEdit" />
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          flat
          :label="t('lorebooks.headers.generateCardImage')"
          @click="openCardImageGenerator"
        />
        <q-btn
          flat
          :label="t('lorebooks.headers.resetCardImage')"
          @click="resetCardImage"
        />
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="generateCardImageDialog"
    persistent
    maximized
    transition-show="fade"
    transition-hide="fade"
    class="row"
  >
    <q-card class="column fit">
      <q-card-section class="col column">
        <image-generator
          :prompt="imageParams.prompt"
          :width="imageParams.width"
          :height="imageParams.height"
          @image-generated="imageGenerated"
        />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { useLorebooksStore } from 'src/stores/lorebooks';
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';
import { defineComponent, reactive, computed, ref, Ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { readFileContents, getFileNameWithoutExtension } from 'stores/helpers';
import { Lorebook } from 'stores/types';
import ImageGenerator from 'components/images/ImageGenerator.vue';
import LorebookEditView from 'components/lorebook/LorebookEditView.vue';

export default defineComponent({
  name: 'LorebooksMenu',
  components: {
    LorebookEditView,
    ImageGenerator,
  },
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const $q = useQuasar();
    const router = useRouter();
    const lorebooksStore = useLorebooksStore();
    const files = ref(null);
    const deleteLorebookDialog: Ref<boolean> = ref(false);
    const selectedLorebookForDeletion: Ref<string> = ref('');
    const editLorebookDialog: Ref<boolean> = ref(false);
    const selectedLorebookForEdit: Ref<string> = ref('');
    const generateCardImageDialog: Ref<boolean> = ref(false);
    const imageParams = reactive({
      height: 832,
      width: 320,
      prompt: '',
    });
    const { lorebooks } = storeToRefs(lorebooksStore);

    watch(
      () => files,
      async (newValue) => {
        if (newValue.value !== null) {
          for (const file of newValue.value) {
            const fileContent = await readFileContents(file);

            try {
              const jsonContent = JSON.parse(fileContent);
              const fileNameWithoutExtension = getFileNameWithoutExtension(
                file.name
              );

              // Check for "lorebookVersion" key
              if ('lorebookVersion' in jsonContent) {
                lorebooksStore.importLorebook(
                  jsonContent,
                  fileNameWithoutExtension
                );
              } else {
                $q.notify({
                  message: 'Valid JSON but incorrectly formatted Lorebook',
                  color: 'negative',
                });
              }
            } catch (error) {
              $q.notify({
                message: 'Incorrectly formatted JSON file',
                color: 'negative',
              });
            }
          }

          // Reset files to null
          files.value = null;
        }
      },
      { deep: true }
    );

    const noticeRejected = () => {
      $q.notify({ message: 'File rejected', color: 'negative' });
    };

    const sortedLorebooks = computed(() => {
      const lorebookArray = Object.values(lorebooks.value);

      return lorebookArray.sort((a, b) => a.title.localeCompare(b.title));
    });

    const createLorebook = () => {
      const lorebookUuid = lorebooksStore.createLoreBook();

      router.push(`/lorebooks/${lorebookUuid}`);
    };

    const deleteLorebook = () => {
      deleteLorebookDialog.value = false;
      router.push('/lorebooks');
      lorebooksStore.deleteLorebook(selectedLorebookForDeletion.value);
    };

    const openDeleteLorebookDialog = (lorebookId: string) => {
      selectedLorebookForDeletion.value = lorebookId;
      deleteLorebookDialog.value = true;
    };

    const openEditLorebookDialog = (lorebookId: string) => {
      selectedLorebookForEdit.value = lorebookId;
      editLorebookDialog.value = true;
    };

    const downloadLorebook = (lorebookId: string) => {
      lorebooksStore.exportLorebook(lorebookId);
    };

    const openCardImageGenerator = (): void => {
      const lorebook: Lorebook = lorebooks.value[selectedLorebookForEdit.value];

      const prompt = lorebook.title.replace(/\s+/g, ', ');

      imageParams.prompt = prompt;
      generateCardImageDialog.value = true;
    };

    const imageGenerated = (imageId: string): void => {
      lorebooks.value[selectedLorebookForEdit.value].cardImage = imageId;
      generateCardImageDialog.value = false;
    };

    const resetCardImage = (): void => {
      delete lorebooks.value[selectedLorebookForEdit.value].cardImage;
    };

    return {
      files,
      imageParams,
      noticeRejected,
      sortedLorebooks,
      createLorebook,
      deleteLorebook,
      deleteLorebookDialog,
      openDeleteLorebookDialog,
      selectedLorebookForDeletion,
      lorebooksStore,
      editLorebookDialog,
      selectedLorebookForEdit,
      openEditLorebookDialog,
      downloadLorebook,
      generateCardImageDialog,
      openCardImageGenerator,
      imageGenerated,
      resetCardImage,
      t,
    };
  },
});
</script>
