<template>
  <div class="q-gutter-md">
    <div class="text-body1">
      To upload your currently selected scenario, click the upload button below.
    </div>
    <div class="text-body2">
      Keep in mind you can only upload a scenario once, so make sure it is
      finalized. Scenarios will be associated with your account, and can be
      rated publicly by other users. Uploaded scenarios will go through mod
      approval before becoming visible in the online archive.
    </div>
    <div v-if="uploadStep === ''">
      <q-btn color="primary" @click="startUpload" label="Upload Scenario" />
    </div>
    <div v-else class="text-center text-caption">
      {{ uploadStep }}
      <q-spinner-puff color="primary" size="2.5em" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, Ref } from 'vue';
import { useStoriesStore } from 'stores/stories';
import { useImageStore } from 'stores/image';
import { storeToRefs } from 'pinia';
import { useMutation, useLazyQuery } from '@vue/apollo-composable';
import { GeneratedImage, ScenarioPreset, ScenarioSchema } from 'stores/types';
import ScenarioPresetCreateMutation from 'src/mutations/scenario_preset_create';
import GeneratedImageCreateMutation from 'src/mutations/generated_image_create';
import ScenarioPresetQuery from 'src/queries/scenario_preset';
import GeneratedImageQuery from 'src/queries/generated_image';

export default defineComponent({
  name: 'ScenarioUploader',
  props: {
    scenario: String,
  },
  setup(props, { emit }) {
    console.log(`UUID: ${props.scenario}`);
    const storiesStore = useStoriesStore();
    const imageStore = useImageStore();
    const { scenarios } = storeToRefs(storiesStore);
    const uploadStep: Ref<string> = ref('');
    const { load: queryScenarioPreset } = useLazyQuery(
      ScenarioPresetQuery,
      {},
      { fetchPolicy: 'cache-and-network' }
    );
    const { load: queryGeneratedImage } = useLazyQuery(
      GeneratedImageQuery,
      {},
      { fetchPolicy: 'cache-and-network' }
    );

    const { mutate: mutateScenarioPresetCreate } = useMutation(
      ScenarioPresetCreateMutation
    );

    const { mutate: mutateGeneratedImageCreate } = useMutation(
      GeneratedImageCreateMutation
    );

    const startUpload = async () => {
      if (!props.scenario) return;

      const scenario: ScenarioPreset = scenarios.value[props.scenario];
      if (scenario === undefined || scenario.isPublished) return;

      uploadStep.value = 'Checking existence of scenario preset';
      const resultScenarioQuery = queryScenarioPreset(null, {
        externalId: scenario.id,
      });

      if (resultScenarioQuery.scenarioPreset === undefined) {
        uploadStep.value = 'Scenario not found, proceeding';
      } else {
        uploadStep.value = 'Scenario already exists online';
        return false;
      }

      const scenarioImage: Ref<string> = ref('');

      if (scenario.cardImage) {
        uploadStep.value = 'Checking existence of card image';
        const imageQueryResult = await queryGeneratedImage(null, {
          externalId: scenario.cardImage,
        });
        if (imageQueryResult.generatedImage === null) {
          uploadStep.value = 'Card image not found. Uploading.';
          const image: GeneratedImage | null = await imageStore.getImageById(
            scenario.cardImage
          );
          if (image === null) {
            uploadStep.value = 'Image not found internally. Skipping.';
          } else {
            const imageUploadResult = await mutateGeneratedImageCreate({
              generatedImageInput: {
                externalId: image.id,
                width: image.width,
                height: image.height,
                content: image.content,
                tags: JSON.stringify(image.tags),
                title: image.title,
                description: image.description,
                author: image.author,
              },
            });
            scenarioImage.value =
              imageUploadResult?.data.generatedImageCreate.generatedImage
                .externalId || '';
          }
        } else {
          scenarioImage.value = imageQueryResult.generatedImage.externalId;
        }
      }

      uploadStep.value = 'Uploading scenario preset';
      const scenarioSchema: ScenarioSchema =
        await storiesStore.exportScenarioSchema(
          scenarios.value[props.scenario]
        );
      scenarioSchema.isPublished = true;

      const resultScenarioCreate = await mutateScenarioPresetCreate({
        scenarioPresetInput: {
          externalId: props.scenario,
          title: scenarioSchema.title,
          author: scenarioSchema.author,
          description: scenarioSchema.description,
          interfaceMode: scenarioSchema.settings.mode,
          tags: JSON.stringify(scenarioSchema.tags),
          cardImage: scenarioSchema.cardImage,
          presetJson: JSON.stringify(scenarioSchema),
        },
      });

      if (resultScenarioCreate?.data) {
        uploadStep.value = '';
        scenario.isPublished = true;
        emit('uploaded');
      } else {
        uploadStep.value = 'An error occurred saving the scenario.';
      }

      console.log(resultScenarioCreate);
    };

    return {
      startUpload,
      uploadStep,
    };
  },
});
</script>
