<template>
  <q-tabs
    v-model="settingsMenuTab"
    dense
    class="text-grey col-auto"
    active-color="primary"
    indicator-color="primary"
    align="justify"
    narrow-indicator
  >
    <q-tab icon="edit" name="context" />
    <q-tab icon="psychology" name="ai" />
    <q-tab icon="settings" name="settings" />
    <q-tab icon="group" :disable="!isDmKeySetUp" name="online" />
  </q-tabs>

  <q-separator class="col-auto" />

  <q-scroll-area class="col">
    <q-tab-panels v-model="settingsMenuTab">
      <q-tab-panel name="context" class="q-gutter-sm">
        <context-menu />
      </q-tab-panel>

      <q-tab-panel name="ai" class="q-gutter-sm">
        <AIMenu />
      </q-tab-panel>

      <q-tab-panel name="settings" class="q-gutter-sm">
        <configuration-menu />
      </q-tab-panel>

      <q-tab-panel name="online" class="q-gutter-sm">
        <online-menu />
      </q-tab-panel>
    </q-tab-panels>
  </q-scroll-area>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useDmStore } from 'stores/dm';
import { storeToRefs } from 'pinia';
import { useGuiStore } from 'stores/gui';
import ContextMenu from 'components/settings/ContextMenu.vue';
import AIMenu from 'components/settings/AIMenu.vue';
import ConfigurationMenu from 'components/settings/ConfigurationMenu.vue';
import OnlineMenu from 'components/settings/OnlineMenu.vue';

export default defineComponent({
  name: 'SettingsMenu',
  components: {
    ContextMenu,
    AIMenu,
    ConfigurationMenu,
    OnlineMenu,
  },
  setup() {
    const guiStore = useGuiStore();
    const { settingsMenuTab } = storeToRefs(guiStore);
    const dmStore = useDmStore();
    const { isDmKeySetUp } = storeToRefs(dmStore);

    return {
      settingsMenuTab,
      isDmKeySetUp,
    };
  },
});
</script>
