<template>
  <div class="col column q-gutter-md">
    <div class="col-auto">
      <q-input
        :label="t('lorebooks.headers.title')"
        label-color="primary"
        :placeholder="t('lorebooks.headers.title')"
        class="text-body1"
        v-model="stories[id].title"
      >
        <template v-slot:append>
          <q-icon
            name="remove"
            class="cursor-pointer"
            @click="guiStore.decreaseFontSize"
          />
          <q-icon
            name="add"
            class="cursor-pointer"
            @click="guiStore.increaseFontSize"
          />
          <q-icon
            name="casino"
            class="cursor-pointer"
            @click="GenerateStoryTitle"
          />
        </template>
      </q-input>
    </div>
    <q-scroll-area
      ref="editorScrollAreaRef"
      class="col column q-pr-md"
      @scroll="scrollUpdate"
    >
      <div
        :style="`font-size: ${fontSize}%`"
        ref="editor"
        :class="`col column text-body2 interface-${stories[id].interfaceMode}`"
      ></div>
    </q-scroll-area>
    <div
      class="col-auto row q-gutter-sm"
      v-if="stories[id].interfaceMode === 'adventure'"
    >
      <div class="col">
        <adventure-widget :id="id" />
      </div>
    </div>
    <div class="col-auto row q-gutter-sm">
      <div class="col col-lg-auto">
        <q-btn
          class="full-width"
          color="accent"
          :disable="loading || isAtRootMilestone"
          :label="isSmall ? '' : t('ui.back')"
          icon-right="undo"
          :size="isSmall ? 'sm' : 'md'"
          @click="undoLast"
        />
      </div>
      <div class="col col-lg-auto">
        <q-btn
          class="full-width"
          color="accent"
          :disable="loading || !hasChildMilestones"
          icon-right="redo"
          :size="isSmall ? 'sm' : 'md'"
          @click="skipForward"
        />
      </div>
      <div class="col col-lg-auto">
        <q-btn
          class="full-width"
          color="accent"
          :disable="loading || !hasSiblings || isFirstInSeries"
          icon-right="skip_previous"
          :size="isSmall ? 'sm' : 'md'"
          @click="skipPrevious"
        />
      </div>
      <div class="col col-lg-auto">
        <q-btn
          class="full-width"
          color="accent"
          :disable="loading || !hasSiblings || isLastInSeries"
          icon-right="skip_next"
          :size="isSmall ? 'sm' : 'md'"
          @click="skipNext"
        />
      </div>
      <div class="col col-lg-auto">
        <q-btn
          class="full-width"
          color="accent"
          :disable="apiBusy"
          icon-right="image"
          :size="isSmall ? 'sm' : 'md'"
          @click="openImageGenerator"
        />
      </div>
      <div class="col" v-if="!isSmall">
        <q-btn
          class="full-width"
          color="accent"
          :disable="loading"
          @click="promptStory"
          :label="t('ai.headers.generate')"
          icon-right="send"
        />
      </div>
      <div class="col col-lg-auto">
        <q-btn
          class="full-width"
          color="accent"
          :disable="loading || isAtRootMilestone"
          :label="isSmall ? '' : t('ui.redo')"
          icon-right="replay"
          :size="isSmall ? 'sm' : 'md'"
          @click="redoLast"
        />
      </div>
    </div>
    <div class="row q-gutter-sm">
      <div class="col" v-if="isSmall">
        <q-btn
          class="full-width"
          color="accent"
          :disable="loading"
          @click="promptStory"
          :label="t('ai.headers.generate')"
          icon-right="send"
        />
      </div>
    </div>
  </div>
  <q-dialog
    v-model="generateImageDialog"
    persistent
    maximized
    transition-show="fade"
    transition-hide="fade"
    class="row"
  >
    <q-card class="column fit">
      <q-card-section class="col column">
        <image-generator
          :prompt="imageParams.prompt"
          :width="imageParams.width"
          :height="imageParams.height"
          :editable="true"
          @image-generated="imageGenerated"
        />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { ref, onMounted, watch, computed, Ref, reactive } from 'vue';
import { storeToRefs } from 'pinia';
import { useNaiStore } from 'stores/nai';
import { useStoriesStore } from 'stores/stories';
import { useGuiStore } from 'stores/gui';
import { useImageStore } from 'stores/image';
import { useDmStore } from 'stores/dm';
import { EditorState, TextSelection } from 'prosemirror-state';
import { EditorView } from 'prosemirror-view';
import { DOMParser, Schema } from 'prosemirror-model';
import { GlueWords } from 'stores/helpers';
import AdventureWidget from 'components/stories/AdventureWidget.vue';
import ImageGenerator from 'components/images/ImageGenerator.vue';
import {
  baseKeymap,
  chainCommands,
  deleteSelection,
  selectNodeBackward,
  joinForward,
} from 'prosemirror-commands';
import { keymap } from 'prosemirror-keymap';
import { useI18n } from 'vue-i18n';
import { v4 as uuidv4 } from 'uuid';

export default {
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  components: {
    AdventureWidget,
    ImageGenerator,
  },
  setup(props) {
    const $q = useQuasar();
    const dmStore = useDmStore();
    const { receivedUpdate } = storeToRefs(dmStore);
    const imageStore = useImageStore();
    const { apiBusy } = storeToRefs(imageStore);
    const editorScrollAreaRef: Ref<object | null> = ref(null);
    const userTyping: Ref<boolean> = ref(false);
    const naiStore = useNaiStore();
    const storiesStore = useStoriesStore();
    const guiStore = useGuiStore();
    const editor: Ref<
      Node | ((editor: HTMLElement) => void) | { mount: HTMLElement } | null
    > = ref(null);
    const resettingContent: Ref<boolean> = ref(true);
    const generateImageDialog: Ref<boolean> = ref(false);

    const { loading } = storeToRefs(naiStore);
    const { stories, pendingContentReset } = storeToRefs(storiesStore);
    const { fontSize } = storeToRefs(guiStore);
    const { t } = useI18n({ useScope: 'global' });
    let state: object;
    let view: object;
    const imageParams = reactive({
      height: 384,
      width: 640,
      prompt: '',
    });

    let debounceTimer: NodeJS.Timeout | null;
    let debounceTimerTyping: NodeJS.Timeout | null;

    const isSmall = computed(() => {
      return $q.screen.xs || $q.screen.sm;
    });

    delete baseKeymap.Delete;
    delete baseKeymap.Backspace;

    const customKeymap = {
      Delete: chainCommands(deleteSelection, (state, dispatch) => {
        const { $from, $to } = state.selection;
        const nodeType = state.schema.nodes.span;

        if ($from.pos === $to.pos) {
          if ($from.depth === 1) {
            if ($from.nodeAfter === null) {
              const nextPos = $from.pos + 1;

              if (nextPos < state.doc.content.size) {
                const tr = state.tr.join(nextPos);
                dispatch(tr);
                return true;
              }

              return true;
            } else {
              if ($from.nodeAfter.textContent === '') {
                const tr = state.tr.delete($from.pos + 1, $from.pos + 5);
                dispatch(tr);
              } else {
                const tr = state.tr.delete($from.pos + 1, $from.pos + 2);
                dispatch(tr);
              }
              return true;
            }
          } else {
            if (
              $from.parent.type === nodeType &&
              $from.parentOffset === $from.parent.content.size
            ) {
              const $next = state.doc.resolve($from.after());

              if ($next.parent.type === nodeType) {
                dispatch(state.tr.delete($from.after(), $next.after()));
                return true;
              }
            }
          }
        }

        return false;
      }),

      Backspace: chainCommands(
        deleteSelection,
        (state, dispatch) => {
          const { $from, $to } = state.selection;
          const nodeType = state.schema.nodes.span;

          if ($from.pos < 2) {
            return true;
          }

          if ($from.pos === $to.pos) {
            if ($from.depth === 1) {
              if ($from.nodeBefore === null) {
                const prevPos = $from.pos - 1;

                if (prevPos >= 0) {
                  const tr = state.tr.join(prevPos);
                  dispatch(tr);
                  return true;
                }

                return true;
              } else {
                if ($from.nodeBefore.textContent === '') {
                  const tr = state.tr.delete($from.pos - 5, $from.pos - 1);
                  dispatch(tr);
                } else {
                  const tr = state.tr.delete($from.pos - 2, $from.pos - 1);
                  dispatch(tr);
                }
                return true;
              }
            } else {
              if ($from.parent.type === nodeType && $from.parentOffset === 0) {
                const $prev = state.doc.resolve($from.before());

                if ($prev.parent.type === nodeType) {
                  dispatch(state.tr.delete($prev.before(), $from.before()));
                  return true;
                }
              }
            }
          }

          return false;
        },
        selectNodeBackward,
        joinForward
      ),

      ...baseKeymap,
    };

    const fullKeymap = { ...customKeymap };

    const customNodes = {
      paragraph: {
        content: 'image | span+',
        group: 'block',
        attrs: {
          id: { default: null },
          class: { default: null },
          source: { default: 0 },
          image: { default: null },
        },
        parseDOM: [
          {
            tag: 'p',
            getAttrs: (dom) => ({
              id: dom.getAttribute('id'),
              class: dom.getAttribute('class'),
              source: dom.getAttribute('source'),
              image: dom.getAttribute('image'),
            }),
          },
        ],
        toDOM: (node) => [
          'p',
          {
            id: node.attrs.id || uuidv4(),
            class: node.attrs.class,
            source: node.attrs.source,
            image: node.attrs.image,
          },
          0,
        ],
      },
      text: {
        group: 'inline',
      },
      span: {
        content: 'text*',
        group: 'inline',
        inline: true,
        attrs: { class: { default: 'userText' } },
        parseDOM: [
          {
            tag: 'span',
            getAttrs: (dom) => ({
              class: dom.getAttribute('class'),
            }),
          },
        ],
        toDOM: (node) => ['span', { class: node.attrs.class }, 0],
      },
      image: {
        inline: true,
        attrs: {
          src: {},
          alt: { default: null },
          title: { default: null },
        },
        group: 'inline',
        draggable: true,
        parseDOM: [
          {
            tag: 'img[src]',
            getAttrs: (dom) => ({
              src: dom.getAttribute('src'),
              alt: dom.getAttribute('alt'),
              title: dom.getAttribute('title'),
            }),
          },
        ],
        toDOM: (node) => ['img', node.attrs],
      },
      doc: {
        content: 'block+',
      },
    };

    const customSchema = new Schema({
      nodes: customNodes,
    });

    onMounted(async () => {
      let div = document.createElement('doc');
      const storyHtml: string = await storiesStore.getStoryHtml(props.id);
      div.innerHTML = storyHtml;
      state = EditorState.create({
        doc: DOMParser.fromSchema(customSchema).parse(div, {
          preserveWhitespace: true,
        }),
        schema: customSchema,
        plugins: [keymap(fullKeymap)],
      });

      div.remove();

      view = new EditorView(editor.value, {
        state: state,
        dispatchTransaction: dispatchTransaction,
        handleKeyDown: handleKeyDown,
        handleTextInput: handleTextInput,
      });

      resettingContent.value = true;
    });

    watch(
      () => loading.value,
      () => {
        if (!loading.value) {
          storiesStore.saveHistoryMilestone(props.id);
        }
      }
    );

    watch(
      () => stories.value[props.id].paragraphs,
      async () => {
        if (
          loading.value ||
          resettingContent.value ||
          receivedUpdate.value ||
          pendingContentReset.value[props.id]
        ) {
          delete pendingContentReset.value[props.id];
          const { from, to } = view.state.selection;

          let div = document.createElement('doc');
          div.innerHTML = await storiesStore.getStoryHtml(props.id);
          const parsedContent = DOMParser.fromSchema(customSchema).parse(div, {
            preserveWhitespace: true,
          });

          const tr = view.state.tr.replaceWith(
            0,
            view.state.doc.content.size,
            parsedContent.content
          );

          if (from >= 0 && to <= view.state.doc.content.size) {
            tr.setSelection(view.state.selection.map(tr.doc, tr.mapping));
          }

          view.dispatch(tr, { scrollIntoView: true });
          div.remove();
          resettingContent.value = false;
        }
      },
      {
        deep: true,
      }
    );

    const handleTextInput = (view, from, to, text) => {
      const $from = view.state.doc.resolve(from);
      // Check if the user is typing in a span
      const isInSpan = $from.parent.type.name === 'span';

      if (isInSpan && $from.parent.attrs.class !== 'userText') {
        // User is typing in a non-userText span, split and create a new userText span
        const newUserSpan = customSchema.nodes.span.create({
          class: 'userText',
        });

        // Replace the existing span with the newUserSpan
        const newPos = from + 1;
        const tr = view.state.tr
          .replaceWith(from, to, newUserSpan)
          .insertText(text, newPos)
          .delete(newPos + 3, newPos + 4);

        // Check if $from.nodeAfter is null
        if (!$from.nodeAfter) {
          const newPosAfter = tr.selection.to + 3;
          tr.setSelection(TextSelection.create(tr.doc, newPosAfter));
        }

        // Revisit this later
        tr.scrollIntoView();

        view.dispatch(tr);

        return true;
      }
    };

    const dispatchTransaction = (transaction) => {
      const newState = view.state.apply(transaction);
      view.updateState(newState);
      if (!loading.value && transaction.docChanged) {
        saveStory();
      }
    };

    const handleKeyDown = (view, event) => {
      clearTimeout(debounceTimerTyping);

      // Set up a new timer
      debounceTimerTyping = setTimeout(() => {
        userTyping.value = false;
      }, 1000); // Adjust the delay (in milliseconds) as needed
      if (event.ctrlKey && event.key === 'Enter') {
        handleControlEnter();
      } else if (event.key === 'Enter') {
        handleEnter(view, event);
      }
    };

    const handleEnter = (view, event) => {
      // Revisit later to ensure "blank" lines are blanked
      const { $from, $to } = view.state.selection;

      if ($from.depth === 2) {
        // Cursor is in a span
        const splitPos = $from.pos;

        view.dispatch(
          view.state.tr
            .delete($from.pos, $to.pos)
            .split(splitPos, $from.depth)
            .scrollIntoView()
        );

        // Get the position after the split
        const newPos = splitPos + 2;

        // Generate a new ID for the second paragraph
        const newParagraphId = uuidv4();

        // Update the document to assign the new ID
        view.dispatch(
          view.state.tr.setNodeMarkup(newPos, undefined, {
            id: newParagraphId,
            class: null, // You may want to adjust this based on your requirements
          })
        );
      }
    };

    const handleControlEnter = () => {
      promptStory();
    };

    const GenerateStoryTitle = () => {
      if (!loading.value) {
        storiesStore.GenerateTitle(props.id);
      }
    };

    const saveStory = () => {
      // Clear the existing timer if the function is called again before the delay ends
      clearTimeout(debounceTimer);

      // Set up a new timer
      debounceTimer = setTimeout(() => {
        storiesStore.saveStoryDOM(
          props.id,
          editor.value.querySelector('.ProseMirror')
        );
      }, 1000); // Adjust the delay (in milliseconds) as needed
    };

    const promptStory = async () => {
      if (!loading.value) {
        storiesStore.saveHistoryMilestone(props.id);
        await storiesStore.promptAndAppendStory(props.id);
        storiesStore.saveHistoryMilestone(props.id);
        resettingContent.value = true;
      }
    };

    const redoLast = () => {
      undoLast();
      promptStory();
    };

    const undoLast = () => {
      resettingContent.value = true;
      storiesStore.historyGoBack(props.id);
    };

    const currentMilestone = computed(() => {
      return storiesStore.getCurrentMilestone(props.id);
    });

    const isAtRootMilestone = computed(() => {
      return (
        currentMilestone.value === undefined ||
        currentMilestone.value.previousMilestone === ''
      );
    });

    const hasSiblings = computed(() => {
      return numberOfSiblings.value > 1;
    });

    const historySiblings = computed(() => {
      return storiesStore.getParallelMilestones(
        props.id,
        currentMilestone.value.id
      );
    });

    const numberOfSiblings = computed(() => {
      return historySiblings.value.length;
    });

    const isFirstInSeries = computed(() => {
      return currentMilestone.value.id === historySiblings.value[0].id;
    });

    const isLastInSeries = computed(() => {
      return (
        currentMilestone.value.id ===
        historySiblings.value[numberOfSiblings.value - 1].id
      );
    });

    const hasChildMilestones = computed(() => {
      return (
        storiesStore.getChildMilestones(props.id, currentMilestone.value.id)
          .length > 0
      );
    });

    const skipForward = () => {
      resettingContent.value = true;
      storiesStore.historyGoForward(props.id);
    };

    const skipNext = () => {
      resettingContent.value = true;
      storiesStore.historyGoNext(props.id);
    };

    const skipPrevious = () => {
      resettingContent.value = true;
      storiesStore.historyGoPrevious(props.id);
    };

    const scrollUpdate = () => {
      if (loading.value || resettingContent.value) {
        resettingContent.value = false;
        editorScrollAreaRef.value.setScrollPercentage('vertical', 1.0);
      }
    };

    const openImageGenerator = () => {
      let textToProcess = '';

      // Check if there is a selection in the editor and it's not empty
      const selection = view.state.selection;
      console.log(selection);
      if (!selection.empty) {
        // Extract the text from the selection
        view.state.doc.nodesBetween(
          selection.from,
          selection.to,
          (node, pos) => {
            if (node.isText) {
              // Calculate the relative positions within the node
              const start = Math.max(selection.from, pos) - pos;
              const end = Math.min(selection.to, pos + node.nodeSize) - pos;

              // Extract the relevant portion of the text
              textToProcess += node.text.slice(start, end);
            }
          }
        );
      } else {
        // Fallback to using the full story text if no selection or selection is empty
        textToProcess = storiesStore.getStoryText(props.id);
      }

      textToProcess = textToProcess.replace(/[^\w\s]|_/g, '');

      const glueWords = new Set(GlueWords);
      let words = textToProcess.split(/\s+/);

      words.reverse();
      words = Array.from(new Set(words));
      words = words.filter((word) => !glueWords.has(word));

      let combinedCount = 0;
      words = words.filter((word) => {
        if (combinedCount + word.length <= 250) {
          combinedCount += word.length + 2;
          return true;
        }
        return false;
      });

      imageParams.prompt = words.join(', ');
      generateImageDialog.value = true;
    };

    const imageGenerated = async (imageId: string) => {
      resettingContent.value = true;
      storiesStore.addImageToStory(props.id, imageId);
      generateImageDialog.value = false;
    };

    return {
      imageGenerated,
      openImageGenerator,
      generateImageDialog,
      scrollUpdate,
      isLastInSeries,
      isFirstInSeries,
      editor,
      undoLast,
      redoLast,
      loading,
      stories,
      guiStore,
      fontSize,
      isAtRootMilestone,
      currentMilestone,
      GenerateStoryTitle,
      editorScrollAreaRef,
      promptStory,
      isSmall,
      hasSiblings,
      skipPrevious,
      skipNext,
      skipForward,
      hasChildMilestones,
      apiBusy,
      imageParams,
      t,
    };
  },
};
</script>

<style>
.ProseMirror {
  flex: 10000 1 0%;
  outline: none;
  overflow-y: auto;
  width: 100%;
  max-height: 100%;
  line-break: normal;
}

.ProseMirror img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.q-scrollarea__container {
  flex: 10000 1 0%;
}
</style>
