<template>
  <q-list>
    <q-item-label header>{{ t('menus.stories.header') }}</q-item-label>
    <q-item clickable v-ripple @click="createCategory">
      <q-item-section>
        <q-item-label class="text-primary">{{
          t('menus.stories.createANewCategory')
        }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-item clickable v-ripple to="/">
      <q-item-section>
        <q-item-label class="text-primary">{{
          t('menus.stories.createANewStory')
        }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item-label header v-if="currentStoryCategory !== ''" class="row"
      ><div class="col">
        {{ storiesStore.storyCategories[currentStoryCategory].title }}
      </div>
      <div class="col-auto">
        <q-btn
          class="gt-xs"
          color="secondary"
          size="sm"
          flat
          dense
          round
          icon="edit"
          @click="editStoryCategoryDialog = true"
        />
        <q-btn
          class="gt-xs"
          color="negative"
          size="sm"
          flat
          dense
          round
          icon="delete"
          @click="deleteStoryCategoryDialog = true"
        />
      </div>
    </q-item-label>
    <q-item
      v-if="currentStoryCategory !== ''"
      clickable
      v-ripple
      @click="browseParentCategory"
    >
      <q-item-section>
        <q-item-label class="text-secondary"> .. </q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      clickable
      v-ripple
      v-for="v in filteredStoryCategories"
      :key="v.id"
      class="text-secondary"
      @click="browseToCategory(v.id)"
    >
      <q-item-section>
        <q-item-label>{{ v.title }}</q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      clickable
      v-ripple
      v-for="v in filteredStories"
      :key="v.id"
      :to="`/${v.id}`"
      :style="`background-size: cover; background-position: center; ${
        v.menuImage && imageContents[v.menuImage]
          ? `background-image: url('${imageContents[v.menuImage]}') !important`
          : ''
      }`"
    >
      <q-item-section
        :class="`${v.menuImage ? 'scenario-header ' : ''}q-px-xs`"
      >
        <q-item-label>{{ v.title }}</q-item-label>
        <q-item-label caption>{{ v.description }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
  <q-dialog
    v-model="editStoryCategoryDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white" style="min-width: 300px">
      <q-card-section class="bg-primary">
        <div class="text-h6">{{ t('menus.stories.editingCategory') }}</div>
      </q-card-section>

      <q-card-section
        ><q-form class="q-gutter-md"
          ><q-input
            type="text"
            label="Category Name"
            v-model="
              storiesStore.storyCategories[currentStoryCategory].title
            " /></q-form
      ></q-card-section>

      <q-card-actions align="right">
        <q-btn flat :label="t('ui.ok')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="deleteStoryCategoryDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white" style="width: 300px">
      <q-card-section class="bg-primary">
        <div class="text-h6">{{ t('categories.headers.delete') }}</div>
      </q-card-section>

      <q-card-section
        >{{ t('menus.stories.deleteCategory') }}
        {{
          storiesStore.storyCategories[currentStoryCategory].title
        }}?</q-card-section
      >
      <q-card-section class="text-caption">
        {{ t('menus.stories.categoryDeletionNotice') }}
      </q-card-section>

      <q-card-actions>
        <q-btn flat :label="t('ui.cancel')" v-close-popup />
        <q-space />
        <q-btn
          class="bg-negative"
          flat
          :label="t('ui.ok')"
          @click="deleteCategory"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, onMounted, computed, watch, ref, Ref } from 'vue';
import { useStoriesStore } from 'stores/stories';
import { useImageStore } from 'stores/image';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'StoriesMenu',
  setup() {
    const imageStore = useImageStore();
    const storiesStore = useStoriesStore();
    const editStoryCategoryDialog: Ref<boolean> = ref(false);
    const deleteStoryCategoryDialog: Ref<boolean> = ref(false);
    const imageContents: Ref<Record<string, string>> = ref({});
    const { t } = useI18n({ useScope: 'global' });

    const { stories, storyCategories, currentStoryCategory } =
      storeToRefs(storiesStore);

    const createCategory = () => {
      const newStoryCategory = storiesStore.createStoryCategory(
        currentStoryCategory.value
      );
      currentStoryCategory.value = newStoryCategory;
    };

    // Computed property to filter stories based on currentStoryCategory
    const filteredStories = computed(() => {
      const filteredEntries = Object.entries(stories.value)
        .filter(([_, story]) => story.category === currentStoryCategory.value)
        .sort((a, b) => a[1].title.localeCompare(b[1].title));

      return Object.fromEntries(filteredEntries);
    });

    // Computed property to filter stories based on currentStoryCategory
    const filteredStoryCategories = computed(() => {
      const filteredEntries = Object.entries(storyCategories.value)
        .filter(
          ([_, storyCategory]) =>
            storyCategory.parentCategory === currentStoryCategory.value
        )
        .sort((a, b) => a[1].title.localeCompare(b[1].title));

      return Object.fromEntries(filteredEntries);
    });

    const browseParentCategory = () => {
      currentStoryCategory.value =
        storyCategories.value[currentStoryCategory.value].parentCategory;
    };

    const browseToCategory = (id: string) => {
      currentStoryCategory.value = id;
    };

    const deleteCategory = () => {
      deleteStoryCategoryDialog.value = false;
      const categoryId =
        storiesStore.storyCategories[currentStoryCategory.value].id;
      const parent =
        storiesStore.storyCategories[currentStoryCategory.value].parentCategory;
      currentStoryCategory.value = parent;
      storiesStore.deleteStoryCategory(categoryId);
    };

    watch(filteredStories.value, () => {
      loadImages();
    });

    onMounted(() => {
      loadImages();
    });

    const loadImages = async (): Promise<void> => {
      const newImageContents: Record<string, string> = {};

      for (const [, story] of Object.entries(filteredStories.value)) {
        if (story.menuImage) {
          const image = await imageStore.getImageById(story.menuImage);
          if (image && image.content && image.id) {
            newImageContents[image.id] = image.content;
          }
        }
      }

      imageContents.value = newImageContents;
    };

    return {
      browseParentCategory,
      browseToCategory,
      createCategory,
      stories,
      currentStoryCategory,
      filteredStories,
      filteredStoryCategories,
      storiesStore,
      editStoryCategoryDialog,
      deleteStoryCategoryDialog,
      deleteCategory,
      imageContents,
      t,
    };
  },
});
</script>
