<template>
  <q-header elevated>
    <q-toolbar class="q-gutter-sm q-py-sm">
      <q-btn
        flat
        dense
        round
        icon="menu"
        aria-label="Menu"
        @click="toggleLeftDrawer"
      />

      <q-btn
        dense
        flat
        round
        icon="edit"
        aria-label="Stories"
        to="/"
        :color="active === 'stories' ? 'secondary' : ''"
      />

      <q-btn
        dense
        flat
        round
        icon="book"
        aria-label="Lorebooks"
        to="/lorebooks"
        :color="active === 'lorebooks' ? 'secondary' : ''"
      />

      <q-btn
        flat
        dense
        round
        icon="forum"
        aria-label="Chat"
        to="/chat"
        :color="active === 'chat' ? 'secondary' : ''"
      />

      <q-btn
        flat
        dense
        round
        icon="image"
        aria-label="Images"
        to="/images"
        :color="active === 'image' ? 'secondary' : ''"
      />

      <q-btn
        flat
        dense
        round
        disable
        icon="group"
        aria-label="Multiplayer"
        to="/multiplayer"
        v-if="false"
      />

      <q-toolbar-title v-if="!isSmall" class="text-h5">
        Dungeonmaster
      </q-toolbar-title>

      <q-chip
        :label="`${t('ui.credits')}: ${combinedCredits}`"
        color="accent"
        class="vertical-middle"
      />

      <q-btn
        flat
        dense
        round
        icon="settings"
        aria-label="Settings"
        @click="openRightBar"
      />
    </q-toolbar>
  </q-header>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { useQuasar } from 'quasar';
import { useGuiStore } from 'stores/gui';
import { useNaiStore } from 'stores/nai';
import { useI18n } from 'vue-i18n';
import { storeToRefs } from 'pinia';

export default defineComponent({
  name: 'TopHeader',
  props: ['active'],
  setup() {
    const $q = useQuasar();
    const { t } = useI18n({ useScope: 'global' });
    const guiStore = useGuiStore();
    const naiStore = useNaiStore();

    const { loading, combinedCredits } = storeToRefs(naiStore);

    const toggleLeftDrawer = () => {
      guiStore.toggleLeftDrawer();
    };

    const openSettingsMenu = () => {
      guiStore.openSettingsMenu();
    };

    const openRightBar = () => {
      guiStore.toggleRightDrawer();
    };

    const isSmall = computed(() => {
      return $q.screen.xs || $q.screen.sm;
    });

    return {
      toggleLeftDrawer,
      openRightBar,
      openSettingsMenu,
      loading,
      combinedCredits,
      isSmall,
      t,
    };
  },
});
</script>
