<template>
  <div class="fit column">
    <q-scroll-area class="col">
      <div class="row">
        <div class="col-12 q-pa-sm">
          <q-toggle
            v-model="lorebooks[lorebook].categories[id].useCategoryDefaults"
            label="Use Category Defaults"
          />
          <p class="text-subtitle2">
            {{ t('categories.texts.contextLeadin') }}
          </p>
          <p class="text-body1">{{ t('context.headers.searchRange') }}</p>
          <q-slider
            v-model="
              lorebooks[lorebook].categories[id].categoryDefaults.searchRange
            "
            class="q-mt-md"
            label-always
            :min="0"
            :max="50000"
            :step="100"
            color="primary"
          />
        </div>
        <div class="col-6 q-pa-sm">
          <p>
            <q-toggle
              v-model="
                lorebooks[lorebook].categories[id].categoryDefaults.keyRelative
              "
              :label="t('context.headers.keyRelativeInsertion')"
            />
          </p>
          <p>
            <q-toggle
              v-model="
                lorebooks[lorebook].categories[id].categoryDefaults
                  .forceActivation
              "
              :label="t('context.headers.alwaysOn')"
            />
          </p>
        </div>
        <div class="col-6 q-pa-sm">
          <p>
            <q-toggle
              v-model="
                lorebooks[lorebook].categories[id].categoryDefaults
                  .nonStoryActivatable
              "
              :label="t('context.headers.cascadingActivation')"
            />
          </p>
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="defaultPrefix"
            :label="t('context.headers.prefix')"
            @update:model-value="saveAppendages"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].categories[id].categoryDefaults.contextConfig
                .reservedTokens
            "
            :label="t('context.headers.reservedTokens')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="defaultSuffix"
            :label="t('context.headers.suffix')"
            @update:model-value="saveAppendages"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].categories[id].categoryDefaults.contextConfig
                .budgetPriority
            "
            :label="t('context.headers.insertionOrder')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].categories[id].categoryDefaults.contextConfig
                .tokenBudget
            "
            :label="t('context.headers.tokenBudget')"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].categories[id].categoryDefaults.contextConfig
                .insertionPosition
            "
            :label="t('context.headers.insertionPosition')"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.trimDirection') }}</p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].categories[id].categoryDefaults.contextConfig
                .trimDirection
            "
            :options="trimDirections"
          />
          <p class="text-body1 q-mt-md">
            {{ t('context.headers.insertionType') }}
          </p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].categories[id].categoryDefaults.contextConfig
                .insertionType
            "
            :options="insertionTypes"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.maximumTrimType') }}</p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].categories[id].categoryDefaults.contextConfig
                .maximumTrimType
            "
            :options="maximumTrimTypes"
          />
        </div>
        <div class="col-12 q-pa-sm">
          <q-btn
            class="full-width q-mt-md"
            label="Update All Entries"
            color="primary"
          />
        </div>
      </div>
    </q-scroll-area>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, onMounted } from 'vue';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'DefaultsForm',
  props: ['id', 'lorebook'],
  setup(props) {
    const { t } = useI18n({ useScope: 'global' });
    const defaultPrefix = ref('');
    const defaultSuffix = ref('');
    const subcontextPrefix = ref('');
    const subcontextSuffix = ref('');

    const trimDirections = reactive([
      {
        label: 'Top',
        value: 'trimTop',
      },
      {
        label: 'Bottom',
        value: 'trimBottom',
      },
      {
        label: 'Do Not Trim',
        value: 'doNotTrim',
      },
    ]);

    const maximumTrimTypes = reactive([
      {
        label: 'Newline',
        value: 'newline',
      },
      {
        label: 'Sentence',
        value: 'sentence',
      },
      {
        label: 'Token',
        value: 'token',
      },
    ]);

    const insertionTypes = reactive([
      {
        label: 'Newline',
        value: 'newline',
      },
      {
        label: 'Sentence',
        value: 'sentence',
      },
      {
        label: 'Token',
        value: 'token',
      },
    ]);

    const lorebooksStore = useLorebooksStore();
    const { lorebooks } = storeToRefs(lorebooksStore);

    onMounted(() => {
      const appendages = lorebooksStore.getCategoryAppendages(
        props.lorebook,
        props.id
      );
      defaultPrefix.value = appendages.default.prefix;
      defaultSuffix.value = appendages.default.suffix;
      subcontextPrefix.value = appendages.subcontext.prefix;
      subcontextSuffix.value = appendages.subcontext.suffix;
    });

    const saveAppendages = () => {
      lorebooksStore.saveCategoryContextAppendages(props.lorebook, props.id, {
        default: {
          prefix: defaultPrefix.value,
          suffix: defaultSuffix.value,
        },
        subcontext: {
          prefix: subcontextPrefix.value,
          suffix: subcontextSuffix.value,
        },
      });
    };

    return {
      lorebooks,
      t,
      trimDirections,
      maximumTrimTypes,
      insertionTypes,
      defaultPrefix,
      defaultSuffix,
      saveAppendages,
    };
  },
});
</script>
