<template>
  <div class="fit column">
    <q-scroll-area class="col">
      <div class="row">
        <div class="col-12 q-pa-sm">
          <p class="text-body1">
            {{ t('categories.headers.categoryPhraseBiases') }}
          </p>
          <div class="row">
            <q-select
              class="col"
              v-model="selectedBiasGroup"
              :options="biasGroupOptions"
              option-value="value"
              option-label="label"
              map-options
              emit-value
            />
            <q-btn-group class="col-auto" push>
              <q-btn color="primary" icon="add" @click="addBiasGroup" />
              <q-btn
                color="primary"
                :disable="selectedBiasGroup === null"
                icon="delete"
                @click="deleteBiasGroup"
              />
            </q-btn-group>
          </div>
        </div>
        <div v-if="selectedBiasGroup !== null" class="col-12 q-pa-sm row">
          <div class="col-12">
            <div class="col row">
              <q-input
                v-model="newPhrase"
                @keypress.enter.prevent="addPhrase"
                type="text"
                :label="t('phraseBias.headers.addPhrase')"
                class="full-width"
                v-if="selectedPhrase === -1"
              >
                <template v-slot:append>
                  <q-icon
                    name="add"
                    class="cursor-pointer"
                    @click="addPhrase"
                  />
                </template>
              </q-input>
              <q-input
                v-model="selectedBiasGroup.phrases[selectedPhrase]"
                @keypress.enter.prevent="selectedPhrase === null"
                type="text"
                :label="t('phraseBias.headers.changePhrase')"
                class="full-width"
                v-else
              >
                <template v-slot:append>
                  <q-icon
                    name="remove"
                    class="cursor-pointer"
                    @click="deletePhrase"
                  />
                </template>
              </q-input>
            </div>
            <q-separator />
            <p class="text-body1">
              {{ t('phraseBias.headers.bias') }}: {{ selectedBiasGroup.bias }}
            </p>
            <q-slider
              v-model="selectedBiasGroup.bias"
              :min="-2"
              :max="2"
              :step="0.01"
            />
            <p class="text-body1">{{ t('phraseBias.headers.phrases') }}</p>
            <q-chip
              outline
              @click="selectedPhrase = selectedPhrase === k ? -1 : k"
              :selected="selectedPhrase == k"
              color="primary"
              :label="`{ ${phrase} }`"
              v-for="(phrase, k) in selectedBiasGroup.phrases"
              :key="k"
            />
            <div>
              <q-toggle
                :label="t('ui.enabled')"
                v-model="selectedBiasGroup.enabled"
              />
            </div>
            <div>
              <q-toggle
                :label="t('phraseBias.headers.whenInactive')"
                v-model="selectedBiasGroup.whenInactive"
              />
            </div>
            <div>
              <q-toggle
                :label="t('phraseBias.headers.ensureSequenceFinish')"
                v-model="selectedBiasGroup.ensureSequenceFinish"
              />
            </div>
            <div>
              <q-toggle
                :label="t('phrase.headers.generateOnce')"
                v-model="selectedBiasGroup.generateOnce"
              />
            </div>
          </div>
        </div>
      </div>
    </q-scroll-area>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, onMounted } from 'vue';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'PhraseBiasForm',
  props: ['lorebook', 'id'],
  setup(props) {
    const { t } = useI18n({ useScope: 'global' });
    const lorebooksStore = useLorebooksStore();
    const selectedBiasGroup = ref(null);
    const newPhrase = ref('');
    const selectedPhrase = ref(-1);
    const { lorebooks } = storeToRefs(lorebooksStore);

    // Computed property to format options for q-select
    const biasGroupOptions = computed(() => {
      const biasGroups =
        lorebooks.value[props.lorebook].categories[props.id].categoryBiasGroups;

      return biasGroups.map((group) => {
        const phrasesInBrackets = group.phrases
          .map((phrase) => `{ ${phrase} }`)
          .join(', ');

        const label =
          group.phrases.length === 0
            ? `Bias: ${group.bias} | empty`
            : `Bias: ${group.bias} | ${phrasesInBrackets}`;

        return {
          value: group, // Set the value to the entire object
          label: label,
        };
      });
    });

    // Mounted lifecycle hook
    onMounted(() => {
      // Select the first bias group if available
      if (biasGroupOptions.value.length > 0) {
        selectedBiasGroup.value = biasGroupOptions.value[0].value;
      }
    });

    const addPhrase = (): void => {
      if (selectedBiasGroup.value !== null && newPhrase.value !== '') {
        selectedBiasGroup.value.phrases.push(newPhrase.value);
        newPhrase.value = '';
      }
    };

    const deletePhrase = (): void => {
      selectedBiasGroup.value.phrases.splice(
        selectedPhrase.value,
        selectedPhrase.value
      );
    };

    const addBiasGroup = (): void => {
      const newGroup = {
        phrases: [],
        ensureSequenceFinish: false,
        generateOnce: true,
        bias: 0,
        enabled: true,
        whenInactive: false,
      };

      lorebooks.value[props.lorebook].categories[
        props.id
      ].categoryBiasGroups.push(newGroup);

      // Set the selected bias group to the newly added group
      selectedBiasGroup.value = newGroup;
    };

    const deleteBiasGroup = (): void => {
      if (selectedBiasGroup.value !== null) {
        const index = lorebooks.value[props.lorebook].categories[
          props.id
        ].categoryBiasGroups.indexOf(selectedBiasGroup.value);

        if (index !== -1) {
          lorebooks.value[props.lorebook].categories[
            props.id
          ].categoryBiasGroups.splice(index, 1);

          // Reset selectedBiasGroup after deletion
          selectedBiasGroup.value = null;
        }
      }
    };

    return {
      selectedPhrase,
      lorebooks,
      selectedBiasGroup,
      newPhrase,
      biasGroupOptions,
      addPhrase,
      addBiasGroup,
      deleteBiasGroup,
      deletePhrase,
      t,
    };
  },
});
</script>
