<template>
  <div class="fit column">
    <q-scroll-area class="col">
      <div class="row">
        <div class="col-12 q-pa-sm">
          <q-toggle
            v-model="lorebooks[lorebook].categories[id].createSubcontext"
            :label="t('context.headers.createSubcontext')"
          />
          <p class="text-subtitle2">
            {{ t('context.texts.subcontext') }}
          </p>
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="subcontextPrefix"
            :label="t('context.headers.prefix')"
            @update:model-value="saveAppendages"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].categories[id].subcontextSettings
                .contextConfig.reservedTokens
            "
            :label="t('context.headers.reservedTokens')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="subcontextSuffix"
            :label="t('context.headers.suffix')"
            @update:model-value="saveAppendages"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].categories[id].subcontextSettings
                .contextConfig.budgetPriority
            "
            :label="t('context.headers.insertionOrder')"
          />
        </div>
        <div class="col-12 col-md-4 q-pa-sm">
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].categories[id].subcontextSettings
                .contextConfig.tokenBudget
            "
            :label="t('context.headers.tokenBudget')"
          />
          <q-input
            type="text"
            v-model="
              lorebooks[lorebook].categories[id].subcontextSettings
                .contextConfig.insertionPosition
            "
            :label="t('context.headers.insertionPosition')"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.trimDirection') }}</p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].categories[id].subcontextSettings
                .contextConfig.trimDirection
            "
            :options="TrimDirections"
          />
          <p class="text-body1 q-mt-md">
            {{ t('context.headers.insertionType') }}
          </p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].categories[id].subcontextSettings
                .contextConfig.insertionType
            "
            :options="InsertionTypes"
          />
        </div>
        <div class="col-12 col-md-6 q-pa-sm">
          <p class="text-body1">{{ t('context.headers.maximumTrimType') }}</p>
          <q-btn-toggle
            v-model="
              lorebooks[lorebook].categories[id].subcontextSettings
                .contextConfig.maximumTrimType
            "
            :options="TrimTypes"
          />
        </div>
      </div>
    </q-scroll-area>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { InsertionTypes, TrimDirections, TrimTypes } from 'stores/helpers';

export default defineComponent({
  name: 'SubcontextForm',
  props: ['lorebook', 'id'],
  setup(props) {
    const { t } = useI18n({ useScope: 'global' });
    const defaultPrefix = ref('');
    const defaultSuffix = ref('');
    const subcontextPrefix = ref('');
    const subcontextSuffix = ref('');

    const lorebooksStore = useLorebooksStore();
    const { lorebooks } = storeToRefs(lorebooksStore);

    onMounted(() => {
      const appendages = lorebooksStore.getCategoryAppendages(
        props.lorebook,
        props.id
      );
      defaultPrefix.value = appendages.default.prefix;
      defaultSuffix.value = appendages.default.suffix;
      subcontextPrefix.value = appendages.subcontext.prefix;
      subcontextSuffix.value = appendages.subcontext.suffix;
    });

    const saveAppendages = () => {
      lorebooksStore.saveCategoryContextAppendages(props.lorebook, props.id, {
        default: {
          prefix: defaultPrefix.value,
          suffix: defaultSuffix.value,
        },
        subcontext: {
          prefix: subcontextPrefix.value,
          suffix: subcontextSuffix.value,
        },
      });
    };

    return {
      lorebooks,
      InsertionTypes,
      TrimDirections,
      TrimTypes,
      t,
      subcontextPrefix,
      subcontextSuffix,
      saveAppendages,
    };
  },
});
</script>
