@import 'fonts/amatic-sc.scss';
@import 'fonts/atkinson-hyperlegible.scss';
@import 'fonts/cinzel.scss';
@import 'fonts/eczar.scss';
@import 'fonts/kanit.scss';
@import 'fonts/orbitron.scss';
@import 'fonts/quicksand.scss';
@import 'fonts/saira.scss';
@import 'fonts/source-sans-pro.scss';
@import 'fonts/ubuntu.scss';

@import 'themes.scss'; // app global css in SCSS form

@import '../../node_modules/prosemirror-view/style/prosemirror.css';

$nai-purple: #9773ff;

body {
  font-family: 'Quicksand';
}

.promptText {
  color: #71ffc3;
}

.aiText {
  color: #ffffff;
}

.userText {
  color: #7a7d8e;
}

.text-new {
  color: #9b9eb8;
}

.text-new::selection {
  color: #9b9eb8;
  background-color: rgba(128, 129, 255, 0.4);
}

.interface-adventure p[source='2'] {
  border: 1px $accent solid;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.scenario-header {
  background-color: rgba(15, 15, 15, 0.7);
}
