// src/css/quasar.variables.scss

$primary: #2fa9a9; // Primary brand/element color
$secondary: #7a7d8e; // Alternative element color
$accent: #314149; // Accent color to offset primary

$dark: #1d1d1d; // Dark elements
$dark-page: #0a0c16; // Page background

$positive: #21ba45; // Positive notices
$negative: #ff3838; // Negative notices
$info: #31ccec; // Information notices
$warning: #f2c037; // Warnings
