.theme-nai-classic {
  font-family: 'Source Sans 3';
  --q-primary: #9773ff;
  --q-secondary: #9b9eb8;
  --q-accent: #1e2231;

  --q-dark: #1d1d1d;
  --q-dark-page: #191b31;

  --q-positive: #21ba45;
  --q-negative: #ff3838;
  --q-info: #31ccec;
  --q-warning: #f2c037;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Eczar';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #71ffc3; /* Light Green */
  }

  .userText {
    color: #7a7d8e; /* Grayish Blue */
  }
}

.theme-nai-cyberpunk {
  font-family: 'Saira';
  --q-primary: #63f2f1; // Teal
  --q-secondary: #f26733; // Orange
  --q-accent: #6c757d; // Silverish Gray

  --q-dark: #171717; // Dark Gray
  --q-dark-page: #0d0d0d; // Almost Black

  --q-positive: #46e946; // Neon Green
  --q-negative: #f23838; // Neon Red
  --q-info: #448aff; // Neon Blue
  --q-warning: #f2d43a; // Yellow

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Saira';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #f26733; /* Orange */
  }

  .userText {
    color: #63f2f1; /* Teal */
  }
}

.theme-nai-rustic {
  font-family: 'Eczar';
  --q-primary: #cc9966;
  --q-secondary: #6699cc;
  --q-accent: #996633;

  --q-dark: #2d2d2d;
  --q-dark-page: #262626;

  --q-positive: #99cc99;
  --q-negative: #ff6666;
  --q-info: #6699cc;
  --q-warning: #cc9900;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Eczar';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #a7a7a7; /* Light Gray */
  }

  .userText {
    color: #cc9966; /* Rustic Orange */
  }
}

.theme-nai-elven {
  font-family: 'Kanit';
  --q-primary: #00cc99;
  --q-secondary: #ffcc00;
  --q-accent: #9933cc;

  --q-dark: #000011;
  --q-dark-page: #000022;

  --q-positive: #00cc66;
  --q-negative: #ff3333;
  --q-info: #3399ff;
  --q-warning: #ffcc00;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Cinzel';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #a7a7a7; /* Light Gray */
  }

  .userText {
    color: #00cc99; /* Elven Green */
  }
}

.theme-nai-galaxy {
  font-family: 'Ubuntu';
  --q-primary: #02478b;
  --q-secondary: #ffcc00e5;
  --q-accent: #9900cc;

  --q-dark: #000000;
  --q-dark-page: #1a1a1a;

  --q-positive: #33cc33;
  --q-negative: #ff3333;
  --q-info: #3399ff;
  --q-warning: #ffcc00;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Orbitron';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #7a7d8e; /* Grayish Blue */
  }

  .userText {
    color: #02478b; /* Deep Blue */
  }
}

.theme-nai-quill {
  font-family: 'Source Sans 3';
  --q-primary: #663300;
  --q-secondary: #3366cc;
  --q-accent: #996633;

  --q-dark: #1d1d1d;
  --q-dark-page: #262626;

  --q-positive: #669933;
  --q-negative: #cc6666;
  --q-info: #3366cc;
  --q-warning: #cc9900;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Eczar';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #7a7d8e; /* Grayish Blue */
  }

  .userText {
    color: #663300; /* Quill Brown */
  }
}

.theme-nai-caesar {
  font-family: 'Ubuntu';
  --q-primary: #8b4513;
  --q-secondary: #c0c0c0;
  --q-accent: #8b0000;

  --q-dark: #2f4f4f;
  --q-dark-page: #222222;

  --q-positive: #006400;
  --q-negative: #ff6347;
  --q-info: #000080;
  --q-warning: #ffd700;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Cinzel';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #a7a7a7; /* Light Gray */
  }

  .userText {
    color: #c0c0c0; /* Caesar Silver */
  }
}

.theme-nai-terracotta {
  font-family: 'Kanit';
  --q-primary: #cc3333;
  --q-secondary: #ffcc00;
  --q-accent: #0066cc;

  --q-dark: #333333;
  --q-dark-page: #404040;

  --q-positive: #009900;
  --q-negative: #cc0000;
  --q-info: #3366cc;
  --q-warning: #cc9900;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Saira';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #a7a7a7; /* Light Gray */
  }

  .userText {
    color: #cc3333; /* Terracotta Red */
  }
}

.theme-nai-otaku {
  font-family: 'Ubuntu';
  --q-primary: #ff69b4;
  --q-secondary: #87ceeb;
  --q-accent: #ffc0cb;

  --q-dark: #2b2b2b;
  --q-dark-page: #333333;

  --q-positive: #00ff00;
  --q-negative: #ff4500;
  --q-info: #6495ed;
  --q-warning: #ffd700;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Saira';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #7a7d8e; /* Grayish Blue */
  }

  .userText {
    color: #ff69b4; /* Otaku Pink */
  }
}

.theme-nai-ocean {
  font-family: 'Quicksand';
  --q-primary: #005a8d; // Deep Ocean Blue
  --q-secondary: #95c4f3; // Light Ocean Blue
  --q-accent: #3cb0fd; // Sky Blue

  --q-dark: #022b3a; // Dark Ocean Blue
  --q-dark-page: #010a14; // Almost Black

  --q-positive: #00cc66; // Vibrant Green
  --q-negative: #ff3333;
  --q-info: #3399ff;
  --q-warning: #ffcc00;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Eczar';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #7a7d8e; /* Grayish Blue */
  }

  .userText {
    color: #005a8d; /* Deep Ocean Blue */
  }
}

.theme-nai-tropical {
  font-family: 'Kanit';
  --q-primary: #ff6f61; // Coral Red (Background)
  --q-secondary: #ffffff; // White (Text)
  --q-accent: #62b4ff; // Tropical Blue

  --q-dark: #353535; // Dark Gray
  --q-dark-page: #222222; // Almost Black

  --q-positive: #00cc66; // Vibrant Green
  --q-negative: #ff3333;
  --q-info: #3399ff;
  --q-warning: #ffcc00;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Eczar';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #7a7d8e; /* Grayish Blue */
  }

  .userText {
    color: #62b4ff; /* Tropical Blue */
  }
}

.theme-nai-polar {
  font-family: 'Saira';
  --q-primary: #d2e7f7; // Icy Blue (Background)
  --q-secondary: #a2a7f7; // Dark Gray (Text)
  --q-accent: #3366cc;

  --q-dark: #333333; // Dark Gray
  --q-dark-page: #404040; // Slightly Darker Gray

  --q-positive: #00cc66; // Vibrant Green
  --q-negative: #ff3333;
  --q-info: #3399ff;
  --q-warning: #ffcc00;

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Saira';
  }

  .aiText {
    color: #333333; /* Dark Gray */
  }

  .promptText {
    color: #d2e7f7; /* Icy Blue */
  }

  .userText {
    color: #3366cc; /* Polar Blue */
  }
}

.theme-nai-metal {
  font-family: 'Quicksand';
  --q-primary: #65737e; // Steel Gray
  --q-secondary: rgb(153, 152, 152);
  --q-accent: #b87333; // Rusty Orange

  --q-dark: #333333; // Dark Charcoal
  --q-dark-page: #1a1a1a; // Almost Black

  --q-positive: #8db600; // Chrome Green
  --q-negative: #cc5500; // Burnt Orange
  --q-info: #1f5bff; // Metallic Blue
  --q-warning: #cdad00; // Brass Yellow

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Quicksand';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #65737e; /* Steel Gray */
  }

  .userText {
    color: #b87333; /* Rusty Orange */
  }
}

.theme-nai-industrial {
  font-family: 'Kanit';
  --q-primary: #ad8a64; // Worn Copper
  --q-secondary: #321e1c; // Dark Brown
  --q-accent: #d4a33d; // Brass Gold

  --q-dark: #321e1c; // Dark Brown
  --q-dark-page: #1a1a1a; // Almost Black

  --q-positive: #576d4c; // Aged Green
  --q-negative: #8f2a2a; // Rusty Red
  --q-info: #507ea4; // Weathered Blue
  --q-warning: #a78d58; // Antique Gold

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Kanit';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #ad8a64; /* Worn Copper */
  }

  .userText {
    color: #d4a33d; /* Brass Gold */
  }
}

.theme-nai-primal {
  font-family: 'Atkinson Hyperlegible';
  --q-primary: #8b5a2b; // Earthy Brown
  --q-secondary: #244023; // Dark Green
  --q-accent: #e6903f; // Tribal Orange

  --q-dark: #244023; // Dark Green
  --q-dark-page: #2d1f0d; // Deep Brown

  --q-positive: #2e5a28; // Jungle Green
  --q-negative: #a52a2a; // Tribal Red
  --q-info: #1c5294; // Rainforest Blue
  --q-warning: #ffa500; // Sunset Orange

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Atkinson Hyperlegible';
  }

  .aiText {
    color: #ffffff; /* White */
  }

  .promptText {
    color: #e6903f; /* Tribal Orange */
  }

  .userText {
    color: #8b5a2b; /* Earthy Brown */
  }
}

.theme-nai-spiritbox {
  font-family: 'Cinzel', serif;

  --q-primary: #990000; // Dark Gray
  --q-secondary: #404040; // Slightly Darker Gray
  --q-accent: #cc6666; // Terracotta Red

  --q-dark: #000000; // Black
  --q-dark-page: #080808; // Almost Black

  --q-positive: #4caf50; // Forest Green
  --q-negative: #ff0000; // Red
  --q-info: #2196f3; // Royal Blue
  --q-warning: #ff9800; // Orange

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6 {
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
  }

  .aiText {
    color: #ffffff; /* Wahite */
  }

  .promptText {
    color: #cc6666; /* Terracotta Red */
  }

  .userText {
    color: #818181;
  }
}
