<template>
  <q-card-section class="text-body1">
    <q-form class="q-gutter-md">
      <p>
        Click here to generate an invite code. By entering this code, another
        user can add you to their friend list.
      </p>
      <div>
        <q-btn
          color="secondary"
          :label="t('social.generateInvite')"
          class="full-width"
          @click="createInviteCode"
        />
      </div>
      <div class="text-center" v-if="newInviteCode !== ''">
        Invite code: {{ newInviteCode }}
      </div>
      <q-separator class="q-my-md" />
      <p>Enter an invite code below to send someone a friend request.</p>
      <q-input
        type="text"
        :label="t('social.inviteCode')"
        v-model="inviteCode"
      />
      <div>
        <q-btn
          color="primary"
          :disable="inviteCode.length !== 8"
          :label="t('social.sendFriendRequest')"
          class="full-width"
          @click="addFriend"
        />
      </div>
    </q-form>
  </q-card-section>
</template>

<script lang="ts">
import { defineComponent, ref, Ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { useMutation } from '@vue/apollo-composable';
import { useQuasar } from 'quasar';
import InviteCodeCreateMutation from 'src/mutations/invite_code_create';
import AddFriendByCodeMutation from 'src/mutations/add_friend_by_code';

export default defineComponent({
  name: 'FriendAdder',
  setup() {
    const $q = useQuasar();
    const inviteCode: Ref<string> = ref('');
    const newInviteCode: Ref<string> = ref('');
    const { t } = useI18n({ useScope: 'global' });

    const { mutate: mutateInviteCodeCreate } = useMutation(
      InviteCodeCreateMutation
    );

    const { mutate: mutateAddFriend } = useMutation(AddFriendByCodeMutation);

    const createInviteCode = async (): Promise<void> => {
      const result = await mutateInviteCodeCreate();
      newInviteCode.value = result?.data.inviteCodeCreate.inviteCode.key;
    };

    const addFriend = async (): Promise<void> => {
      const result = await mutateAddFriend({
        key: inviteCode.value,
      });
      if (result?.data.addFriendByCode.result) {
        $q.notify({
          message: 'Friend request sent',
          color: 'positive',
        });
      } else {
        $q.notify({
          message: 'Failed to add friend',
          color: 'negative',
        });
      }
    };

    return {
      inviteCode,
      newInviteCode,
      createInviteCode,
      addFriend,
      t,
    };
  },
});
</script>
