<template>
  <q-card-section class="col column">
    <div class="col" ref="parentContainerRef">
      <q-scroll-area ref="scrollAreaRef">
        <q-list v-if="result">
          <q-item v-for="s in result.appSessions" :key="s.uuid" class="row">
            <q-item-section class="col-auto">
              Host: {{ s.user.displayName }}
            </q-item-section>
            <q-item-section class="col"> {{ s.name }} </q-item-section>
            <q-item-section class="col-auto" v-if="s.private">
              <q-btn class="gt-xs" flat dense round icon="key">
                <q-tooltip>{{
                  t('dungeonMasters.privateDescription')
                }}</q-tooltip>
              </q-btn>
            </q-item-section>
            <q-item-section class="col-auto" side>
              <q-btn
                class="gt-xs"
                flat
                dense
                round
                icon="link"
                :disable="!s.user.isOnline"
                @click="
                  openSession(
                    s.uuid,
                    s.name,
                    s.selectedStory,
                    s.private,
                    s.user.uuid,
                    s.user.displayName
                  )
                "
              />
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </div>
  </q-card-section>
</template>

<script lang="ts">
import { defineComponent, ref, Ref, onMounted, onUnmounted, watch } from 'vue';
import { AppSession } from 'stores/types';
import { useSubscription } from '@vue/apollo-composable';
import { useDmStore } from 'stores/dm';
import { useI18n } from 'vue-i18n';
import AppSessionsSubscription from 'src/subscriptions/app_sessions';

export default defineComponent({
  name: 'SessionBrowser',
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const dmStore = useDmStore();
    const scrollAreaRef = ref(null);
    const parentContainerRef = ref(null);

    const { result } = useSubscription(AppSessionsSubscription);

    const updateScrollAreaHeight = () => {
      if (scrollAreaRef.value && parentContainerRef.value) {
        scrollAreaRef.value.$el.style.height = `${parentContainerRef.value.offsetHeight}px`;
      }
    };

    let resizeObserver;
    onMounted(() => {
      resizeObserver = new ResizeObserver(updateScrollAreaHeight);
      if (parentContainerRef.value) {
        resizeObserver.observe(parentContainerRef.value);
      }

      // Update height immediately on component mount
      updateScrollAreaHeight();
    });

    onUnmounted(() => {
      if (resizeObserver && parentContainerRef.value) {
        resizeObserver.unobserve(parentContainerRef.value);
      }
    });

    // React to changes in the parent container's size
    watch(
      () => parentContainerRef.value,
      () => {
        updateScrollAreaHeight();
      },
      { immediate: true }
    );

    const openSession = (
      sessionId: string,
      sessionName: string,
      storyId: string,
      isPrivate: boolean,
      userId: string,
      userName: string
    ) => {
      if (!isPrivate) {
        const newSession: AppSession = {
          uuid: sessionId,
          name: sessionName,
          selectedStory: storyId,
          private: isPrivate,
          privateKey: undefined,
          listed: true,
          user: {
            uuid: userId,
            displayName: userName,
          },
        };
        dmStore.connectToSession(newSession);
      }
    };

    return {
      scrollAreaRef,
      parentContainerRef,
      result,
      dmStore,
      openSession,
      t,
    };
  },
});
</script>
