<template>
  <q-card-section class="text-body1">
    <q-form class="q-gutter-md">
      <q-input
        type="text"
        :label="t('dungeonMasters.sessionTitle')"
        v-model="form.name"
      />
      <q-checkbox
        :label="t('dungeonMasters.sessionListed')"
        v-model="form.listed"
      >
        <q-tooltip v-model="tooltipPublic">{{
          t('dungeonMasters.publicDescription')
        }}</q-tooltip>
      </q-checkbox>
      <q-checkbox :label="t('dungeonMasters.isPrivate')" v-model="form.private">
        <q-tooltip v-model="tooltipPrivate">{{
          t('dungeonMasters.privateDescription')
        }}</q-tooltip>
      </q-checkbox>
      <q-input
        v-if="form.private"
        type="text"
        :label="t('dungeonMasters.password')"
        v-model="currentPassword"
      />
      <q-select
        :label="t('stories.selectedStory')"
        :options="storyOptions"
        v-model="form.selectedStory"
        map-options
        emit-value
      />
      <div>
        <q-btn
          class="full-width"
          color="primary"
          :label="t('dungeonMasters.createSession')"
          :disable="formIncomplete"
          @click="submitForm"
        />
      </div>
    </q-form>
  </q-card-section>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, Ref, onMounted, computed } from 'vue';
import { AppSession } from 'stores/types';
import { useI18n } from 'vue-i18n';
import { useStoriesStore } from 'stores/stories';
import { useRouter } from 'vue-router';
import { AppSessionInput } from 'stores/types';
import { storeToRefs } from 'pinia';
import { QuasarSelectOption } from 'stores/helpers';
import { useMutation } from '@vue/apollo-composable';
import { useDmStore } from 'stores/dm';
import AppSessionCreateMutation from 'src/mutations/app_session_create';

export default defineComponent({
  name: 'SessionCreator',
  setup(props, { emit }) {
    const router = useRouter();
    const dmStore = useDmStore();
    const storiesStore = useStoriesStore();
    const { t } = useI18n({ useScope: 'global' });
    const { stories } = storeToRefs(storiesStore);
    const { isHost } = storeToRefs(dmStore);
    const tooltipPrivate: Ref<boolean> = ref(false);
    const tooltipPublic: Ref<boolean> = ref(false);
    const currentPassword: Ref<string> = ref('');
    const form: AppSessionInput = reactive({
      name: '',
      private: false,
      listed: false,
      selectedStory: '',
    });
    const storyOptions: QuasarSelectOption[] = reactive([]);
    const { mutate } = useMutation(AppSessionCreateMutation);

    onMounted(() => {
      for (const s in stories.value) {
        storyOptions.push({
          label: stories.value[s].title,
          value: stories.value[s].id,
        });
      }
    });

    const formIncomplete = computed((): boolean => {
      return form.selectedStory === '' || form.name.length < 5 ? true : false;
    });

    const submitForm = async () => {
      if (formIncomplete.value) return;

      const result = await mutate({
        appSessionInput: form,
      });

      if (result?.data) {
        const sessionId: string = result?.data.appSessionCreate.appSession.uuid;
        const storyId: string =
          result?.data.appSessionCreate.appSession.selectedStory;
        const name: string = result?.data.appSessionCreate.appSession.name;
        const isPrivate: boolean =
          result?.data.appSessionCreate.appSession.private;
        const isListed: boolean =
          result?.data.appSessionCreate.appSession.listed;
        const userId: string =
          result?.data.appSessionCreate.appSession.user.uuid;
        const userName: string =
          result?.data.appSessionCreate.appSession.user.displayName;
        const newSession: AppSession = {
          uuid: sessionId,
          selectedStory: storyId,
          name: name,
          private: isPrivate,
          privateKey: isPrivate ? currentPassword.value : undefined,
          listed: isListed,
          user: {
            uuid: userId,
            displayName: userName,
          },
        };
        dmStore.connectToSession(newSession);
        isHost.value = true;
        router.push(`/${storyId}`);
        emit('openedSession');
      }
    };

    return {
      t,
      form,
      formIncomplete,
      storyOptions,
      tooltipPrivate,
      tooltipPublic,
      currentPassword,
      submitForm,
    };
  },
});
</script>
