<template>
  <div
    v-if="dbInitialized"
    @drop.stop.prevent="handleDrop"
    @dragover.prevent
    @dragenter.prevent
  >
    <router-view :key="$route.fullPath" />
  </div>
  <div v-else class="text-center fixed" style="height: 100vh; width: 100vw">
    <q-spinner-puff color="primary" class="q-mx-auto" size="80%" />
  </div>
  <q-dialog v-model="showKeyDialog" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">{{ t('novelAI.headers.key') }}</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input
          :type="hidePassword ? 'password' : 'text'"
          :label="t('novelAI.headers.key')"
          @update:model-value="updateKey"
          dense
          v-model="naiKey"
          autofocus
        >
          <template v-slot:append>
            <q-icon
              :name="hidePassword ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="hidePassword = !hidePassword"
            />
          </template>
        </q-input>
        <p class="text-body1 q-mt-sm">{{ t('novelAI.texts.keyRequired') }}</p>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog v-model="outstandingInvite" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <q-toolbar>
          <q-toolbar-title class="text-body1">
            Session Invitation
          </q-toolbar-title>
          <q-btn
            tabindex="-1"
            flat
            round
            dense
            icon="close"
            @click="denyInvite"
          />
        </q-toolbar>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <p>
          You've been invited to a session ({{ invitedSession.name }}) by
          {{ invitedBy }}
        </p>
        <q-btn
          color="primary"
          label="Accept Invite"
          @click="acceptInvitation"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
  <q-dialog v-model="showChangelog">
    <q-card style="min-width: 50vw; min-height: 70vh" class="column">
      <q-card-section class="col-auto">
        <q-toolbar>
          <q-toolbar-title class="text-body1"> New Updates </q-toolbar-title>
          <q-btn dense flat icon="close" v-close-popup />
        </q-toolbar>
      </q-card-section>

      <q-card-section class="q-pt-none markdown-presenter column col">
        <q-scroll-area class="column col">
          <vue-markdown class="col" :source="changelogContent" />
        </q-scroll-area>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import {
  defineComponent,
  watch,
  ref,
  Ref,
  onMounted,
  computed,
  ComputedRef,
} from 'vue';
import { useGuiStore } from 'stores/gui';
import { useNaiStore } from 'stores/nai';
import { useStoriesStore } from 'stores/stories';
import { useChatStore } from 'stores/chat';
import { useLorebooksStore } from 'stores/lorebooks';
import { useImageStore } from 'stores/image';
import { useDbStore } from 'stores/db';
import { useDmStore } from 'stores/dm';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { apolloClient } from './boot/apollo';
import { ApolloLink } from '@apollo/client/core';
import { createConsumer } from '@rails/actioncable';
import ActionCableLink from 'graphql-ruby-client/subscriptions/ActionCableLink';
import { readFileContents, deepClone } from 'stores/helpers';
import { useSubscription, useMutation } from '@vue/apollo-composable';
import StatusSubscription from 'src/subscriptions/status';
import SessionEventSubscription from 'src/subscriptions/session_event';
import SendSessionEventMutation from 'src/mutations/send_session_event';
import { useRouter } from 'vue-router';
import {
  User,
  StoryParagraph,
  Story,
  Lorebook,
  StoryCategory,
  StoryHistory,
  AppSession,
} from 'stores/types';
import MD5 from 'crypto-js/md5';
import VueMarkdown from 'vue-markdown-render';

export default defineComponent({
  name: 'App',
  components: {
    VueMarkdown,
  },
  setup() {
    const router = useRouter();
    const db = useDbStore();
    const showKeyDialog = ref(false);
    const hidePassword = ref(true);
    const { t, locale } = useI18n({ useScope: 'global' });
    const $q = useQuasar();
    const loadingSpinner = ref(null);
    const acLoaded: Ref<boolean> = ref(false);
    const guiStore = useGuiStore();
    const naiStore = useNaiStore();
    const lorebooksStore = useLorebooksStore();
    const storiesStore = useStoriesStore();
    const imageStore = useImageStore();
    const dmStore = useDmStore();
    const dbInitialized = ref(false);
    const chatStore = useChatStore();
    const invitedBy: Ref<string> = ref('');
    const invitedSession: Ref<AppSession | null> = ref(null);
    const { personas, threads, threadMilestones } = storeToRefs(chatStore);
    const {
      dmKey,
      isDmKeySetUp,
      sessionActive,
      currentSessionId,
      currentSession,
      currentUser,
      receivedUpdate,
    } = storeToRefs(dmStore);
    const { language } = storeToRefs(guiStore);
    const {
      loading,
      defaultParameters,
      defaultSettings,
      parameterPresets,
      naiKey,
    } = storeToRefs(naiStore);
    const {
      stories,
      storyCategories,
      storyHistories,
      scenarios,
      currentStory,
    } = storeToRefs(storiesStore);
    const { lorebooks } = storeToRefs(lorebooksStore);
    const { mutate: mutateSendSessionEvent } = useMutation(
      SendSessionEventMutation
    );

    guiStore.setTheme();
    db.openDatabase();

    const updateKey = (v: string) => {
      naiStore.updateNaiKey(v);
    };

    const changelogContent: Ref<string> = ref('');
    const showChangelog: Ref<boolean> = ref(false);

    const fetchAndCompareChangelog = async () => {
      try {
        const response = await fetch(
          'https://gitlab.com/api/v4/projects/52490994/repository/files/CHANGELOG.md/raw?ref=master'
        );
        if (!response.ok) throw new Error('Failed to fetch changelog');
        const content = await response.text();
        const contentMD5 = MD5(content).toString();

        const storedMD5 = localStorage.getItem('changelogMD5');
        if (storedMD5 !== contentMD5) {
          changelogContent.value = content;
          showChangelog.value = true;
          localStorage.setItem('changelogMD5', contentMD5);
        }
      } catch (error) {
        console.error('Error fetching or processing changelog:', error);
      }
    };

    onMounted(() => {
      naiStore.loadDefaultSettings();
      naiStore.loadDefaultParameters();
      if (naiKey.value.length === 68) {
        naiStore.getAccountLimit();
      } else {
        showKeyDialog.value = true;
      }
      if (language.value !== null && language.value !== '') {
        locale.value = language.value;
      }

      if (isDmKeySetUp.value) resetActionCableLink();
      fetchAndCompareChangelog();
    });

    const resetActionCableLink = () => {
      const token = dmKey.value;

      if (apolloClient !== null) {
        const cableUri = `${
          process.env.NODE_ENV === 'production'
            ? 'https://api.dungeonmasters.ai'
            : 'http://localhost:3025'
        }/cable?accesstoken=${token}`;
        const cable = createConsumer(cableUri);
        const actionCableLink = new ActionCableLink({ cable });

        const hasSubscriptionOperation = ({ query: { definitions } }) => {
          return definitions.some(
            ({ kind, operation }) =>
              kind === 'OperationDefinition' && operation === 'subscription'
          );
        };

        const newLink = ApolloLink.split(
          hasSubscriptionOperation,
          actionCableLink,
          apolloClient.link
        );

        apolloClient.setLink(newLink);

        acLoaded.value = true;
      }
    };

    const acReady: ComputedRef<boolean> = computed(() => {
      return acLoaded.value && dmKey.value.length === 70;
    });

    const { onResult: processStatusResult } = useSubscription(
      StatusSubscription,
      null,
      {
        enabled: acReady,
      }
    );

    const { onResult: processSessionResult } = useSubscription(
      SessionEventSubscription,
      {
        sessionId: currentSessionId,
      },
      {
        enabled: sessionActive,
      }
    );

    let referenceStoryHistoryCopy: StoryHistory | null = null;
    let receivedUpdateTimer = null;

    const setReferenceStoryHistoryCopy = () => {
      if (
        currentSession.value &&
        storyHistories.value[currentSession.value.selectedStory]
      ) {
        referenceStoryHistoryCopy = deepClone(
          storyHistories.value[currentSession.value.selectedStory]
        );
      }
    };
    processStatusResult((result: any) => {
      const args: any | null = result.data.status?.arguments
        ? JSON.parse(result.data.status.arguments)
        : null;
      switch (result?.data.status.message) {
        case 'initialized':
          dmStore.setCurrentUser(args);
          break;
        case 'session_invite':
          if (invitedBy.value === '') {
            invitedBy.value = args.invitedBy;
            invitedSession.value = args.session;
          }
          break;
      }
    });

    processSessionResult((result: any) => {
      const args: any | null = result.data.sessionEvent.arguments
        ? JSON.parse(result.data.sessionEvent.arguments)
        : null;
      switch (result.data.sessionEvent.message) {
        case 'synchronize_story':
          const lorebookCollection: Record<string, Lorebook> = JSON.parse(
            args.lorebooks
          );
          const story: Story = JSON.parse(args.content);
          stories.value[currentSession.value?.selectedStory as string] = story;
          for (const lorebookId in lorebookCollection) {
            lorebooks.value[lorebookId] = lorebookCollection[lorebookId];
          }
          const storyHistory: StoryHistory = JSON.parse(args.storyHistory);
          storyHistories.value[currentSession.value?.selectedStory as string] =
            storyHistory;
          storiesStore.saveHistory(currentSession.value?.selectedStory);

          const receivedCategories: Record<string, StoryCategory> = JSON.parse(
            args.storyCategories
          );
          for (const categoryId in receivedCategories) {
            storyCategories.value[categoryId] = receivedCategories[categoryId];
          }
          setReferenceStoryHistoryCopy();
          router.push(`/${currentSession.value?.selectedStory}`);
          break;
        case 'user_connected':
          // User has connected to the session
          // result.data.sessionEvent.arguments is a JSON string containing the object: { uuid: string, displayName: string }
          // All clients should note the user in their session/user state
          // Host should transmit story content
          dmStore.addUserToSession(args as User);
          if (args.uuid !== currentUser.value?.uuid) {
            mutateSendSessionEvent({
              sessionId: currentSession.value?.uuid,
              message: 'user_present',
              arguments: JSON.stringify({
                sessionId: currentSession.value?.uuid,
                uuid: currentUser.value?.uuid,
                displayName: currentUser.value?.displayName,
              }),
            });
          }
          if (currentSession.value?.user.uuid === currentUser.value?.uuid) {
            // Lorebooks array from the selected story
            const lorebookIds =
              stories.value[currentSession.value.selectedStory].lorebooks;

            // Constructing the lorebooks object
            const lorebooksObj = lorebookIds.reduce(
              (obj: Record<string, Lorebook>, lorebookId: string) => {
                // Assuming lorebooks.value is an object with lorebook IDs as keys
                const lorebook: Lorebook = lorebooks.value[lorebookId];
                if (lorebook) {
                  obj[lorebookId] = lorebook; // Add the lorebook object keyed by its ID
                }
                return obj;
              },
              {}
            );

            const storyHistory: StoryHistory =
              storyHistories.value[currentSession.value.selectedStory];

            // Get the relevant categories
            const storyCategory: StoryCategory =
              storyCategories.value[
                stories.value[currentSession.value.selectedStory].category
              ];
            const relevantCategories = {};
            let currentCategory = storyCategory;
            while (currentCategory) {
              relevantCategories[currentCategory.id] = currentCategory;
              currentCategory = currentCategory.parentCategory
                ? storyCategories.value[currentCategory.parentCategory]
                : null;
            }

            // Preparing the arguments for mutateSendSessionEvent
            const eventArguments = JSON.stringify({
              content: JSON.stringify(
                stories.value[currentSession.value.selectedStory]
              ),
              lorebooks: JSON.stringify(lorebooksObj),
              storyHistory: JSON.stringify(storyHistory),
              storyCategories: JSON.stringify(relevantCategories),
            });

            // Calling mutateSendSessionEvent
            mutateSendSessionEvent({
              sessionId: currentSession.value.uuid,
              message: 'synchronize_story',
              arguments: eventArguments,
            });
          }
          break;
        case 'history_update':
          if (args.userId !== currentUser.value?.uuid) {
            const updatedHistory: StoryHistory = args.storyHistory;

            // Replace the current history object with the transmitted one
            receivedUpdate.value = true;
            if (receivedUpdateTimer !== null) {
              clearTimeout(receivedUpdateTimer);
            }
            receivedUpdateTimer = setTimeout(() => {
              receivedUpdate.value = false;
            }, 500); // 500ms delay

            storyHistories.value[
              currentSession.value?.selectedStory as string
            ] = updatedHistory;

            storiesStore.setHistoryMilestone(
              currentSession.value?.selectedStory as string,
              updatedHistory.currentMilestone
            );

            // Flag receivedUpdate as true and set a timer to reset it

            setReferenceStoryHistoryCopy(); // Update the reference copy
          }
          break;
        case 'user_present':
          // User has connected to the session
          // result.data.sessionEvent.arguments is a JSON string containing the object: { uuid: string, displayName: string }
          // All clients should note the user in their session/user state
          // Host should transmit story content
          dmStore.addUserToSession(args as User);
          break;
        case 'user_disconnected':
          // User has disconnected from the session
          // result.data.sessionEvent.arguments is a JSON string containing the object: { uuid: string, displayName: string }
          // All clients should remove the user from their session/user state
          dmStore.removeUserFromSession(args?.uuid as string);
          break;
        case 'user_message':
          // User has sent a message
          // result.data.sessionEvent.arguments is a JSON string containing the object: { userId: string, message: string }
          break;
        case 'story_update':
          // Host is transmitting a change to the story
          // The arguments will contain the affected paragraphs, identified by their uuid and represented as StoryParagraph objects
          // result.data.sessionEvent.arguments is a JSON string containing the object: [StoryParagraph1, StoryParagraph2..]
          storiesStore.reconcileStoryParagraphs(args as StoryParagraph[]);
          break;
        case 'terminate_session':
          // Server is broadcasting session removal
          dmStore.disconnectFromSession();
          break;
        case 'user_command':
          if (args.userId && args.command) {
            // Add user command to dmStore
            dmStore.addUserCommand(args.userId, args.command);
          }
          break;
      }
    });

    watch(
      () => sessionActive.value,
      () => {
        if (sessionActive.value) {
          $q.notify({
            message: 'Connected to session',
            color: 'accent',
          });
        }
      }
    );

    watch(
      () => currentSession.value,
      () => {
        if (
          currentSession.value &&
          currentSession.value?.user.uuid === currentUser.value.uuid
        ) {
          setReferenceStoryHistoryCopy();
        }
      }
    );

    watch(
      () => isDmKeySetUp.value,
      () => {
        resetActionCableLink();
      }
    );

    watch(
      () => db.dbAvailable,
      async (newValue) => {
        if (newValue) {
          await storiesStore.loadStoryCategories();
          await storiesStore.loadStories();
          await storiesStore.loadStoryHistories();
          await storiesStore.loadScenarios();
          await lorebooksStore.loadLorebooks();
          await chatStore.loadPersonas();
          await chatStore.loadThreads();
          await chatStore.loadThreadMilestones();
          await imageStore.verifyImageIntegrity();
          dbInitialized.value = true;
        }
      }
    );

    let personasDebounceTimer;
    let threadsDebounceTimer;
    let threadMilestonesDebounceTimer;
    let storiesDebounceTimer;
    let scenariosDebounceTimer;
    let lorebooksDebounceTimer;
    let defaultParametersDebounceTimer;
    let parameterPresetsDebounceTimer;
    let defaultSettingsDebounceTimer;
    let storyCategoriesDebounceTimer;

    watch(
      () => personas.value,
      () => {
        clearTimeout(personasDebounceTimer);
        personasDebounceTimer = setTimeout(() => {
          chatStore.savePersonas();
        }, 5000); // Adjust the delay as needed
      },
      { deep: true }
    );

    watch(
      () => threads.value,
      () => {
        clearTimeout(threadsDebounceTimer);
        threadsDebounceTimer = setTimeout(() => {
          chatStore.saveThreads();
        }, 5000);
      },
      { deep: true }
    );

    watch(
      () => threadMilestones.value,
      () => {
        clearTimeout(threadMilestonesDebounceTimer);
        threadMilestonesDebounceTimer = setTimeout(() => {
          chatStore.saveThreadMilestones();
        }, 5000);
      },
      { deep: true }
    );

    watch(
      () => storyHistories.value,
      (newValue: Record<string, StoryHistory>) => {
        if (
          !currentSession.value ||
          receivedUpdate.value ||
          !referenceStoryHistoryCopy
        )
          return;

        const currentSessionHistory =
          newValue[currentSession.value.selectedStory];
        if (
          currentSessionHistory &&
          JSON.stringify(currentSessionHistory) !==
            JSON.stringify(referenceStoryHistoryCopy)
        ) {
          // Submit a SessionEvent with the "history_update" message
          mutateSendSessionEvent({
            sessionId: currentSession.value.uuid,
            message: 'history_update',
            arguments: JSON.stringify({
              userId: currentUser.value?.uuid,
              storyHistory: currentSessionHistory,
            }),
          });

          setReferenceStoryHistoryCopy(); // Update the reference copy
        }
      },
      { deep: true }
    );

    watch(
      () => stories.value,
      (newValue: Record<string, Story>) => {
        clearTimeout(storiesDebounceTimer);
        storiesDebounceTimer = setTimeout(() => {
          storiesStore.saveStories();
        }, 5000);
      },
      { deep: true }
    );

    watch(
      () => scenarios.value,
      () => {
        clearTimeout(scenariosDebounceTimer);
        scenariosDebounceTimer = setTimeout(() => {
          storiesStore.saveScenarios();
        }, 1000);
      },
      { deep: true }
    );

    watch(
      () => lorebooks.value,
      () => {
        clearTimeout(lorebooksDebounceTimer);
        lorebooksDebounceTimer = setTimeout(() => {
          lorebooksStore.saveLorebooks();
        }, 5000);
      },
      { deep: true }
    );

    watch(
      () => defaultParameters.value,
      () => {
        clearTimeout(defaultParametersDebounceTimer);
        defaultParametersDebounceTimer = setTimeout(() => {
          naiStore.saveDefaultParameters();
        }, 5000);
      },
      { deep: true }
    );

    watch(
      () => parameterPresets.value,
      () => {
        clearTimeout(parameterPresetsDebounceTimer);
        parameterPresetsDebounceTimer = setTimeout(() => {
          naiStore.saveParameterPresets();
        }, 5000);
      },
      { deep: true }
    );

    watch(
      () => defaultSettings.value,
      () => {
        clearTimeout(defaultSettingsDebounceTimer);
        defaultSettingsDebounceTimer = setTimeout(() => {
          naiStore.saveDefaultSettings();
        }, 5000);
      },
      { deep: true }
    );

    watch(
      () => storyCategories.value,
      () => {
        clearTimeout(storyCategoriesDebounceTimer);
        storyCategoriesDebounceTimer = setTimeout(() => {
          storiesStore.saveStoryCategories();
        }, 5000);
      },
      { deep: true }
    );

    watch(
      () => naiKey.value,
      () => {
        if (naiKey.value.length === 68) {
          naiStore.getAccountLimit();
          showKeyDialog.value = false;
        }
      }
    );

    watch(
      () => language.value,
      () => {
        locale.value = language.value;
      }
    );

    watch(
      () => loading.value,
      () => {
        if (loading.value) {
          loadingSpinner.value = $q.notify({
            spinner: true,
            message: 'Interfacing with NovelAI',
            color: 'accent',
            position: 'top-right',
            timeout: 0,
          });
        } else {
          if (loadingSpinner.value !== null) {
            loadingSpinner.value();
            loadingSpinner.value = null;
          }
        }
      }
    );

    const handleDrop = async (e) => {
      const files = e.dataTransfer.files;

      for (let i = 0; i < files.length; i++) {
        const file = files[i];

        if (file.type.startsWith('image/')) {
          const fileBlob = await file.arrayBuffer();
          const imageId: string = await imageStore.importImage(
            new Blob([fileBlob], { type: file.type })
          );
          if (currentStory.value) {
            storiesStore.addImageToStory(currentStory.value, imageId);
          }
        } else if (file.name.endsWith('.lorebook')) {
          const fileContents = await readFileContents(file);
          const lorebookTitle = file.name.replace(/\.lorebook$/, '');
          const lorebook: string = await lorebooksStore.importLorebook(
            JSON.parse(fileContents),
            lorebookTitle
          );
          if (currentStory.value) {
            stories.value[currentStory.value].lorebooks.push(lorebook);
          }
        } else if (file.name.endsWith('.scenario')) {
          const fileContents = await readFileContents(file);
          await storiesStore.importScenario(JSON.parse(fileContents));
        }
      }
    };

    const outstandingInvite = computed(() => invitedBy.value !== '');

    const acceptInvitation = () => {
      dmStore.connectToSession(invitedSession.value);
      invitedBy.value = '';
      invitedSession.value = null;
    };

    const denyInvite = () => {
      invitedBy.value = '';
      invitedSession.value = null;
    };

    return {
      outstandingInvite,
      denyInvite,
      invitedBy,
      invitedSession,
      naiKey,
      showKeyDialog,
      hidePassword,
      updateKey,
      dbInitialized,
      handleDrop,
      t,
      isDmKeySetUp,
      acceptInvitation,
      showChangelog,
      changelogContent,
    };
  },
});
</script>

<style>
.markdown-presenter h1 {
  font-size: 1.6rem;
}
.markdown-presenter h2 {
  font-size: 1.4rem;
}
.markdown-presenter h3 {
  font-size: 1.2rem;
}
</style>
