<template>
  <q-layout view="hHh LpR fFf">
    <TopHeader active="images" />

    <q-drawer
      v-model="rightDrawerOpen"
      side="right"
      show-if-above
      bordered
      class="column"
    >
      <SettingsMenu />
    </q-drawer>

    <q-page-container>
      <div style="max-width: 1200px" class="q-mx-auto">
        <router-view :key="$route.fullPath" />
      </div>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { storeToRefs } from 'pinia';
import { useGuiStore } from 'stores/gui';
import TopHeader from 'components/TopHeader.vue';
import SettingsMenu from 'components/SettingsMenu.vue';

export default defineComponent({
  name: 'MainLayout',
  components: {
    TopHeader,
    SettingsMenu,
  },
  setup() {
    const guiStore = useGuiStore();

    const { leftDrawerOpen, rightDrawerOpen } = storeToRefs(guiStore);

    return {
      leftDrawerOpen,
      rightDrawerOpen,
    };
  },
});
</script>
