<template>
  <q-layout view="hHh LpR fFf">
    <TopHeader :active="layoutType" />

    <q-drawer v-model="leftDrawerOpen" side="left" show-if-above bordered>
      <q-scroll-area style="height: 100%">
        <StoriesMenu v-if="layoutType === 'stories'" />
        <LorebooksMenu v-else-if="layoutType === 'lorebooks'" />
        <ChatMenu v-else-if="layoutType === 'chat'" />
      </q-scroll-area>
    </q-drawer>

    <q-drawer
      v-model="rightDrawerOpen"
      side="right"
      show-if-above
      bordered
      class="column"
    >
      <SettingsMenu />
    </q-drawer>

    <q-page-container>
      <div style="max-width: 1200px" class="q-mx-auto">
        <router-view :key="$route.fullPath" />
      </div>
    </q-page-container>
  </q-layout>
  <chat-root v-if="isDmKeySetUp" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { storeToRefs } from 'pinia';
import { useGuiStore } from 'stores/gui';
import { useDmStore } from 'stores/dm';
import TopHeader from 'components/TopHeader.vue';
import StoriesMenu from 'components/StoriesMenu.vue';
import LorebooksMenu from 'components/LorebooksMenu.vue';
import ChatMenu from 'components/ChatMenu.vue';
import SettingsMenu from 'components/SettingsMenu.vue';
import ChatRoot from 'components/ChatRoot.vue';

export default defineComponent({
  name: 'MainLayout',
  components: {
    ChatRoot,
    TopHeader,
    StoriesMenu,
    SettingsMenu,
    LorebooksMenu,
    ChatMenu,
  },
  props: ['layoutType'],
  setup() {
    const dmStore = useDmStore();
    const guiStore = useGuiStore();
    const { isDmKeySetUp } = storeToRefs(dmStore);

    const { leftDrawerOpen, rightDrawerOpen } = storeToRefs(guiStore);

    return {
      leftDrawerOpen,
      rightDrawerOpen,
      isDmKeySetUp,
    };
  },
});
</script>
