<template>
  <div class="q-gutter-sm">
    <div class="text-h6">
      {{ t('ai.headers.settings') }}
      <span class="text-overline text-primary">
        {{
          currentStory === '' ? t('ui.default') : t('stories.headers.current')
        }}
      </span>
    </div>
    <div>
      <q-select
        v-if="currentStory === ''"
        map-options
        :label="t('ai.headers.module')"
        :options="PrefixOptions"
        v-model="defaultSettings.prefix"
        emit-value
      />
      <q-select
        v-else
        :label="t('ai.headers.module')"
        map-options
        :options="PrefixOptions"
        v-model="stories[currentStory].settings.prefix"
        emit-value
      />
    </div>
    <div>
      <q-toggle
        v-if="currentStory === ''"
        v-model="defaultSettings.generateUntilSentence"
        :label="t('phraseBias.headers.ensureSequenceFinish')"
        left-label
      />
      <q-toggle
        v-else
        v-model="stories[currentStory].settings.generateUntilSentence"
        :label="t('phraseBias.headers.ensureSequenceFinish')"
        left-label
      />
    </div>
    <q-separator />
    <div class="text-h6">{{ t('ai.headers.parameters') }}</div>
    <div class="row">
      <div class="col">
        <q-select
          v-if="currentStory === ''"
          :options="presetsOrdered"
          :label="t('ai.headers.presets')"
          option-label="name"
          option-value="id"
          map-options
          emit-value
          @update:model-value="setParameterPreset"
          v-model="defaultSettings.preset"
        />
        <q-select
          v-else
          :options="presetsOrdered"
          :label="t('ai.headers.presets')"
          option-label="name"
          option-value="id"
          map-options
          emit-value
          @update:model-value="setParameterPreset"
          v-model="stories[currentStory].settings.preset"
        />
        <p v-if="presetModified" class="text-caption text-primary">Modified</p>
      </div>
      <div class="col-auto q-pa-sm">
        <q-btn color="negative" icon="remove" @click="deleteCurrentPreset" />
      </div>
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.temperature') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.temperature"
        :step="0.01"
        :min="0.1"
        :max="2.5"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.temperature"
        :step="0.01"
        :min="0.1"
        :max="2.5"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.maximumLength') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.maxLength"
        :step="1"
        :min="1"
        :max="600"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.maxLength"
        :step="1"
        :min="1"
        :max="600"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.repetitionPenalty') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.repetitionPenalty"
        :step="0.025"
        :min="1"
        :max="8"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.repetitionPenalty"
        :step="0.025"
        :min="1"
        :max="8"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.repetitionPenaltyRange') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.repetitionPenaltyRange"
        :step="16"
        :min="0"
        :max="8192"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.repetitionPenaltyRange"
        :step="16"
        :min="0"
        :max="8192"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.repetitionPenaltySlope') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.repetitionPenaltySlope"
        :step="0.09"
        :min="0"
        :max="10"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.repetitionPenaltySlope"
        :step="0.09"
        :min="0"
        :max="10"
      />
    </div>
    <div>
      <p class="text-subtitle2">
        {{ t('ai.headers.repetitionPenaltyFrequence') }}
      </p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.repetitionPenaltyFrequency"
        :step="0.01"
        :min="0"
        :max="1"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.repetitionPenaltyFrequency"
        :step="0.01"
        :min="0"
        :max="1"
      />
    </div>
    <div>
      <p class="text-subtitle2">
        {{ t('ai.headers.repetitionPenaltyPresence') }}
      </p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.repetitionPenaltyPresence"
        :step="0.05"
        :min="0"
        :max="2"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.repetitionPenaltyPresence"
        :step="0.05"
        :min="0"
        :max="2"
      />
    </div>
    <div>
      <q-toggle
        v-if="currentStory === ''"
        v-model="defaultParameters.repetitionPenaltyDefaultWhitelist"
        :label="t('ai.headers.repetitionPenaltyDefaultWhitelist')"
        left-label
      />
      <q-toggle
        v-else
        v-model="
          stories[currentStory].parameters.repetitionPenaltyDefaultWhitelist
        "
        :label="t('ai.headers.repetitionPenaltyDefaultWhitelist')"
        left-label
      />
    </div>
    <q-separator />
    <div class="text-h6">{{ t('ai.headers.sampling') }}</div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.cfgScale') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.cfgScale"
        :step="0.05"
        :min="1"
        :max="3"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.cfgScale"
        :step="0.05"
        :min="1"
        :max="3"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.typicalP') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.typicalP"
        :step="1"
        :min="0"
        :max="150"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.typicalP"
        :step="0.025"
        :min="0.05"
        :max="1"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.topG') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.topG"
        :step="0.01"
        :min="0"
        :max="1"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.topG"
        :step="0.01"
        :min="0"
        :max="1"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.topK') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.topK"
        :step="1"
        :min="0"
        :max="150"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.topK"
        :step="1"
        :min="0"
        :max="150"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.nucleus') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.topP"
        :step="0.025"
        :min="0"
        :max="150"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.topP"
        :step="0.025"
        :min="0"
        :max="150"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.tfs') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.tailFreeSampling"
        :step="0.001"
        :min="0.05"
        :max="1.0"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.tailFreeSampling"
        :step="0.001"
        :min="0.05"
        :max="1.0"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.topA') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.topA"
        :step="0.01"
        :min="0"
        :max="1"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.topA"
        :step="0.01"
        :min="0"
        :max="1"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.mirostatTau') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.mirostatTau"
        :step="0.01"
        :min="0"
        :max="6"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.mirostatTau"
        :step="0.01"
        :min="0"
        :max="6"
      />
    </div>
    <div>
      <p class="text-subtitle2">{{ t('ai.headers.mirostatLR') }}</p>
      <q-slider
        v-if="currentStory === ''"
        label
        v-model="defaultParameters.mirostatLr"
        :step="0.01"
        :min="0"
        :max="1"
      />
      <q-slider
        v-else
        label
        v-model="stories[currentStory].parameters.mirostatLr"
        :step="0.01"
        :min="0"
        :max="1"
      />
    </div>
    <div>
      <q-select
        v-if="currentStory === ''"
        :label="t('ai.headers.phraseRepetitionPenalty')"
        map-options
        :options="PhraseRepPenOptions"
        v-model="defaultParameters.phraseRepPen"
        emit-value
      />
      <q-select
        v-else
        :label="t('ai.headers.phraseRepetitionPenalty')"
        map-options
        :options="PhraseRepPenOptions"
        v-model="stories[currentStory].parameters.phraseRepPen"
        emit-value
      />
    </div>
    <div>
      <q-file
        accept=".preset"
        v-model="files"
        multiple
        :label="t('ui.uploadPresets')"
        @rejected="noticeRejected"
      />
      <q-btn
        class="full-width q-mt-sm"
        color="accent"
        :label="t('ai.headers.parameterOrder')"
        @click="parameterOrderDialog = true"
      />
      <q-btn
        class="full-width q-mt-sm"
        color="accent"
        disable
        :label="t('ui.exportPreset')"
      />
    </div>
  </div>
  <q-dialog
    v-model="parameterOrderDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card
      class="bg-dark text-white column"
      style="min-width: 500px; min-height: 80%"
    >
      <q-card-section class="bg-primary col-auto">
        <div class="text-h6">{{ t('ai.headers.parameterOrder') }}</div>
      </q-card-section>

      <q-card-section v-if="currentStory === ''" class="column col">
        <q-scroll-area class="col column">
          <q-list class="q-mr-sm">
            <q-item-section
              v-for="(v, index) in defaultParameters.order"
              :key="v.id"
              class="q-pa-sm q-ml-sm"
            >
              <div class="row">
                <div class="col-auto column">
                  <div class="col">
                    <q-btn
                      size="xs"
                      icon="expand_less"
                      color="secondary"
                      @click="shiftOrderUp(index)"
                    />
                  </div>
                  <div class="col">
                    <q-btn
                      size="xs"
                      icon="expand_more"
                      color="secondary"
                      @click="shiftOrderDown(index)"
                    />
                  </div>
                </div>
                <div class="col text-body1 q-pa-sm">
                  {{ t(`ai.headers.${v.id}`) }}
                </div>
                <div class="col-auto text-primary" v-if="v.enabled">
                  <q-btn
                    :label="t('ui.enabled')"
                    icon="close"
                    color="primary"
                    @click="v.enabled = false"
                  />
                </div>
                <div class="col-auto text-negative" v-else>
                  <q-btn
                    :label="t('ui.disabled')"
                    icon="close"
                    color="negative"
                    @click="v.enabled = true"
                  />
                </div>
              </div>
            </q-item-section>
          </q-list>
        </q-scroll-area>
      </q-card-section>
      <q-card-section v-else class="column col">
        <q-scroll-area class="col column">
          <q-list class="q-mr-sm">
            <q-item-section
              v-for="(v, index) in stories[currentStory].parameters.order"
              :key="v.id"
              class="q-pa-sm q-ml-sm"
            >
              <div class="row">
                <div class="col-auto column">
                  <div class="col">
                    <q-btn
                      size="xs"
                      icon="expand_less"
                      color="secondary"
                      @click="shiftOrderUp(index)"
                    />
                  </div>
                  <div class="col">
                    <q-btn
                      size="xs"
                      icon="expand_more"
                      color="secondary"
                      @click="shiftOrderDown(index)"
                    />
                  </div>
                </div>
                <div class="col text-body1 q-pa-sm">
                  {{ t(`ai.headers.${v.id}`) }}
                </div>
                <div class="col-auto text-primary" v-if="v.enabled">
                  <q-btn
                    :label="t('ui.enabled')"
                    icon="close"
                    color="primary"
                    @click="v.enabled = false"
                  />
                </div>
                <div class="col-auto text-negative" v-else>
                  <q-btn
                    :label="t('ui.disabled')"
                    icon="close"
                    color="negative"
                    @click="v.enabled = true"
                  />
                </div>
              </div>
            </q-item-section>
          </q-list>
        </q-scroll-area>
      </q-card-section>

      <q-card-actions class="col-auto" align="right">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, ref, computed, watch, onMounted } from 'vue';
import { useQuasar } from 'quasar';
import { useNaiStore } from 'stores/nai';
import { useStoriesStore } from 'stores/stories';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import {
  readFileContents,
  PrefixOptions,
  PhraseRepPenOptions,
} from 'stores/helpers';

export default defineComponent({
  name: 'AIMenu',
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const $q = useQuasar();
    const parameterOrderDialog = ref(false);
    const presetModified = ref(false);
    const naiStore = useNaiStore();
    const storiesStore = useStoriesStore();
    const { currentStory, stories } = storeToRefs(storiesStore);
    const files = ref(null);

    const { defaultParameters, defaultSettings, parameterPresets } =
      storeToRefs(naiStore);

    watch(
      () => files,
      async (newValue) => {
        if (newValue.value !== null) {
          for (const file of newValue.value as Blob[]) {
            const fileContent = await readFileContents(file);

            try {
              const jsonContent = JSON.parse(fileContent as string);
              // Check for "lorebookVersion" key
              if ('parameters' in jsonContent) {
                // Call naiStore.importLorebook with JSON object
                const presetId = naiStore.importPreset(jsonContent);
                if (currentStory.value === '') {
                  defaultSettings.value.preset = presetId;
                } else {
                  stories.value[currentStory.value].settings.preset = presetId;
                }
                //setParameterPreset(presetId);
                $q.notify({
                  message: 'Preset imported',
                  color: 'positive',
                });
              } else {
                $q.notify({
                  message: 'Valid JSON but incorrectly formatted preset',
                  color: 'negative',
                });
              }
            } catch (error) {
              $q.notify({
                message: 'Incorrectly formatted JSON file',
                color: 'negative',
              });
            }
          }

          // Reset files to null
          files.value = null;
        }
      },
      { deep: true }
    );

    const noticeRejected = () => {
      $q.notify({ message: 'File rejected', color: 'negative' });
    };

    const setParameterPreset = (value: string) => {
      if (currentStory.value === '') {
        defaultParameters.value = Object.assign(
          {},
          parameterPresets.value[value].parameters
        );
      } else {
        stories.value[currentStory.value].parameters = Object.assign(
          {},
          parameterPresets.value[value].parameters
        );
      }
      presetModified.value = false;
    };

    onMounted(() => {
      for (const key in presetParams.value) {
        if (presetParams.value[key] !== currentParams.value[key]) {
          presetModified.value = true;
          break;
        }
      }
    });

    const presetsOrdered = computed(() => {
      if (parameterPresets.value) {
        const presetsArray = Object.values(parameterPresets.value);
        return presetsArray.sort((a, b) => a.name.localeCompare(b.name));
      } else {
        return [];
      }
    });

    const currentParams = computed(() => {
      if (currentStory.value === '') {
        return defaultParameters.value;
      } else {
        return stories.value[currentStory.value].parameters;
      }
    });

    const presetParams = computed(() => {
      if (parameterPresets.value) {
        if (
          currentStory.value === '' ||
          stories.value[currentStory.value].settings.preset ===
            'scenario-default'
        ) {
          return parameterPresets.value[defaultSettings.value.preset]
            .parameters;
        } else {
          return parameterPresets.value[
            stories.value[currentStory.value].settings.preset
          ].parameters;
        }
      } else {
        return [];
      }
    });

    const deleteCurrentPreset = () => {
      let presetToDelete = '';

      if (currentStory.value === '') {
        presetToDelete = defaultSettings.value.preset;
      } else {
        presetToDelete = stories.value[currentStory.value].settings.preset;
      }

      // Delete the preset from naiStore
      naiStore.deleteParameterPreset(presetToDelete);

      // Set preset to either the index key or the id attribute of the first element in the parameterPresets.value hash, if any are available. Set to empty string otherwise.
      const presetKeys = Object.keys(parameterPresets.value);
      const newPreset = presetKeys.length > 0 ? presetKeys[0] : '';

      if (currentStory.value === '') {
        defaultSettings.value.preset = newPreset;
      } else {
        stories.value[currentStory.value].settings.preset = newPreset;
      }

      if (newPreset !== '') {
        setParameterPreset(newPreset);
      }
    };

    const shiftOrderDown = (index: number) => {
      let orderArray;

      if (currentStory.value === '') {
        orderArray = defaultParameters.value.order;
      } else {
        orderArray = stories.value[currentStory.value].parameters.order;
      }

      if (index < orderArray.length - 1) {
        // Swap elements
        [orderArray[index], orderArray[index + 1]] = [
          orderArray[index + 1],
          orderArray[index],
        ];
      }
    };

    const shiftOrderUp = (index: number) => {
      if (index > 0) {
        let orderArray;

        if (currentStory.value === '') {
          orderArray = defaultParameters.value.order;
        } else {
          orderArray = stories.value[currentStory.value].parameters.order;
        }

        // Swap elements
        [orderArray[index], orderArray[index - 1]] = [
          orderArray[index - 1],
          orderArray[index],
        ];
      }
    };

    watch(
      () => currentParams.value,
      () => {
        presetModified.value = false;
        for (const key in presetParams.value) {
          if (presetParams.value[key] !== currentParams.value[key]) {
            presetModified.value = true;
            break;
          }
        }
      },
      {
        deep: true,
      }
    );

    return {
      deleteCurrentPreset,
      presetModified,
      setParameterPreset,
      noticeRejected,
      PhraseRepPenOptions,
      PrefixOptions,
      defaultParameters,
      defaultSettings,
      currentStory,
      stories,
      presetsOrdered,
      files,
      parameterOrderDialog,
      shiftOrderUp,
      shiftOrderDown,
      t,
    };
  },
});
</script>
