<template>
  <div class="q-gutter-sm">
    <div class="text-h6">{{ t('ui.settings') }}</div>
    <q-input
      v-model="naiKey"
      :type="hidePassword ? 'password' : 'text'"
      :label="t('novelAI.headers.key')"
      @update:model-value="updateKey"
    >
      <template v-slot:append>
        <q-icon
          :name="hidePassword ? 'visibility_off' : 'visibility'"
          class="cursor-pointer"
          @click="hidePassword = !hidePassword"
        />
      </template>
    </q-input>
    <q-input
      v-model="dmKey"
      :type="hideDmKey ? 'password' : 'text'"
      :label="t('dungeonMasters.dungeonMastersKey')"
      @update:model-value="updateDMKey"
    >
      <template v-slot:append>
        <q-icon
          :name="hideDmKey ? 'visibility_off' : 'visibility'"
          class="cursor-pointer"
          @click="hideDmKey = !hideDmKey"
        />
      </template>
    </q-input>
    <q-select
      map-options
      :label="t('ui.theme')"
      :options="themeOptions"
      v-model="theme"
      @update:model-value="guiStore.setTheme()"
      emit-value
    >
      <template v-slot:append>
        <q-icon name="palette" />
      </template>
    </q-select>
    <q-select
      map-options
      :label="t('ui.language')"
      :options="languages"
      v-model="language"
      @update:model-value="saveLanguage"
      emit-value
    >
      <template v-slot:append>
        <q-icon name="translate" />
      </template>
    </q-select>
    <q-separator />
    <q-item-label class="text-primary" header v-if="currentStory !== ''">
      {{ t('stories.headers.current') }}
    </q-item-label>
    <div v-if="currentStory !== ''">
      <q-input
        v-model="stories[currentStory].author"
        type="text"
        class="q-mb-sm"
        label="Author"
      />
      <q-input
        v-model="stories[currentStory].description"
        type="textarea"
        class="q-mb-sm"
        :label="t('stories.headers.description')"
      />
      <q-btn
        color="secondary"
        class="full-width"
        :label="t('ai.headers.generate')"
        icon-right="send"
        :disabled="loading"
        @click="generateDescription"
      />
      <q-separator class="q-my-md" />
      <q-btn
        color="negative"
        class="full-width"
        @click="deleteStoryDialog = true"
        :label="t('stories.headers.delete')"
      />
      <q-btn
        color="secondary"
        class="full-width q-mt-sm"
        @click="openMenuImageGenerator"
        :disable="apiBusy"
        :label="t('stories.headers.changeMenuImage')"
      />
      <q-btn
        color="secondary"
        class="full-width q-mt-sm"
        @click="saveAsScenario"
        label="Save as Scenario"
      />
      <q-btn
        color="secondary"
        class="full-width q-mt-sm"
        @click="downloadAsScenario"
        label="Download as Scenario"
      />
    </div>
  </div>
  <q-dialog
    v-model="deleteStoryDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white" style="width: 300px">
      <q-card-section class="bg-primary">
        <div class="text-h6">{{ t('stories.headers.delete') }}</div>
      </q-card-section>

      <q-card-section
        >{{ t('stories.headers.delete') }}
        {{ stories[currentStory].title }}?</q-card-section
      >
      <q-card-actions>
        <q-btn flat :label="t('ui.cancel')" v-close-popup />
        <q-space />
        <q-btn
          class="bg-negative"
          flat
          :label="t('ui.ok')"
          @click="deleteStory"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="generateMenuImageDialog"
    persistent
    maximized
    transition-show="fade"
    transition-hide="fade"
    class="row"
  >
    <q-card class="column fit">
      <q-card-section class="col column">
        <image-generator
          :prompt="imageParams.prompt"
          :width="imageParams.width"
          :height="imageParams.height"
          @image-generated="imageGenerated"
        />
      </q-card-section>
      <q-card-actions align="right" class="text-primary col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, Ref } from 'vue';
import { useNaiStore } from 'stores/nai';
import { useGuiStore } from 'stores/gui';
import { useStoriesStore } from 'stores/stories';
import { useImageStore } from 'stores/image';
import { useDmStore } from 'stores/dm';
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { Story, ScenarioPreset } from 'stores/types';
import ImageGenerator from 'components/images/ImageGenerator.vue';

export default defineComponent({
  name: 'ConfigurationMenu',
  components: {
    ImageGenerator,
  },
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const imageParams = reactive({
      height: 192,
      width: 320,
      prompt: '',
    });
    const naiStore = useNaiStore();
    const storiesStore = useStoriesStore();
    const guiStore = useGuiStore();
    const dmStore = useDmStore();
    const imageStore = useImageStore();
    const { dmKey } = storeToRefs(dmStore);
    const { loading, naiKey } = storeToRefs(naiStore);
    const { apiBusy } = storeToRefs(imageStore);
    const { currentStory, stories } = storeToRefs(storiesStore);
    const { language, languages, theme, themeOptions } = storeToRefs(guiStore);
    const router = useRouter();
    const deleteStoryDialog: Ref<boolean> = ref(false);
    const generateMenuImageDialog: Ref<boolean> = ref(false);

    const hidePassword: Ref<boolean> = ref(true);
    const hideDmKey: Ref<boolean> = ref(true);

    const updateKey = (v: string | number | null): void => {
      naiStore.updateNaiKey(v as string);
    };

    const updateDMKey = (v: string | number | null): void => {
      dmStore.updateDmKey(v as string);
    };

    const deleteStory = async (): Promise<void> => {
      deleteStoryDialog.value = false;
      await router.push(`/${currentStory.value}/delete`);
    };

    const generateDescription = (): void => {
      storiesStore.GenerateDescription(currentStory.value);
    };

    const saveLanguage = (): void => {
      guiStore.saveLanguage();
    };

    const saveAsScenario = async (): Promise<void> => {
      await storiesStore.saveScenarioPreset(
        await storiesStore.exportStoryAsScenario(currentStory.value)
      );
    };

    const downloadAsScenario = async (): Promise<void> => {
      const scenarioPreset: ScenarioPreset =
        await storiesStore.exportStoryAsScenario(currentStory.value);

      await storiesStore.downloadScenario(scenarioPreset);
    };

    const openMenuImageGenerator = (): void => {
      const story: Story = stories.value[currentStory.value];
      const storyText: string = storiesStore.getStoryText(story.id);
      const rawText = `${story.tags.join(' ')} ${story.title} ${
        story.description
      } ${storyText}`;

      let words = rawText
        .split(' ')
        .filter((value, index, self) => value && self.indexOf(value) === index);

      let combinedCount = 0;
      let finalWords = [];
      for (let word of words) {
        if (combinedCount + word.length <= 250) {
          combinedCount += word.length + 2;
          finalWords.push(word);
        } else {
          break;
        }
      }

      imageParams.prompt = finalWords.join(', ');

      generateMenuImageDialog.value = true;
    };

    const imageGenerated = (imageId: string): void => {
      stories.value[currentStory.value].menuImage = imageId;
      generateMenuImageDialog.value = false;
    };

    return {
      language,
      saveLanguage,
      generateDescription,
      hidePassword,
      hideDmKey,
      languages,
      themeOptions,
      naiStore,
      deleteStory,
      deleteStoryDialog,
      currentStory,
      loading,
      theme,
      naiKey,
      updateKey,
      updateDMKey,
      guiStore,
      openMenuImageGenerator,
      saveAsScenario,
      downloadAsScenario,
      generateMenuImageDialog,
      stories,
      t,
      imageParams,
      imageGenerated,
      apiBusy,
      dmKey,
    };
  },
});
</script>
