<template>
  <div class="q-px-sm">
    <div v-if="currentStory !== ''">
      <div class="text-h6">
        {{ t('menus.context.label') }}
        <span class="text-overline text-primary">
          {{
            currentStory === '' ? t('ui.default') : t('stories.headers.current')
          }}
        </span>
      </div>
      <q-select
        :label="t('menus.context.interfaceMode')"
        :options="interfaceModes"
        v-model="stories[currentStory].interfaceMode"
        map-options
        emit-value
      />
      <p class="text-subtitle2">{{ t('lorebooks.headers.active') }}</p>
      <q-select
        :label="t('lorebooks.headers.lorebooks')"
        :options="filteredLorebooks"
        option-label="title"
        option-value="id"
        map-options
        emit-value
        use-input
        @filter="filterLorebooks"
        v-model="selectedLorebook"
        @update:model-value="selectLorebook"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-select>
      <div class="q-my-md q-gutter-sm">
        <q-chip
          v-for="l in stories[currentStory].lorebooks.values()"
          :key="lorebooks[l].id"
          :label="lorebooks[l].title"
          color="secondary"
          clickable
          @click="removeLorebook(l)"
        />
      </div>
    </div>
    <q-separator v-if="currentStory !== ''" />
    <p class="text-h6">{{ t('context.headers.current') }}</p>
    <p class="text-caption text-secondary" v-if="currentStory === ''">
      {{ t('menus.context.storyNotice') }}
    </p>
    <div v-if="currentStory !== ''">
      <q-btn
        color="accent"
        size="sm"
        class="full-width"
        :label="t('context.headers.settings')"
        icon-right="settings"
        @click="storyContextDialog = true"
      />
      <q-btn
        color="accent"
        size="sm"
        class="full-width q-mt-sm"
        :label="t('context.headers.current')"
        icon-right="book"
        @click="currentContextDialog = true"
      />
      <q-input
        type="textarea"
        :label="t('context.headers.memory')"
        v-model="stories[currentStory].memory.text"
      />
      <q-input
        type="textarea"
        :label="t('context.headers.authorsNote')"
        v-model="stories[currentStory].authorsNote.text"
      />
    </div>
  </div>
  <q-dialog
    v-model="storyContextDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card
      class="bg-dark text-white column"
      style="width: 90vw; max-width: 1000px; min-height: 90vh"
    >
      <q-card-section class="bg-primary col-auto">
        <div class="text-h6">{{ t('context.headers.settings') }}</div>
      </q-card-section>
      <q-card-section class="column col">
        <story-context-view class="col column" />
      </q-card-section>
      <q-card-actions align="right" class="col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="currentContextDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card
      class="bg-dark text-white column"
      style="width: 90vw; max-width: 1000px; min-height: 90vh"
    >
      <q-card-section class="bg-primary col-auto">
        <div class="text-h6">{{ t('context.headers.current') }}</div>
      </q-card-section>
      <q-card-section class="column col">
        <current-context-view class="col column" />
      </q-card-section>
      <q-card-actions align="right" class="col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, computed } from 'vue';
import { useStoriesStore } from 'stores/stories';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import StoryContextView from 'components/context/StoryContextView.vue';
import CurrentContextView from 'components/context/CurrentContextView.vue';
import { useLorebooksStore } from 'src/stores/lorebooks';

export default defineComponent({
  name: 'ContextMenu',
  components: {
    StoryContextView,
    CurrentContextView,
  },
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const storiesStore = useStoriesStore();
    const lorebooksStore = useLorebooksStore();
    const selectedLorebook = ref(null);
    const lorebookFilter = ref('');
    const storyContextDialog = ref(false);
    const currentContextDialog = ref(false);

    const { currentStory, stories } = storeToRefs(storiesStore);
    const { lorebooks } = storeToRefs(lorebooksStore);

    const interfaceModes = reactive([
      { label: 'Normal', value: 'normal' },
      { label: 'Adventure', value: 'adventure' },
    ]);

    const filteredLorebooks = computed(() => {
      if (currentStory.value !== '') {
        const storyLorebookIds =
          storiesStore.stories[currentStory.value].lorebooks;

        const lorebookFilterPhrase = lorebookFilter.value.toLowerCase();

        return Object.values(lorebooksStore.lorebooks)
          .filter((lorebook) => {
            const isInStory = !storyLorebookIds.includes(lorebook.id);
            const titleIncludesPhrase = lorebook.title
              .toLowerCase()
              .includes(lorebookFilterPhrase);

            return isInStory && titleIncludesPhrase;
          })
          .sort((a, b) => a.title.localeCompare(b.title));
      } else {
        return Object.values(lorebooksStore.lorebooks).sort((a, b) =>
          a.title.localeCompare(b.title)
        );
      }
    });

    const selectLorebook = (): void => {
      if (selectedLorebook.value !== null) {
        stories.value[currentStory.value].lorebooks.push(
          selectedLorebook.value
        );
        selectedLorebook.value = null;
      }
    };

    const removeLorebook = (lorebook: string): void => {
      if (currentStory.value !== '') {
        const lorebookIndex =
          stories.value[currentStory.value].lorebooks.indexOf(lorebook);

        if (lorebookIndex !== -1) {
          stories.value[currentStory.value].lorebooks.splice(lorebookIndex, 1);
        }
      }
    };
    const filterLorebooks = (val: string, update: CallableFunction) => {
      update(() => {
        lorebookFilter.value = val;
      });
    };

    return {
      filterLorebooks,
      removeLorebook,
      selectLorebook,
      filteredLorebooks,
      selectedLorebook,
      stories,
      lorebooks,
      interfaceModes,
      currentStory,
      storyContextDialog,
      currentContextDialog,
      t,
    };
  },
});
</script>
