<template>
  <div class="q-gutter-sm">
    <div class="text-h6">{{ t('dungeonMasters.sessions') }}</div>

    <div>
      <q-btn
        color="primary"
        :label="t('dungeonMasters.sessionBrowser')"
        class="full-width"
        to="/sessions"
      />
    </div>

    <div>
      <q-btn
        color="primary"
        :label="t('dungeonMasters.createSession')"
        class="full-width"
        @click="dialogCreateSession = true"
      />
    </div>

    <div v-if="sessionActive">
      <q-btn
        color="accent"
        :label="t('dungeonMasters.activeSession')"
        class="full-width"
        :to="`/${currentSession?.selectedStory}`"
      />
    </div>

    <div v-if="sessionActive">
      <q-btn
        color="accent"
        :label="t('dungeonMasters.disconnectSession')"
        class="full-width"
        @click="sessionDisconnect"
      />
    </div>

    <q-separator class="q-my-md" />

    <div class="text-h6" v-if="currentSession">
      {{ t('dungeonMasters.currentSession') }}
    </div>

    <div v-if="currentSession">
      <div v-for="f in activeUsers" :key="f.uuid">
        {{ f.displayName }}
      </div>
    </div>

    <q-separator class="q-my-md" v-if="currentSession" />

    <div class="text-h6">{{ t('social.friends') }}</div>

    <div>
      <q-btn
        color="primary"
        :label="t('social.addFriend')"
        class="full-width"
        @click="dialogFriendAdder = true"
      />
    </div>

    <q-list v-if="friendsResult && !friendsLoading">
      <q-item
        v-for="u in friendsResult.friendList.users"
        :key="u.uuid"
        class="q-my-sm"
        clickable
        @click="openChatDialog(u.uuid)"
        v-ripple
      >
        <q-item-section>
          <q-item-label>{{ u.displayName }}</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="chat_bubble" color="secondary" />
        </q-item-section>
      </q-item>
    </q-list>

    <div class="text-center" v-else>
      <q-spinner-puff color="primary" size="30%" />
    </div>

    <div class="text-h6">{{ t('social.friendRequests') }}</div>

    <q-list v-if="waitingResult && !waitingLoading">
      <q-item
        v-for="u in waitingResult.waitingList.users"
        :key="u.uuid"
        class="q-my-sm"
        v-ripple
      >
        <q-item-section>
          <q-item-label>{{ u.displayName }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-btn
            icon="check"
            @click="approveUser(u.uuid)"
            color="secondary"
            flat
            round
            size="sm"
          />
        </q-item-section>
        <q-item-section side>
          <q-btn
            icon="close"
            @click="denyUser(u.uuid)"
            color="secondary"
            flat
            round
            size="sm"
          />
        </q-item-section>
      </q-item>
    </q-list>

    <div class="text-center" v-else>
      <q-spinner-puff color="primary" size="30%" />
    </div>
  </div>
  <q-dialog
    persistent
    transition-show="fade"
    transition-hide="fade"
    v-model="dialogCreateSession"
  >
    <q-card style="min-width: 480px; min-height: 360px">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">{{ t('dungeonMasters.createSession') }}</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <session-creator @opened-session="closeCreatorDialog" />
    </q-card>
  </q-dialog>
  <q-dialog
    persistent
    transition-show="fade"
    transition-hide="fade"
    v-model="dialogFriendAdder"
  >
    <q-card style="min-width: 480px; min-height: 360px">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">{{ t('social.addFriend') }}</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <friend-adder />
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { useSubscription, useMutation } from '@vue/apollo-composable';
import { useGuiStore } from 'stores/gui';
import { useDmStore } from 'stores/dm';
import { storeToRefs } from 'pinia';
import SessionCreator from 'components/online/SessionCreator.vue';
import FriendAdder from 'components/online/FriendAdder.vue';
import FriendsSubscription from 'src/subscriptions/friends';
import WaitingSubscription from 'src/subscriptions/waiting';
import AppSessionDeleteMutation from 'src/mutations/app_session_delete';
import DisconnectSessionMutation from 'src/mutations/disconnect_session';
import DenyFriendRequestMutation from 'src/mutations/deny_friend_request';
import ApproveFriendRequestMutation from 'src/mutations/approve_friend_request';

export default defineComponent({
  name: 'OnlineMenu',
  components: {
    SessionCreator,
    FriendAdder,
  },
  setup() {
    const dialogCreateSession: Ref<boolean> = ref(false);
    const dialogFriendAdder: Ref<boolean> = ref(false);
    const guiStore = useGuiStore();
    const dmStore = useDmStore();
    const { sessionActive, currentSession, isHost, activeUsers } =
      storeToRefs(dmStore);
    const { t } = useI18n({ useScope: 'global' });

    const { mutate: mutateSessionDelete } = useMutation(
      AppSessionDeleteMutation
    );

    const { mutate: mutateApproveRequest } = useMutation(
      ApproveFriendRequestMutation
    );
    const { mutate: mutateDenyRequest } = useMutation(
      DenyFriendRequestMutation
    );

    const { mutate: mutateDisconnect } = useMutation(DisconnectSessionMutation);

    const { result: friendsResult, loading: friendsLoading } =
      useSubscription(FriendsSubscription);
    const { result: waitingResult, loading: waitingLoading } =
      useSubscription(WaitingSubscription);

    const openChatDialog = (uuid: string): void => {
      guiStore.openChatDialog(uuid);
    };

    const closeCreatorDialog = () => {
      dialogCreateSession.value = false;
    };

    const sessionDisconnect = () => {
      if (isHost.value) {
        mutateSessionDelete({
          appSessionId: currentSession.value?.uuid,
        });
      } else {
        mutateDisconnect({
          appSessionId: currentSession.value?.uuid,
        });
      }
      dmStore.disconnectFromSession();
    };

    const approveUser = (uuid: string): void => {
      mutateApproveRequest({
        uuid: uuid,
      });
    };

    const denyUser = (uuid: string): void => {
      mutateDenyRequest({
        uuid: uuid,
      });
    };

    return {
      t,
      openChatDialog,
      friendsResult,
      friendsLoading,
      waitingResult,
      waitingLoading,
      dialogCreateSession,
      dialogFriendAdder,
      closeCreatorDialog,
      sessionActive,
      sessionDisconnect,
      currentSession,
      activeUsers,
      denyUser,
      approveUser,
    };
  },
});
</script>
