<template>
  <div class="fit column col q-pa-sm">
    <div class="col-auto" v-if="isSmall">
      <q-btn
        color="secondary"
        :label="t('ui.back')"
        class="full-width"
        @click="openEntry('')"
      />
    </div>
    <div class="col-auto">
      <q-tabs
        v-model="tab"
        align="justify"
        active-color="primary"
        indicator-color="primary"
      >
        <q-tab name="entry" :label="t('lorebooks.headers.entries')" />
        <q-tab name="placement" :label="t('context.headers.placement')" />
        <q-tab name="phraseBias" :label="t('phraseBias.headers.phraseBias')" />
      </q-tabs>
    </div>
    <div class="col column">
      <q-tab-panels swipeable v-model="tab" class="column col">
        <q-tab-panel name="entry" class="column col">
          <entry-form
            :lorebook="lorebook"
            :id="id"
            @open-entry="openEntry"
            class="column col"
          />
        </q-tab-panel>
        <q-tab-panel name="placement" class="column col">
          <placement-form :lorebook="lorebook" :id="id" class="column col" />
        </q-tab-panel>
        <q-tab-panel name="phraseBias" class="column col">
          <entry-phrase-bias-form
            :lorebook="lorebook"
            :id="id"
            class="column col"
          />
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>

<script lang="ts">
import { useQuasar } from 'quasar';
import { defineComponent, computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import EntryForm from 'components/lorebook/entry/EntryForm.vue';
import PlacementForm from 'components/lorebook/entry/PlacementForm.vue';
import EntryPhraseBiasForm from 'components/lorebook/entry/EntryPhraseBiasForm.vue';

export default defineComponent({
  name: 'LorebookEntryEditView',
  components: {
    EntryForm,
    PlacementForm,
    EntryPhraseBiasForm,
  },
  props: ['lorebook', 'id'],
  emits: ['openEntry'],
  setup(props, { emit }) {
    const { t } = useI18n({ useScope: 'global' });
    const $q = useQuasar();
    const tab = ref('entry');
    const openEntry = (id: string) => {
      emit('openEntry', id);
    };

    const isSmall = computed(() => {
      return $q.screen.xs || $q.screen.sm;
    });

    return {
      openEntry,
      isSmall,
      tab,
      t,
    };
  },
});
</script>
<style>
.q-panel {
  flex: 10000 1 0%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 0;
  max-height: 100%;
}
</style>
