<template>
  <div class="column q-gutter-md">
    <div class="col-auto">
      <q-input
        type="text"
        :label="t('lorebooks.headers.title')"
        v-model="lorebooks[id].title"
      />
    </div>
    <div class="col-auto">
      <q-toggle
        :label="t('lorebooks.headers.orderByKeyLocations')"
        v-model="lorebooks[id].settings.orderByKeyLocations"
      />
    </div>
    <div class="col-auto">
      <q-toggle
        :label="t('lorebooks.headers.isTemplate')"
        v-model="lorebooks[id].isTemplate"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  name: 'LorebookEditView',
  props: ['id'],
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const lorebooksStore = useLorebooksStore();
    const { lorebooks } = storeToRefs(lorebooksStore);

    return {
      lorebooks,
      t,
    };
  },
});
</script>
