<template>
  <div class="col column q-gutter-md">
    <div class="col-auto row">
      <q-input
        type="text"
        :label="t('categories.headers.categoryName')"
        v-model="lorebooks[lorebook].categories[id].name"
        class="col"
      />
      <q-toggle
        v-model="lorebooks[lorebook].categories[id].enabled"
        :label="t('ui.enabled')"
        class="col-auto"
      />
    </div>
    <div class="col-auto">
      <q-tabs
        v-model="tab"
        align="justify"
        active-color="primary"
        indicator-color="primary"
      >
        <q-tab name="defaults" :label="t('ui.defaults')" />
        <q-tab name="subcontext" :label="t('context.headers.subcontext')" />
        <q-tab name="phraseBias" :label="t('phraseBias.headers.phraseBias')" />
      </q-tabs>
    </div>
    <div class="col column">
      <q-tab-panels swipeable v-model="tab" class="col column">
        <q-tab-panel name="defaults">
          <defaults-form :id="id" :lorebook="lorebook" />
        </q-tab-panel>
        <q-tab-panel name="subcontext">
          <subcontext-form :id="id" :lorebook="lorebook" />
        </q-tab-panel>
        <q-tab-panel name="phraseBias">
          <PhraseBiasForm :id="id" :lorebook="lorebook" />
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import DefaultsForm from 'components/lorebook/category/DefaultsForm.vue';
import SubcontextForm from 'components/lorebook/category/SubcontextForm.vue';
import PhraseBiasForm from 'components/lorebook/category/PhraseBiasForm.vue';

export default defineComponent({
  name: 'LorebookCategoryEditView',
  components: {
    DefaultsForm,
    SubcontextForm,
    PhraseBiasForm,
  },
  props: ['lorebook', 'id'],
  setup() {
    const { t } = useI18n({ useScope: 'global' });
    const lorebooksStore = useLorebooksStore();
    const { lorebooks } = storeToRefs(lorebooksStore);

    const tab = ref('defaults');

    return {
      lorebooks,
      tab,
      t,
    };
  },
});
</script>
<style>
.q-panel {
  flex: 10000 1 0%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 0;
  max-height: 100%;
}
</style>
