<template>
  <div
    class="col column q-pa-sm"
    :style="`background-size: cover; background-position: center; ${
      imageContents ? `background-image: url('${imageContents}')` : ''
    }`"
  >
    <q-scroll-area class="fit col column" content-style="flex: 10000 1 0%;">
      <q-list :class="`${imageContents ? 'scenario-header' : ''}`">
        <q-item clickable v-ripple @click="createCategory">
          <q-item-section class="text-primary">
            <q-item-label>{{ t('categories.headers.create') }}</q-item-label>
          </q-item-section>
          <q-separator />
        </q-item>
        <q-item clickable v-ripple @click="createEntry">
          <q-item-section class="text-primary">
            <q-item-label>{{ t('entries.headers.create') }}</q-item-label>
          </q-item-section>
          <q-separator />
        </q-item>
        <q-item-label header v-if="currentCategory !== ''" class="row"
          ><div class="col overflow-hidden">
            {{ lorebooks[id].categories[currentCategory].name }}
          </div>
          <div class="col-auto">
            <q-btn
              size="sm"
              color="secondary"
              flat
              dense
              round
              icon="edit"
              @click="editCategory(currentCategory)"
            />
            <q-btn
              color="negative"
              size="sm"
              flat
              dense
              round
              icon="delete"
              @click="dialogDeleteCategory = true"
            />
          </div>
        </q-item-label>
        <q-item
          v-if="currentCategory !== ''"
          clickable
          v-ripple
          @click="
            currentCategory =
              lorebooks[id].categories[currentCategory].parentCategory
          "
        >
          <q-item-section class="text-secondary">
            <q-item-label> .. </q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-for="c in filteredLorebookCategories"
          :key="c.id"
          clickable
          v-ripple
          @click="currentCategory = c.id"
        >
          <q-item-section class="text-secondary">
            <q-item-label>{{ c.name }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-for="e in filteredLorebookEntries"
          :key="e.id"
          clickable
          v-ripple
          @click="openEntry(e.id)"
          :active="activeEntry === e.id"
        >
          <q-item-section>
            <q-item-label>{{ e.displayName }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>
  </div>
  <q-dialog
    v-model="dialogDeleteCategory"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card class="bg-dark text-white" style="width: 300px">
      <q-card-section class="bg-primary">
        <div class="text-h6">{{ t('categories.headers.delete') }}</div>
      </q-card-section>

      <q-card-section
        >{{ t('categories.headers.delete') }}
        {{ lorebooks[id].categories[currentCategory].name }}?</q-card-section
      >
      <q-card-section class="text-caption">
        {{ t('categories.texts.deletion') }}
      </q-card-section>

      <q-card-actions>
        <q-btn flat :label="t('ui.cancel')" v-close-popup />
        <q-space />
        <q-btn
          class="bg-negative"
          flat
          :label="t('ui.ok')"
          @click="deleteCategory(currentCategory)"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="editLorebookCategoryDialog"
    persistent
    transition-show="fade"
    transition-hide="fade"
  >
    <q-card
      class="bg-dark text-white column"
      style="min-width: 50%; height: 90%"
    >
      <q-card-section class="bg-primary col-auto">
        <div class="text-h6">{{ t('categories.headers.edit') }}</div>
      </q-card-section>

      <q-card-section class="col column">
        <lorebook-category-edit-view
          :lorebook="id"
          :id="selectedLorebookCategoryForEdit"
        />
      </q-card-section>

      <q-card-actions align="right" class="col-auto">
        <q-btn flat :label="t('ui.close')" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { QScrollArea } from 'quasar';
import { defineComponent, ref, Ref, computed, watch, onMounted } from 'vue';
import { useNaiStore } from 'stores/nai';
import { useLorebooksStore } from 'stores/lorebooks';
import { storeToRefs } from 'pinia';
import { useI18n } from 'vue-i18n';
import { useImageStore } from 'stores/image';
import { GeneratedImage } from 'stores/types';
import LorebookCategoryEditView from 'components/lorebook/LorebookCategoryEditView.vue';

export default defineComponent({
  name: 'LorebookMenu',
  components: {
    LorebookCategoryEditView,
  },
  props: ['id', 'activeEntry'],
  emits: ['openEntry'],
  setup(props, { emit }) {
    const { t } = useI18n({ useScope: 'global' });
    const imageStore = useImageStore();
    const currentCategory = ref('');
    const dialogDeleteCategory = ref(false);
    const editLorebookCategoryDialog = ref(false);
    const selectedLorebookCategoryForEdit = ref('');

    const naiStore = useNaiStore();
    const lorebooksStore = useLorebooksStore();
    const { loading } = storeToRefs(naiStore);
    const { lorebooks } = storeToRefs(lorebooksStore);
    const imageContents: Ref<string | null> = ref(null);

    const filteredLorebookCategories = computed(() => {
      const categories = lorebooks.value[props.id].categories;
      const filteredCategories = Object.entries(categories)
        .filter(
          ([_, lorebookCategory]) =>
            lorebookCategory.parentCategory === currentCategory.value
        )
        .sort((a, b) => a[1].name.localeCompare(b[1].name));

      return Object.fromEntries(filteredCategories);
    });

    const filteredLorebookEntries = computed(() => {
      const entries = lorebooks.value[props.id].entries;
      const filteredEntries = Object.entries(entries)
        .filter(
          ([_, lorebookEntry]) =>
            lorebookEntry.category === currentCategory.value
        )
        .sort((a, b) => a[1].displayName.localeCompare(b[1].displayName));

      return Object.fromEntries(filteredEntries);
    });

    const openEntry = (id: string) => {
      emit('openEntry', id);
    };

    const updateScroll = (s: { ref: QScrollArea }) => {
      if (loading.value) {
        s.ref.setScrollPercentage('vertical', 1.0);
      }
    };

    const createCategory = () => {
      const newLorebookCategory = lorebooksStore.createCategory(
        props.id,
        currentCategory.value
      );
      currentCategory.value = newLorebookCategory;
    };

    const createEntry = () => {
      const newEntryUuid = lorebooksStore.createEntry(
        props.id,
        currentCategory.value
      );

      openEntry(newEntryUuid);
    };

    const deleteCategory = (categoryId: string) => {
      dialogDeleteCategory.value = false;
      currentCategory.value =
        lorebooks.value[props.id].categories[categoryId].parentCategory;
      lorebooksStore.deleteCategory(props.id, categoryId);
    };

    const editCategory = (categoryId: string) => {
      selectedLorebookCategoryForEdit.value = categoryId;
      editLorebookCategoryDialog.value = true;
    };

    watch(
      lorebooks.value[props.id],
      () => {
        loadImages();
      },
      {
        deep: true,
      }
    );

    onMounted(() => {
      loadImages();
    });

    const loadImages = async (): Promise<void> => {
      if (lorebooks.value[props.id] && lorebooks.value[props.id].cardImage) {
        const image: GeneratedImage | null = await imageStore.getImageById(
          lorebooks.value[props.id].cardImage
        );
        imageContents.value = image === null ? null : image.content;
      } else {
        imageContents.value = null;
      }
    };

    return {
      lorebooks,
      updateScroll,
      currentCategory,
      filteredLorebookCategories,
      filteredLorebookEntries,
      createCategory,
      createEntry,
      deleteCategory,
      dialogDeleteCategory,
      editLorebookCategoryDialog,
      selectedLorebookCategoryForEdit,
      editCategory,
      openEntry,
      imageContents,
      t,
    };
  },
});
</script>
